[2020-12-17 12:07] h4ck3rone opened #673 "solved"

[2020-12-17 14:49] 0xdekster opened #675 "Getting Added Queue issue when running dirsearch over a list of urls"
Hi

I am getting this issue from some weeks and dont know why is this happening.

I run dirsearch over a list of urls using and this comes in output.

@shelld3v Please check what could i do in this issue , as this has been reported to me several time from ReconNote.

Output File: /deksterecon/dirsearch/reports/BATCH-20-12-17_14-43-57/media.redacted.com

[14:43:58] Starting:
[14:44:09] 200 -    0B

[2020-12-17 16:17] shelld3v commented on #673
If you solved this, please close it!

[2020-12-17 16:18] shelld3v commented on #675
Yeah, this is a bug, if you add the `-r` flag, it won't scan recursively. And if not, then it will. I submitted the fix and waiting to be merged!

[2020-12-17 16:23] shelld3v commented on #675
You can actually fix this, by removing the small `not` in `/lib/controller/controller.py`. (change to `if self.recursive and ...`)

[2020-12-18 14:46] chvancooten commented on #663
+1 on this issue. The lack of a `--batch` mode makes it impossible to use Dirsearch in headless scripts (which is also what I'm looking for). In my case, I would like to skip the target domain whenever a HTTP 429 is hit. This doesn't seem possible currently, so I don't see why this issue should be closed :)

[2020-12-19 07:28] c2xusnpq6 opened #676 "about disable ssl cert check / accept low strength certificate encryption"
![圖片](https://user-images.githubusercontent.com/75058881/102683752-518b6f80-420e-11eb-9b85-5202581db3f5.png)
tsl1.0 `--tlsv1.0` or `-1` ?

[code]

[2020-12-19 08:38] shelld3v commented on #676
I think dirsearch disabled certificate check by default

[2020-12-20 10:52] #661 closed

[2020-12-20 10:53] shelld3v commented on #673
Hi, please close this issue!

[2020-12-20 12:28] c2xusnpq6 commented on #676
or... how do i  force the use of tls v1.0?

[2020-12-20 12:42] shelld3v commented on #676
Well, it's not important, we can request without cert check, so tls v1.0 or no cert has no impact

[2020-12-21 23:14] #664 closed

[2020-12-21 23:16] #673 closed

[2020-12-22 03:03] TERADA-DANTE opened #681 "NameError: name 'basePath' is not defined"
### What is the current behavior?
dirsearch exposes below error.
[code]
I found this issue can be solved by editing `dirsearch\lib\connection\requester.py`, line 158, as python tells.
[I requested PR to fix this issue.](https://github.com/maurosoria/dirsearch/pull/682).

### Any additional information?
My desktop enviroments
[code]
#### Checker:
 - [X] I have read the documentation (README)

[2020-12-22 05:04] TERADA-DANTE commented on #681
This issue has been solved. #682

[2020-12-22 05:04] #681 closed

[2020-12-22 05:26] shelld3v commented on #518
Hey @gabrielcosi, can you try to run dirsearch with your default python version 3.9.0 (without setting up the `pyenv`)?

[2020-12-22 05:38] shelld3v commented on #662
Hi, can you check if targets in `listfile` are valid URLs?

[2020-12-22 12:53] #636 closed

[2020-12-22 12:53] #641 closed

[2020-12-22 12:54] #603 closed

[2020-12-22 13:54] shelld3v commented on #675
Hi, fixed

[2020-12-23 03:55] skr-rks opened #686 "Modifying the "autosave-report-format = csv" in the default.conf file does not take effect"
Use the command as python3 dirsearch.py -u http://xxx.com
But no .CSV file is generated in the report folder

[2020-12-23 04:27] c2xusnpq6 commented on #676
![圖片](https://user-images.githubusercontent.com/75058881/102959378-43916380-451a-11eb-8805-a0daf844e752.png)
but... i can't do the test...

[2020-12-23 04:53] huyndnse63331 opened #687 "Double slash in output"
### What is the current behavior?
Why i keep getting double slash on every dirsearch outputs on recent updates.

### Any additional information?
![image](https://user-images.githubusercontent.com/25204246/102960794-4d649800-4515-11eb-8bae-55163196581c.png)

Distro: macOS Catalina

OS, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [x] I have read the documen

[2020-12-23 04:57] shelld3v commented on #687
Hi, I think this is an old bug, and has been fixed in the latest version! Try to redownload again: `git clone https://github.com/maurosoria/dirsearch.git`

[2020-12-23 05:00] huyndnse63331 commented on #687
Hi again, i forgot to mention that i forgot to attach an image about cloing the repo just a few minutes ago before this issue was opened.

![image](https://user-images.githubusercontent.com/25204246/102961242-63268d00-4516-11eb-9b9a-51d67e47dc2e.png)

[2020-12-23 05:00] huyndnse63331 commented on #687
I'm uisng Python 3.9.1 btw.

[2020-12-23 05:07] shelld3v commented on #687
Can you give me the command that you are using?

[2020-12-23 05:25] huyndnse63331 commented on #687
Sure thing.

`
dirsearch -e php,html -r -R 3 --random-agent -b -w ~/wordlist/dicc.txt -t 200 -u 'https://example.com/'`

[2020-12-23 05:34] shelld3v commented on #687
You are probably using the old version for sure! Because in the latest update, the `--random-agent` flag has become `--random-user-agent`

[2020-12-23 06:19] huyndnse63331 commented on #687
Yeah thanks for mentioning that option, i checked again and i didn't call dirsearch in the correct directory, my mistake, thank you.

[2020-12-23 06:19] #687 closed

[2020-12-23 07:50] c2xusnpq6 commented on #676
firefox: `SEC_ERROR_UNKNOWN_ISSUER` @shelld3v @maurosoria

[2020-12-23 07:52] c2xusnpq6 commented on #676
curl:
[code]

[2020-12-23 07:57] c2xusnpq6 commented on #676
curl with `-1`:
[code]
@shelld3v @maurosoria

[2020-12-23 09:21] shelld3v commented on #676
I don't know what are you tesing?

[2020-12-24 02:49] zenner3000 opened #688 "URL list file not work file"
**Windows 2012  + python 3.8.3  + the latest dirsearch**
I want to scan an url list , when I execute the command like this:
**python3 dirsearch.py -e php -l urllist.txt --plain-text-report report.txt**

it shows
URL target is missing, try using -u <url>

README say use like this:
**python3 dirsearch.py -e php -l URLs.txt --plain-text-report report.txt**
but not works

but after testing on kali 202

[2020-12-24 03:41] just805 opened #689 "报错"
环境：
kali 2020.4
python3

![fy1](https://user-images.githubusercontent.com/18697510/103058375-f1fddd00-45dc-11eb-8acb-8ef75e4d2b78.png)
![fy2](https://user-images.githubusercontent.com/18697510/103058381-f3c7a080-45dc-11eb-9fdb-a9da91cb7451.png)

调用kali 自带字典大约133.4Mib，出现程序报错。
默认dirsearch 字典也出现python报错。详细截图如下：
![fy3](https://user-images.githubusercontent.com/18697510/103058387-f75b2780-45dc-11eb-98f

[2020-12-24 04:58] shelld3v commented on #688
So, has it worked yet? If yes, you can close this!

[2020-12-24 05:04] shelld3v commented on #689
嗨，我相信这个问题是Web服务器问题，而不是dirsearch。我希望您能给我FULL错误回溯。我只能从您的屏幕截图中提取一半

[2020-12-24 05:09] shelld3v commented on #686
I think this is a bug, and we will fix it soon!

[2020-12-24 08:19] just805 commented on #689
感谢作者，确实是服务器问题。我测试google 没有报错。

[2020-12-24 10:26] shelld3v commented on #689
您可以立即关闭它! :heart:

[2020-12-24 10:45] shelld3v commented on #602
Another bug: #219

[2020-12-25 00:49] #689 closed

[2020-12-25 08:58] shelld3v commented on #602
And please close this: #105

[2020-12-25 09:01] shelld3v commented on #640
I think that it is not important to use `--plain-text-report`, since the result will be automatically saved in the `BATCH-...` folder

[2020-12-25 09:08] shelld3v commented on #179
This is the server problem, not dirsearch!

[2020-12-25 09:08] shelld3v commented on #179
Please close this

[2020-12-27 04:29] shelld3v commented on #654
Hey, this is going to be fixed soon ;)

[2020-12-28 01:57] harry1080 commented on #654
ok,

[2020-12-28 12:12] shelld3v commented on #666
Can we close this now?

[2020-12-28 12:13] shelld3v commented on #675
Can we close this now!

[2020-12-28 13:08] vishnurajkv commented on #666
ok

[2020-12-28 13:08] #666 closed

[2020-12-29 02:53] #686 closed

[2020-12-29 02:54] #106 closed

[2020-12-29 02:54] #654 closed

[2020-12-29 04:59] shelld3v opened #697 "Release v0.4.2"
Waiting for this!

[2020-12-29 10:55] c2xusnpq6 commented on #676
@shelld3v I need something like `-1`

[2020-12-29 13:08] shelld3v commented on #676
-k is available by default!

[2020-12-29 13:09] shelld3v commented on #676
And I think `-1` is not important

[2020-12-29 14:15] c2xusnpq6 commented on #676
I can't start the test, if I don't get `-1`

[2020-12-29 14:19] shelld3v commented on #676
I can't understand what you tried to say. If you select a low strength encryption certificate website and try brute-forcing it with dirsearch, you will see that it works fluently!!

[2020-12-29 16:14] c2xusnpq6 commented on #676
Of course I tried before submitting here...

[2020-12-29 16:34] c2xusnpq6 commented on #676
It needed to be `TLS1.0`...

[2020-12-29 16:35] c2xusnpq6 commented on #676
And I can't scan that old website with `dirsearch`...

[2020-12-30 04:53] shelld3v commented on #676
What is the error traceback?

[2020-12-30 13:11] shelld3v commented on #190
@myalcin81 What do you think about the new 429 detection feature? I have thought again and decided not to create this, because status codes are the results of the endpoints, there is no reason why we should do this and this when hitting 403, this is a scanner to find those things, or filter those things to find other things. We should only do something when the response shows that there is a probl

[2020-12-30 13:13] shelld3v commented on #546
@soufianetahiri Fixed yet? From your screenshot, I can see that you are using an old version of dirsearch!

[2020-12-30 15:07] c2xusnpq6 commented on #676
@shelld3v ```
sudo python3 dirsearch.py --max-retries 3 --random-user-agent --full-url -e hidden --timeout 10 -w "hidden" -r -R 10 -t 10 -u "https://xx.xx.xx.xx/"

  _|. _ _  _  _  _ _|_    v0.4.1
 (_||| _) (/_(_|| (_| )

Extensions: hidden | HTTP method: GET | Threads: 10 | Wordlist size: 278071

Error Log: /root/dirsearch/logs/errors-hidden.log

Target: https://xx.xx.xx.xx/

There was a problem

[2020-12-30 15:10] shelld3v commented on #676
Were you able to visit https://xx.xx.xx.xx:443/ from your browser?

[2020-12-31 09:10] luapy commented on #640
Ok, Thanks

[2020-12-31 09:10] #640 closed

[2020-12-31 09:44] shelld3v commented on #201
Hi @ctrlsam 🖐️, This feature has been implemented in the latest version. You can close this issue now!

[2020-12-31 11:09] c2xusnpq6 commented on #676
I told u before bro.... ^^'' it's ok, but you need to click the ~`ignore` button

Firefox:
![圖片](https://user-images.githubusercontent.com/75058881/103407952-86e37600-4b9b-11eb-82b2-96929efe9e82.png)

[2020-12-31 11:12] c2xusnpq6 commented on #676
It needs `-1` I guess

[2020-12-31 12:27] maurosoria commented on #697
What do you prefer, last year or new year relase?

[2020-12-31 14:01] shelld3v commented on #697
Well, new year 🎉

[2021-01-03 14:30] maurosoria commented on #697
Let's wait a couple of days with these new PRs until we are sure everything is alright.

[2021-01-03 14:31] shelld3v commented on #697
🙏

[2021-01-03 20:02] myalcin81 commented on #190
@shelld3v hey, I haven't tested the latest features yet. I didn't mention forcing the tool to scan while you are getting 429 responses from useless websites.
My request was about configuring the tool for the next action of HTTP status codes, and it seems capable of doing it well now. I will let you know after review it.
Thanks. I think we can close the issue. Further feedbacks should be opened in

[2021-01-03 20:02] #190 closed

[2021-01-04 04:53] shelld3v commented on #190
I haven't created your feature yet, because it's seemed not useful in my opinion! I am creating other detections for some specific status codes, like 429!

[2021-01-04 04:56] shelld3v commented on #190
I think you misunderstood my comment. I mean, I created the 429 detection feature (v0.4.1) + I decided not to create something like what you said (actions by status codes)!

[2021-01-04 11:30] shelld3v commented on #697
Requirements:
- [ ] Update README
- [ ] Update CHANGELOG.md
- [ ] Update controller.py
- [ ] Update argument_parser.py
- [ ] Tweet!

[2021-01-04 15:00] shelld3v commented on #201
Please close this!!!

[2021-01-04 15:03] shelld3v commented on #182
Can you explain more about this?

[2021-01-04 18:12] notdodo commented on #182
Hi!

Sorry it's been a long time and I don't know if I recall this issue correctly or it's not applicable in dirsearch.
What I meant was: some site uses a custom page for 404 that respond with a "200 OK" (not a 404 http status) that contains the text "page not found" or some custom header.
What I need to do: I know that the a blank "page not found" has a content-length of 300 (for example); using

[2021-01-05 04:59] shelld3v commented on #182
I will do this soon for sure. But, I can see that you can use the `--exclude-sizes` flag. Also, by default, dirsearch does an advanced wildcard testing, so probably 200 with a custom 404 page will be filtered!

[2021-01-05 05:13] 0xdekster commented on #675
Yes @shelld3v

[2021-01-05 05:13] #675 closed

[2021-01-05 09:07] notdodo commented on #182
Ok thank you, I think we can close the issue

[2021-01-05 11:05] shelld3v commented on #182
Not yet!

[2021-01-06 14:18] shelld3v opened #712 "Alert Alert!!! A dirsearch vulnerability!!!!"
Recently, a group of awesome hackers found a CSV Injection vulnerability in dirsearch, which allows website owners to hack dirsearch users who try to hack their websites 🤣🤣🤣

This is a serious vulnerability and I'm not kidding, we need to fix this soon! 👿

Link:
- https://www.exploit-db.com/exploits/49370
- https://twitter.com/ExploitDB/status/1346792766580219905

### What is the current behavior?

[2021-01-06 14:20] shelld3v commented on #712
## Exploitation

A company that is running a bug bounty program can make a dummy endpoint that will redirect the user to something like `/test,={SHELL COMMAND}` and hack bug bounty hunters' personal computers

[2021-01-06 17:31] c2xusnpq6 commented on #676
@shelld3v

[2021-01-07 00:59] #712 closed

[2021-01-07 06:09] shelld3v commented on #676
I have no idea why should I do this! People haven't seen any problem with SSL in dirsearch for years, so I don't know why you are facing this. I even don't know is it an SSL problem or not, and how to fix this (I disabled cert check, what else to do?)! I maybe need to investigate more!!

[2021-01-09 12:13] shelld3v commented on #574
Hi @as7r0nu11, can you close this issue now?

[2021-01-12 06:30] teamssix opened #723 "There seems to be a bug when I export the CSV table"
When I use the -l command and --csv-report command together, the exported CSV table will look like this:

![image](https://user-images.githubusercontent.com/49087564/104276547-0cdab780-54e0-11eb-80a4-1e6ba3407da0.png)

The command I used is:
[code]
I am using the latest version
[code]

[2021-01-12 12:47] shelld3v commented on #723
Hi, there is currently a bug in the reporting feature when you brute-force an URL list, we have already known this. We are investigating it and will fix it soon. Now, you can access dirsearch reports for targets in the BATCH folder (you can see its location in the output when you start dirsearch)

[2021-01-12 12:51] teamssix commented on #723
Ok, looking forward to the new version, great

[2021-01-12 12:51] #723 closed

[2021-01-13 14:59] shelld3v commented on #172
You can close this now!

[2021-01-14 23:17] c2xusnpq6 commented on #676
With and without `-1`:
https://github.com/maurosoria/dirsearch/issues/676#issuecomment-749993128
https://github.com/maurosoria/dirsearch/issues/676#issuecomment-749994896

with `-1`: it works
without `-1`: it doesn't

[2021-01-15 01:59] shelld3v commented on #676
Hi, sorry for being so late! I am trying to find a way to fix this.

[2021-01-15 02:06] shelld3v commented on #676
Hi, can you give me any website that has a low strength certificate? So I can do more tests for my fix!!

[2021-01-15 07:06] c2xusnpq6 commented on #676
send me ur email addr then~ thx ^^

[2021-01-16 16:06] code401-id opened #727 "Brute force stucked"
before the update I have used this tool and I really like it, but after I updated I got a lot of errors when starting the brute force, I used the latest version on Android via the Termux application, does termux support python3?

[2021-01-16 16:12] shelld3v commented on #727
Can you give me the error message (traceback)?

[2021-01-16 16:15] code401-id commented on #727
Wait i take a screnshoot

[2021-01-16 16:18] shelld3v commented on #616
Hi, sorry for being late! After a google search, I found that the newer version of Android no longer supports multithreading! I can do nothing about this for you guys :(

[2021-01-16 16:23] shelld3v commented on #616
I think I just said something wrong! See https://github.com/termux/termux-packages/issues/570 for more information!!

[2021-01-16 16:25] code401-id commented on #727
@shelld3v

![Screenshot_2021-01-16-23-23-01-934_com termux](https://user-images.githubusercontent.com/77542114/104817152-03d84600-5852-11eb-9c80-774ff2ba8122.png)

[2021-01-16 16:35] shelld3v commented on #727
Hi, this is an Android problem, and there isn't any solution for this yet!

From what I found:

[2021-01-16 17:11] code401-id commented on #727
very helpful and made me understand the explanation of the problem I was experiencing, thank you have a nice day

[2021-01-16 17:20] shelld3v commented on #727
Have a nice day and a nice year too! Don't forget to close this issue if it has been solved ;)

[2021-01-16 17:21] vikramn99 commented on #616
Thanks for information

[2021-01-17 09:44] tomasz-kusy opened #729 "TypeError: separation() takes 2 positional arguments but 3 were given"
Hi,
I made git pull (to current commit 9b4bb83b254a9d04854e7ffff89b9052507fd1a6).
Unfortunately I have error:
`
Traceback (most recent call last):
  File "./dirsearch.py", line 47, in <module>
    main = Program()
  File "./dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "/root/dirsearch/lib/controller/controller.py", line

[2021-01-17 10:15] shelld3v commented on #729
Hey, it will be fixed after this PR get merged: #728

[2021-01-17 18:58] Facucuervo87 commented on #729
same error solved with git reset --hard 18d47e2

[2021-01-17 23:34] gshacklebolt commented on #729
Thanks brother. This seems to fix the issue for now.

[2021-01-18 05:56] novanazizr opened #730 "Error when running dirsearch"
### What is the question?
When i running dirsearch, its returning an error

What do you like to ask about?
How to fix it

### Any additional information?

Kali Linux 2020.4, dirsearch:v0.4.1, Python 2.7.18,

### Input command :

python3 dirsearch.py -e php,html,js -u http://mytarget.com

### Output :

Traceback (most recent call last):
  File "/home/cold/Priv8Tools/dirsearch/dirsearch.py", line 47

[2021-01-18 06:17] dungpx196 commented on #730
Error might be from new merge. Try lastest tag before new master branch is ok
git checkout v0.4.1

[2021-01-18 06:55] shelld3v commented on #730
Hi, this has been addressed and will be fixed soon!

[2021-01-18 08:07] ZanderChang opened #731 "Error when pip3 install -r requirements.txt on macos 11.1 with M1 chip"
### What is the question?

Something wrong happened when executing `pip3 install -r requirements.txt` on macos 11.1 with M1 chip.

### Any additional information?

[code]

#### Checker:
 - [x] I read the documentation (README)

[2021-01-18 08:08] tomasz-kusy commented on #730
Duplicate of #729

[2021-01-18 17:49] endangalfarisi opened #732 "TypeError: separation() takes 2 positional arguments but 3 were given"
### What is the current behavior?

What actually happens?
![Screenshot_6](https://user-images.githubusercontent.com/77636302/104948573-5f015a00-5972-11eb-88c8-eef435dcae1e.png)

### Any additional information?

python 3

#### Checker:
 - [ ] I tested in the latest version of dirsearch

[2021-01-18 22:54] yehgdotnet commented on #732
@endangalfarisi

Try
``git reset --hard 18d47e2``

[2021-01-19 04:57] shelld3v commented on #732
Duplicate of #729

This will be fixed soon!

[2021-01-19 06:29] ftk-sostupid commented on #729
That's an error because of: lib/output/cli_output.py, line 182

`def separation(self, config, x):`

Lack of a "self".

[2021-01-19 19:47] AyOnEs04 opened #736 "Python overwrites some PyPi packages when installing dirsearch with setup.py"
I'm having this error when I run it with a non root user, I've tried doing it with `sudo` as well but I had the same error prompt
![dirsearcherror](https://user-images.githubusercontent.com/64980361/105084809-e4653700-5a64-11eb-9395-e83b44ac8edc.jpg)
[dirsearchError.txt](https://github.com/maurosoria/dirsearch/files/5838254/dirsearchError.txt)

[code]
I tried to review the error log but doesn't ex

[2021-01-20 01:03] #727 closed

[2021-01-20 01:04] #729 closed

[2021-01-20 01:04] #730 closed

[2021-01-20 01:04] #732 closed

[2021-01-21 07:41] oldlazycat commented on #676
Is the problem solved, and how?I have the same problem here, macos big sur, version 0.4.1, example:
python dirsearch.py -u https://xx.x.x.x:8081/

  _|. _ _  _  _  _ _|_    v0.4.1
 (_||| _) (/_(_|| (_| )

Extensions: php, asp, aspx, jsp, html, htm, js | HTTP method: GET | Threads: 20 | Wordlist size: 11793

Error Log: XXX/dirsearch-0.4.1-alpha/logs/errors-21-01-21_15-30-04.log

Target: https://xx.

[2021-01-21 09:50] shelld3v commented on #676
Hey @oldlazycat, I don't think port 8081 is served for HTTPS service! Try `http://xx.xx.xx.xx:8081`

[2021-01-21 23:31] #574 closed

[2021-01-22 01:15] oldlazycat commented on #676
It doesn't have to be port 443, you can specify any port, and it is https://xx.xx.xx.xx:8081

[2021-01-22 05:01] shelld3v commented on #676
Try opening https://xx.xx.xx.xx:8081 in your browser and you will know it is HTTP or HTTPS

[2021-01-22 05:14] oldlazycat commented on #676
<img width="968" alt="图片" src="https://user-images.githubusercontent.com/38553854/105449560-98f49800-5cb3-11eb-9950-a38c6ff9cfe0.png">

[2021-01-22 15:34] sahil0012 commented on #574
Hack hidden wifi help me

[2021-01-23 01:37] w2n1ck commented on #170
me too

[2021-01-23 19:47] kotireddyaluri opened #738 "Gettin Error for --raw=file options - AttributeError: 'NoneType' object has no attribute 'strip'"
Please look into this issue, I have tried in ubuntu and mac, getting same error. Thank you.
[code]

[2021-01-23 19:56] kotireddyaluri opened #739 "Is it possible to exit the dirsearch on 429 response code automatically"
Hi Guys,
Is it possible to exit the dirsearch automatically when it encounter 429 response code. for example like `exit-on-429 ` option
[code]

Thank you.

[2021-01-24 03:50] shelld3v commented on #738
Hi, Can I see the content inside `target_req.txt`?

[2021-01-24 06:29] kotireddyaluri commented on #738
Thank you for the quick reply. sure, here is the target_req.txt

[code]

[2021-01-24 07:04] shelld3v commented on #738
Hi, this will be fixed soon!!

[2021-01-24 07:08] shelld3v commented on #602
@maurosoria

[2021-01-25 11:16] shelld3v commented on #688
Please close this if you fixed it!

[2021-01-25 11:18] shelld3v commented on #124
Please close this!

[2021-01-26 14:24] c2xusnpq6 commented on #676
bruh....

[2021-01-26 14:29] shelld3v commented on #676
Hi, sorry, but I haven't found a fix that can fit all the requirements yet (this may need a lot of updates), and I am in my break, so I can't fix it now. I hope I can get back soon!! Meanwhile, you can hack other things, right ;)

Happy Lunar New Year! (not yet, but will be soon)

[2021-01-26 14:35] c2xusnpq6 commented on #676
it's fine~ thx ^^

[2021-01-26 16:20] #731 closed

[2021-01-26 16:20] #738 closed

[2021-01-27 00:20] maurosoria commented on #219
https://github.com/maurosoria/dirsearch/issues/105

[2021-01-27 00:21] #105 closed

[2021-01-27 00:21] #180 closed

[2021-01-27 00:22] maurosoria commented on #152
https://github.com/maurosoria/dirsearch/issues/105

[2021-01-27 00:23] maurosoria commented on #697
Check the branch refactor, I didn't test it yet (the fix for the urllib3 dependency)

[2021-01-27 00:25] maurosoria commented on #676
Hello folks,

If you can give me at least one host with the same issue, I'd probably be able to fix it.

You can write me via email or twitter.

Regards,
Mauro

[2021-01-27 03:57] kotireddyaluri commented on #738
Thank you @shelld3v and @maurosoria for the quick fix. it is working now.

[2021-01-27 04:56] #602 closed

[2021-01-27 05:04] shelld3v commented on #697
Hey, it seems okay. But when I hit `CTRL+C`, it takes really long to pause the process!!

I think we need to test more before merging that branch, and we can release the new version now ;)

[2021-01-28 02:35] c2xusnpq6 commented on #676
Can I get your email address? THX

[2021-01-28 05:56] bootyhunt3r commented on #739
I want it to skip the target when 429 code is achieved , it would be really helpful because yesterday I ran the script thinking it would be completed but today I saw it was struck on a subdomains because of 429. It would be really helpful if it skips the subdomain or targets out of many when the 429 code is achieved.

[2021-01-28 06:00] bootyhunt3r commented on #739
Like skip-on-429

[2021-01-28 07:08] kotireddyaluri commented on #739
Yes, skip-on-429 will be more helpful instead of exit-on-429

[2021-01-28 08:36] shelld3v commented on #739
Hi, thanks for your suggestions. But I wanna ask a question: what if the user forgot to use that flag? The terminal will be flooded!!

[2021-01-28 08:54] kotireddyaluri commented on #739
I mean if dirsearch is running with -l (--url-list) then skip the current url-target for 429 status and continue with next url-target.
if it is exit-on-429, I thought it may exit dirsearch completely without continue with the next url-target.

I think like this ==> skip-current-target-on-429

[2021-01-28 09:00] bootyhunt3r commented on #739
Yep , it can be skip-current-target-on-429

[2021-01-28 09:07] shelld3v commented on #739
Hi, thanks! This will be implanted in the next release (after v0.4.2). But do you have a good error message for this? What I am thinking about: `Skipped the target due to 429 status code`

[2021-01-28 09:16] shelld3v commented on #739
Also, should we set `skip-on-429` to True by default or to False?

[2021-01-28 09:20] shelld3v commented on #219
Close this?

[2021-01-28 09:29] bootyhunt3r commented on #739
Yeah "Skipped the target due to 429 status code" is a good error response.
And for the command , "skip-on-429" is good itself, you should set this to true by default.

[2021-01-28 09:36] shelld3v commented on #739
I am seeing if I can add this to v0.4.2, because whenever there is a new update, there will be a delay for the new release

[2021-01-28 09:49] bootyhunt3r commented on #739
Yeah man , please try to implant this feature in v0.4.2 , it would be really helpful.
Thank you.

[2021-01-28 11:48] shelld3v commented on #663
Hi, good news: this has been addressed and will be fixed in the next release. Thanks for your request 🎉

[2021-01-28 12:59] bootyhunt3r commented on #663
Any idea when will the update be released ?

[2021-01-28 14:55] shelld3v commented on #663
A few days more

[2021-01-29 02:17] joekazama opened #743 "traceback errors with dirsearch in kali"
when i try using dirsearch, it gives me these problems.
i am not sure if i messed up some python dependencies or...

Traceback (most recent call last):
  File "dirsearch.py", line 47, in <module>
    main = Program()
  File "dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "/PyEnvironments/Py3.8.4/dirsearch/lib/controller/co

[2021-01-29 04:52] shelld3v commented on #743
Hi, try running with `sudo` (root permission)

[2021-01-29 18:19] #663 closed

[2021-01-29 18:19] #739 closed

[2021-01-30 01:54] joekazama commented on #743
i think it works now.   silly me.  thanks

[2021-01-30 03:51] shelld3v commented on #743
You can close this now :)

[2021-01-30 03:55] shelld3v commented on #736
Hi, what is the error message when you run with `sudo`? I think you can move your dirsearch to another folder that doesn't require root permission

[2021-01-30 04:58] #743 closed

[2021-02-01 13:25] c2xusnpq6 commented on #676
ping? @maurosoria

[2021-02-02 06:04] maurosoria commented on #676
You should be able to see it in my profile

```maurosoria at protonmail dot com```

[2021-02-03 03:11] c2xusnpq6 commented on #676
https://stackoverflow.com/questions/62306296/how-to-use-tls-1-0-with-python-3-8

[2021-02-07 22:10] qumusabel commented on #736
I think I have the same issue, `Couldn't create the error log. Try running again with highest permission`. The version is 4.1, installed from AUR. I really don't feel like running this with root privileges.

[2021-02-10 16:55] bootyhunt3r opened #753 "New Suggestion"
Hello Team ,
So I have a suggestion for the dirsearch , so from my experience , whenever I run run dirsearch on a target and it throws a file greater than 10-15 mbs , the bruteforced directories doesn't work , so can you add a feature to like discard the target if the file exceeds 10 mb ? That would be a really cool feature in my opinion , what do you think ?

[2021-02-10 22:00] Lucifer733 opened #754 "I fixed this issue please give me my money"
Please close this if you fixed it!

_Originally posted by @shelld3v in https://github.com/maurosoria/dirsearch/issues/688#issuecomment-766743970_

[2021-02-10 22:02] Lucifer733 commented on #754
Yes I fixed  this issue  please  give me my money

[2021-02-10 22:09] #754 closed

[2021-02-10 22:11] Lucifer733 commented on #754
Do you hard work I support you

[2021-02-10 22:14] Lucifer733 commented on #94
Please switch of your phone and wait few mints and I I fixed your problems

[2021-02-11 00:23] #688 closed

[2021-02-11 01:42] shelld3v commented on #753
Hmmm! Sounds good

[2021-02-11 01:47] shelld3v commented on #754
lol

[2021-02-11 06:18] bootyhunt3r commented on #753
Yeah , it would be a really helpful feature.

[2021-02-11 07:26] shelld3v commented on #753
We love new feature ideas!! Feel free to give us some ;) This seems like a bug rather than a feature request

[2021-02-11 07:36] bootyhunt3r commented on #753
So , will you be doing something on this thing ?
Thank you in advance tho.

[2021-02-11 07:58] shelld3v commented on #753
Of course, this is our job =)

[2021-02-11 11:53] bootyhunt3r commented on #753
Thanks , and any idea till when this update will be implemented ? Just a rough idea.

[2021-02-11 12:43] shelld3v commented on #753
Idk, it usually takes a few minutes or an hour, rarely few days. But, it's almost Lunar New Year's Eve right now in my country, I can't fix it right now! I think it will be 3 days after

[2021-02-11 21:12] alfonsocaponi opened #755 "proxy option VS http_proxy var in .bashrc"
If I specify option --proxy=1.1.1.1:1234 but I've "http_proxy=http://2.2.2.2:8888" var configured in .bashrc,
http_proxy var wins on proxy option... dirsearch will use 2.2.2.2 proxy :(

Is that correct or a bug?

[2021-02-12 03:47] shelld3v commented on #755
That seems like a system behavior. Nothing we can do with this!

[2021-02-12 03:47] shelld3v commented on #755
Close this if it has been done

[2021-02-12 13:01] Zeecka commented on #86
-u option with `user:passwd@domain` doesn't work for me, I got `Invalid port number: <passwd>@<domain>`.
Test case: `dirsearch -u "http://user:passwd@httpbin.org/basic-auth/user/passwd"`

I think that WWW-Authenticate should be sufficient.

What about Digest Auth / NTLM Auth ? (thirdparty requests package seems to support such authentication).

[2021-02-12 13:38] shelld3v commented on #86
@Zeecka You say right! My bad, need to check again and add this option!

[2021-02-12 13:42] shelld3v commented on #753
Hey @bootyhunt3r, did you see any error traceback? If yes, can u pls post it here?

[2021-02-12 14:01] bootyhunt3r commented on #753
Did you implante this ?

[2021-02-12 14:05] shelld3v commented on #753
Haven't yet.

[2021-02-12 14:10] bootyhunt3r commented on #753
No, I have not seen any error ...

[2021-02-12 14:13] shelld3v commented on #753
It only gets stuck?

[2021-02-12 16:36] bootyhunt3r commented on #753
Yeah ..it's getting struck sometimes

[2021-02-12 18:00] magup007 opened #756 "python3 dirsearch.py -u https://target"
### What is the current behavior?

What actually happens?

### What is the expected behavior?

What it should be instead?

### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [x] I tested in the latest version of dirsearch

[2021-02-14 02:51] shelld3v commented on #753
Hey, I just forgot, you can currently use the `--maximal` flag. I don't know does it work or not, but, why don't give it a try? :)

[2021-02-14 04:07] bootyhunt3r commented on #753
This is for the stuck issue ?

[2021-02-14 07:12] shelld3v commented on #753
yeah

[2021-02-16 07:40] bootyhunt3r commented on #753
Hello bro , I hope you are well !!
Have you started working on that issue ?

[2021-02-16 07:50] shelld3v commented on #753
Sorry, forgot about that. I'm going to do it now!!

[2021-02-16 07:50] bootyhunt3r commented on #753
COol !!!

[2021-02-16 07:51] shelld3v commented on #753
But we also need to do some tests to find the root cause, do you have any website that can cause this stuck?

[2021-02-16 07:52] shelld3v commented on #753
Can you do some screenshots?

[2021-02-16 07:57] shelld3v commented on #756
Spam

[2021-02-16 07:59] shelld3v commented on #753
Did the `--maximal` flag work?

[2021-02-16 08:11] bootyhunt3r commented on #753
I am actually not really sure how to use maximal flag ..can you help ?

[2021-02-16 08:42] shelld3v commented on #753
`python3 dirsearch.py -e php -u https://example.com --maximal 10000000`

[2021-02-16 09:04] alfonsocaponi commented on #755
Mmhhh is there a chance to "unset var" inside python code and to use --proxy option value?

[2021-02-16 09:31] shelld3v commented on #755
I think no!

[2021-02-16 13:27] bootyhunt3r commented on #753
Hey man , i don't know why vut whenever I am using my dirsearch on my vps with the screen , it is automatically getting killed , what could be the reason , any idea ?

[2021-02-16 15:06] shelld3v commented on #753
You can try to copy terminal output and paste it here!

[2021-02-16 15:07] shelld3v commented on #753
Hmm, you didn't have that problem before?

[2021-02-16 15:10] bootyhunt3r commented on #753
No actually, there was no problem earlier,  i don't whether it's the site or what , but am trring with less threads , let's see how it goes with it.

[2021-02-17 10:07] bootyhunt3r commented on #753
Hey man ,
SO I think it's working good now , I turned down the threads to 50 , now waiting for that update of yours.

[2021-02-17 10:36] shelld3v commented on #753
Well, I need to reproduce this! An example of a target?

[2021-02-17 11:21] bootyhunt3r commented on #753
I was testing this on a private programme, but slso on un.org

[2021-02-17 11:23] shelld3v commented on #753
What is the path cause stuck in **un.org**

[2021-02-18 04:54] bootyhunt3r commented on #753
Hey sorry for the late reply , seems like it is working good now, no worries.

[2021-02-18 05:29] shelld3v commented on #753
Close this?

[2021-02-18 05:53] bootyhunt3r commented on #753
No i think you got somethin wrong , I want the update to like , if the file size exceeds 5 or 10 mb , stop it at 10 mb. You got it ?

[2021-02-18 05:57] bootyhunt3r commented on #753
The issue that I told you at the beginning

[2021-02-18 06:10] shelld3v commented on #753
What about that `--maximal` flag? Have you tried it?

[2021-02-18 06:24] bootyhunt3r commented on #753
I tried but i don't think that works , can you also try that ?

[2021-02-18 14:08] shelld3v commented on #753
I need the path that will cause the stuck on **un.org** to can reproduce!

[2021-02-19 14:21] f00d4w0rm4 opened #759 "Is there a way to automatically add redirects to the recursive queue?"
When I used the default wordlist, it did not add gallery/ to the queue, but when I used a custom wordlist it did?  There was nothing in the error log.  I set recursive to true in default.conf.

[code]

[2021-02-19 15:18] shelld3v commented on #759
Hey, can you try: `dirsearch.py -u http://192.168.87.91 -w /usr/share/wordlists/dirbuster/directory-list-2.3-medium.txt -f`?

[2021-02-19 15:27] f00d4w0rm4 commented on #759
Is that different from what I did originally?

[2021-02-20 21:09] wdahlenburg opened #762 "Batch Reports with Pretty Formatting"
### What is the feature?

Dirsearch has several methods of ingesting multiple urls to run at one time (stdin or via a list). When these modes are used, there is an individual report written to reports/\<host>/ or reports/BATCH*/\<host>. A user can also specify a report type (simple, plain, json, xml, markdown, csv).

It would be great if when you specified the report type that a single "pretty" re

[2021-02-21 02:25] shelld3v commented on #762
Hi, currently there is a bug that I am trying to fix, is that when you use `--json-report report.json` with a list of URLs, you will only get the report for one host! I will try to fix this soon!

[2021-02-22 05:11] bootyhunt3r commented on #753
Hey sorry for the late reply , my laptop was broken :c
I am not getting what are you asking , what do you mean by path ?

[2021-02-22 07:43] shelld3v commented on #753
I mean, there is a path, for example `/download` that when you hit it: `http://un.org/download`, it will return a huge response body, and make dirsearch stuck! If you don't know that path, you can let me know the wordlist you used.

[2021-02-22 09:38] bootyhunt3r commented on #753
I used your in tool's wordlist , nothing out of anywhere.

[2021-02-22 10:28] shelld3v commented on #753
Okay, I will check this soon

[2021-02-24 22:14] Lucifer733 commented on #759
Keep it you doing right

[2021-02-25 04:33] shelld3v commented on #759
Sorry for the late reply, the difference can be read in the [doc](https://github.com/maurosoria/dirsearch#about-wordlists)

[2021-02-25 04:42] shelld3v commented on #759
I was unable to reproduce your problem in my local machine:

[code]

[2021-02-25 05:54] bootyhunt3r commented on #753
Hey man , hope you're okay !
Are you looking into the enhancement ? And any idea till when you would be able to give this feature ?

[2021-02-25 06:37] shelld3v commented on #753
Hey, I was able to reproduce it, but will take time to fix this stuff, remember that I also have my personal life. You can now dirsearch other hosts, until I fix this

[2021-02-25 06:42] shelld3v commented on #201
Hi, can you close this issue Sam?

[2021-02-25 06:46] ctrlsam commented on #201
Yep will do, sorry I missed you message before :)

[2021-02-25 06:46] #201 closed

[2021-02-25 07:07] shelld3v commented on #753
Hi there, my debugger shows that there is a connection error, not because of the response size. This is the server problem

[2021-02-25 10:13] alfonsocaponi opened #764 "HTML title during enumeration"
It would be very useful collect and report the HTML title during entrypoint enumeration.
I don't know if easy to make...
What do you think? :)

[2021-02-25 10:59] shelld3v commented on #764
Hi, this is super easy to make, but the problem is it will make the output looks dirty

[2021-02-25 11:36] alfonsocaponi commented on #764
True, but if it were **optional**... :)
For example, putting title in square brackets. Just a note, remove "multi spaces" (keep only single spaces) and "carriage return":

200 -   17KB - https://example.com:443/docs/ **[Apache Tomcat 8 (8.5.29) - Documentation Index]**

In my opinion it would be an added value during bug bounty activities! :)

[2021-02-25 11:39] shelld3v commented on #764
Browsing an URL is one of the most basic skills in bug bounty hunting! You can't do it;)

[2021-02-25 11:56] shelld3v commented on #764
That fact that we can make tons of optional flags, but it will just flood the dirsearch flags. We only focus on important things, and remember that even you see the title, browsing that endpoint is still a must-do action

[2021-02-25 12:20] f00d4w0rm4 commented on #759
I just looked at my notes from boxes I completed after that and it looks like it's working just fine.  Sorry I should have checked for this earlier.  I know I ran -t 100 so maybe that's what the issue was, however the error log was empty.  I'll just chalk this up to a one off.  Thanks for your reply!

In case you still want it:
[code]

[2021-02-25 12:26] shelld3v commented on #759
Hi, thanks for your response, but I believe 100 threads is not the root cause. Btw, if it was fixed, then you can close this

[2021-02-25 13:06] alfonsocaponi commented on #764
Yes, I agree with you. It would just be a way to filter through large numbers :)

[2021-02-25 17:41] f00d4w0rm4 commented on #759
I thought it was just a fluke because it was working in the past few boxes I looked at but I'm doing one right now and came across the same issue.  Do you know why images was added to the queue but moodle wasn't?

[code]

I noticed that in your reproduction, "(Added to queue)" is directly after the 301 redirect line, whereas mine are on the next line.  I tested --remove-extensions thinking my outp

[2021-02-25 17:46] f00d4w0rm4 commented on #759
I just looked in the db/dicc.txt wordlist and I see now that there are two different lines for images and images/.

I added / to the extension list and that solved the issue!

[2021-02-25 17:52] f00d4w0rm4 commented on #759
Sorry, I spoke too soon...it looks like double // get added to the queue so the same subdirs are returned along with some errors.
[code]

[2021-02-26 04:21] shelld3v commented on #759
@f00d4w0rm4 Are you using the latest version of dirsearch?

[2021-02-26 04:40] f00d4w0rm4 commented on #759
Yeah, 0.4.1 right? For now I'm doing -f --exclude-status=403 to get the results I'm looking for but I feel like there might be a better way to do it. I still don't get "added to queue" on the same line as the 301s.

[2021-02-26 05:45] shelld3v commented on #759
It's so weird that from your last comment, I saw an old bug that was fixed a long time ago. Can you re-git the project?

[2021-02-26 15:42] zongdeiqianxing opened #765 "[bug] When calling dirsearch in other scripts, ‘The wordlist file does not exist’ error will be reported"
![image](https://user-images.githubusercontent.com/34082644/109321543-37b07d80-788c-11eb-97e7-81c92fef2514.png)

![image](https://user-images.githubusercontent.com/34082644/109321315-fae48680-788b-11eb-9470-9c5a214bd7bc.png)

[2021-02-26 16:08] shelld3v commented on #765
The wordlist is located at `db/dicc.txt`. Can you check if it's still there?

[2021-02-27 01:04] zongdeiqianxing commented on #765
The problem is that the dictionary path is a relative path, so that the dictionary path cannot be found when calling dirsearch in other projects.

for example , When I add this line of code, the program will continue to execute, but there will still be errors later
![image](https://user-images.githubusercontent.com/34082644/109370198-458cef80-78da-11eb-8b13-3d118262a000.png)

![image](https://user

[2021-02-27 01:41] #765 closed

[2021-02-27 04:32] shelld3v commented on #765
First, I want to suggest u to update your dirsearch. Second, what would be the solution for this (do you think)?

[2021-02-27 04:51] shelld3v commented on #753
Hey, can you check back? I believe that the server is delaying the response, not the response is too huge

[2021-02-28 22:17] BlackDiverX opened #766 "Many duplicate records in report files"
When use flag `-l` in report files many duplicates (for big sites in gigabytes):
Example command, for bug output:

./dirsearch.py -l /domains.txt -t 10 -w /opt/wordlist.txt -i 200,301,302

Example reports catalog file output:

Example file: dirsearch/reports/BATCH-<date-time>/domain

`Time: Mon Mar  1 01:13:42 2021

200     4KB  https://domain:443/!.htpasswd
Time: Mon Mar  1 01:13:42 2021

200

[2021-03-01 01:56] shelld3v commented on #766
Hi, this has been fixed for a while, please update your dirsearch

[2021-03-02 18:36] BlackDiverX commented on #766
i'm use latest version (`git clone https://github.com/maurosoria/dirsearch`)
Bug remained after remove folder with dirsearch and new clone repo.

[2021-03-03 05:03] shelld3v commented on #766
I confirmed this bug

[2021-03-03 05:12] shelld3v commented on #762
Hey, the fact that you can edit the batch reports format, by editing `default.conf`. But there is currently a bug: #766

[2021-03-03 12:59] shelld3v commented on #762
You can close this now

[2021-03-03 15:46] f00d4w0rm4 commented on #759
Sorry for the late response, I tried that but the problem persists.  I'm running it as a user with zsh and tried to su to root but that didn't work either.  It's not a huge deal though as I can still get the desired behavior to work with the default wordlist by using -f --exclude-status=403, but I'd be happy to try anything else you recommend.

[2021-03-03 16:02] shelld3v commented on #759
What is your wordlist? Default one?

[2021-03-03 17:03] f00d4w0rm4 commented on #759
When you don't use -w isn't the default wordlist db/dicc.txt?

[2021-03-03 18:08] wdahlenburg commented on #762
Hey @shelld3v the ```default.conf``` is a great addition for common options, however this issue was intended to update reports with a common format when multiple hosts are requested.

Currently with the first example I gave will get something like the following for a list of urls:

[code]

The format works fine for a single host, but is repetitive and unfriendly to parse for multiple hosts in a si

[2021-03-04 04:56] shelld3v commented on #762
I may not understand what do u mean, but please change the `autosave-report-format`

[2021-03-04 04:59] shelld3v commented on #759
Hey, I just realized that the current latest version is 0.4.2, not 0.4.1, please update it

[2021-03-04 08:00] bootyhunt3r commented on #766
@BlackDiverX , can you tell me how to remove these duplicates ? I am also having this issue , the output file size is going into gigabytes which is pretty useless.

[2021-03-04 14:14] shelld3v commented on #766
Hey @bootyhunt3r, this is a bug, and I submitted a PR to fix this. But, I contacted @maurosoria and it looks like he is having a lot of problems to resolve and can't merge PRs now. So please be patient @bootyhunt3r

[2021-03-04 14:15] BlackDiverX commented on #766
i'm use:
`cat domains.txt | while read in; do ./dirsearch -u $in -w wordlist.txt ; done`

[2021-03-04 14:25] wdahlenburg commented on #762
I'll draft up a PR in the next few days and tag it back to this. I'll include some comparisons with the output of the master branch vs the PR branch.

The jist is that multiple json blobs are being written instead of a singular blob. Basically the batch report should loop through the results for each host and print them in a single report instead of multiple.

[2021-03-06 04:25] bootyhunt3r commented on #766
@BlackDiverX  , can you also tell me the whole dirsearch command please ?  It would be really helpful , thanks.

[2021-03-06 04:36] bootyhunt3r opened #769 "Need a general help"
Hello Team ,
I saw that you have updated with that desired update of response size , but is there any way to exclude file outputs which are greater then 5MB or my desired size using --exclude-sizes or --exclude-regexps  ? Because with --exclude-sizes we have to type every size manually , can it also be like 5MB- Infinite ?

[2021-03-06 10:30] shelld3v commented on #769
Try `--maximal 5242880` (**5242880B = 5MB**)

[2021-03-06 10:31] shelld3v commented on #759
Please close this

[2021-03-06 11:38] bootyhunt3r commented on #769
Sure , I'll try this out.

[2021-03-06 12:09] shelld3v commented on #769
And close it then:)

[2021-03-07 14:18] bootyhunt3r commented on #769
hello team ,
I don't this tag does the work , I used this as you said and it is still exceeding the 5MB limit
![Screenshot (13)](https://user-images.githubusercontent.com/68128478/110242897-17647b00-7f7e-11eb-8e34-bc34312bbe23.png)

[2021-03-07 14:52] shelld3v commented on #769
Hmmm, try reducing the `--maximal` flag! I think I converted MB -> B incorrectly

[2021-03-07 15:16] bootyhunt3r commented on #769
Should it be  " --maximal 5"  ?

[2021-03-07 15:27] bootyhunt3r commented on #769
No i think it's somewhat close to 5 , but it still didn't work .

[2021-03-07 16:34] shelld3v commented on #769
No, not 5, 5 means 5B, and u want 5MB

[2021-03-07 18:58] bootyhunt3r commented on #769
yea.....so what exactly will be the command ?

[2021-03-08 04:49] bootyhunt3r commented on #769
![Screenshot (14)](https://user-images.githubusercontent.com/68128478/110275751-b2e60200-7ff7-11eb-881f-71a677da375f.png)

[2021-03-08 04:49] bootyhunt3r commented on #769
it's the right value what u had told me

[2021-03-08 05:04] shelld3v commented on #769
Hmm, the `--maximal` flag should work, but I don't know why this is going the wrong way! The `--maximal` counts words, I think you should convert MB to words (how many words), not sure how.

[2021-03-08 05:44] bootyhunt3r commented on #769
Ah man ! I really need this to work for my recon , please try to find a solution for this whenever you're free.
Thanks in advance !

[2021-03-09 05:06] shelld3v commented on #769
Hi, sorry for the late delay. I converted MB to words and this: 65000

[2021-03-09 05:07] shelld3v commented on #769
Sorry, this: 320000

[2021-03-09 06:35] bootyhunt3r commented on #769
So , the final command will be "--maximal 320000" , ryt ?

[2021-03-09 13:16] bootyhunt3r commented on #769
Okay , I have given the command for my dirsearch recon , lets see if this works !

[2021-03-09 19:21] bootyhunt3r commented on #769
Hey @shelld3v , I tried this and I think this is working !!!!!!!!!!!!
Thank you so much for the help , I'll let you know if I face any problem , again , thank you !

[2021-03-10 04:52] shelld3v commented on #769
That's good!! I will try to fix your other problems when I have time, but remember that if it's related to code, then the fix won't be implemented right now, because Mauro Soria is so busy right now. And don't forget to close this ;)

[2021-03-10 14:26] halfluke opened #771 "--proxy option ignored in latest version?"
### What is the current behavior?
no request goes through burp when running for example
python3 dirsearch.py -u https://www.google.com  -e txt,log,bak,zip --proxy 127.0.0.1:8080

### What is the expected behavior?
I would expect to see requests logged in Burp...

### Any additional information?
https://github.com/maurosoria/dirsearch/issues/246 closed issue as a reference
running dirsearch as root

[2021-03-10 15:38] shelld3v commented on #771
Hi, I tested a few minutes ago with the latest commit of dirsearch and everything worked fine! Can you give your command?

[2021-03-10 16:45] halfluke commented on #771
Hmm exactly the one that I put on top. Could it be an environmental issue? It is a brand new kali...

[2021-03-10 20:15] qszx opened #772 "Suggest"
Hope to integrate into kali

[2021-03-11 04:55] shelld3v commented on #772
Hi, I have already asked them, and they said that they were working on it (It has been 2 months since they told me that)! Don't know how long will the delay be!

[2021-03-11 10:38] bootyhunt3r commented on #769
hello  @shelld3v , I thought earlier that it worked , but I ran the script with your maximal flag , and it's still not working

[2021-03-11 10:38] bootyhunt3r commented on #769
The output files are still going in 47mb , 50mb+

[2021-03-11 10:56] shelld3v commented on #769
Hey, I think we need to clarify a bit. Are you talking about **MB** or **Mb**? the output size is in **MB**, or **Mb**?

[2021-03-11 11:42] bootyhunt3r commented on #769
I am talking about Megabytes

[2021-03-11 11:43] shelld3v commented on #769
Are you sure the responses are in MB and not Mb?

[2021-03-11 11:47] shelld3v commented on #771
Try these things:
- git clone dirsearch again
- Make sure there isn't `http_proxy` var in .bashrc
- Check the proxy config

If you don't mind: Did the scan work? Or it got stuck?

**Thanks**

[2021-03-11 11:55] bootyhunt3r commented on #769
Yep , they are in MB

[2021-03-11 12:23] halfluke commented on #771
the scan worked ignoring the proxy, but look... I've found something:
latest version: the proxy is ignored if the url is with https, but not with http.
version 0.3.9: the proxy is never ignored.
Any chance you can repro this?

root@kali:~/dirsearch# python3 dirsearch.py -u https://www.google.com -e html,txt,log,bak,js --proxy 127.0.0.1:8080

  _|. _ _  _  _  _ _|_    v0.4.1
 (_||| _) (/_(_|| (_| )

[2021-03-11 14:18] shelld3v commented on #771
Hmm, the latest version is 0.4.2!

[2021-03-11 14:19] shelld3v commented on #755
Hi, actually we could, but we don't know if this is a good idea or not? Do users really like to see dirsearch overwrite the Linux system proxy?

[2021-03-11 14:32] halfluke commented on #771
Downloadable from where sorry? I've just cloned it again and:
root@kali:~/Downloads/dirsearch# python3 dirsearch.py --version
dirsearch v0.4.1

[2021-03-11 15:06] shelld3v commented on #771
Ph, my bad, I thought we released v0.4.2! I will check back this soon

[2021-03-11 15:06] shelld3v commented on #759
Oh, my bad, the latest version is 0.4.1! Sorry so much, but can you git clone dirsearch again?

[2021-03-13 15:09] bootyhunt3r commented on #769
Hey , any update on this one ?

[2021-03-13 15:59] shelld3v commented on #769
From what I found on the Internet:

[code]

With your tests, there is something really weird, that I can't understand! I think there maybe a problem with your reproduce steps, but I have no idea what is that! Sorry but I can't help you right now, but I will soon do some tests with that flag when I have time, can you give me the target?

[2021-03-13 20:07] Phoenix1112 opened #773 "dirsearch Can it be used with the burp suite?"
hello. thanks for this project.. can we use dirseach with burp suite?? So can we proxy dirsearch results to the burp suite program?

[2021-03-14 03:15] shelld3v commented on #773
Yeah, of course. You can use the `--proxy` option, set to `127.0.0.1:8080`. OR, you can use the `--replay-proxy`, to proxy only requests with paths that have been found interesting, not all requests. I strongly advise you to use the `--replay-proxy` (Set it to `127.0.0.1:8080` too)

[2021-03-14 04:44] bootyhunt3r commented on #769
Sure , I am testing on *.allegro.pl

[2021-03-16 19:00] RocketNinja15 opened #775 "Report Success on Errors"
### What is the current behavior?
Example:  https://schoop.app/php

It reported that as true, but if you visit it, it will say Error-Not Found

### What is the expected behavior?
It not display those as true.
What it should be instead?
Look for error or page not found
### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...?
[code]
#### Checker:
 - [

[2021-03-16 23:16] barrett092 commented on #86
Would love to see this feature.

[2021-03-17 04:57] shelld3v commented on #86
The maintainer of the project is busy now, so my PR can't be merged. It will take a couple of days, please be patient

[2021-03-17 05:08] shelld3v commented on #775
Hi, thanks for your issue. This is proof of how bad the current wildcard filter works. And 2 months ago, as soon as I saw this behavior, I sent the maintainer a PR with a really good wildcard check function as a replacement for the old one, but he said that it isn't reliable, and can't make sure it won't have any further issue. I and he are still having a conversation about that PR, but I believe

[2021-03-17 05:46] zane-programs commented on #775
Dude, who are you and why are you trying to get into my stuff? If you want to talk about how it works, I'd be happy to chat, but it seems like you're intentionally trying to break into Schoop. What's your deal???

[2021-03-17 10:14] shelld3v commented on #775
Btw, you are doing this in the wrong way, must be: `python dirsearch.py -u https://schoop.app/ ...` (`https`, not `http`)

[2021-03-17 16:31] bootyhunt3r commented on #769
Hey , hello @shelld3v , I hope you are doing okay. Just wanted to ask if you came up with some solution to that problem ?

[2021-03-17 20:11] #775 closed

[2021-03-18 22:09] Phoenix1112 commented on #773
thanks <3

[2021-03-19 04:59] shelld3v commented on #773
You can close this now

[2021-03-19 11:53] #773 closed

[2021-03-24 13:05] bootyhunt3r commented on #769
you there buddy ?

[2021-03-24 13:13] shelld3v commented on #769
Hi @bootyhunt3r,

I was so busy and tired with exams, sorry for the late reply. I just checked back, and 1 MB = 500000 word, not 65536, so can you try this: `--maximal 2500000`

[2021-03-24 13:16] bootyhunt3r commented on #769
sure , i'll try it out just right now .

[2021-03-24 16:17] L10nK1n6 opened #776 "recursion"
The alpha version of recursion seems to have some problems. The -r option is now turned on by default?

[2021-03-24 16:22] shelld3v commented on #776
Yeah, I advice you to install dirsearch with this command: `git clone https://github.com/maurosoria/dirsearch`, not install dirsearch by release.

[2021-03-25 15:15] hcjcn opened #777 "Support html report"
Support html report, the purpose is to more conveniently show the results of sensitive catalog discovery to customers. The html report includes the following fields: http status code, length, url, html title, redirect url. Thank you very much

[2021-04-01 07:46] benjgos opened #778 "dirsearch v0.4.1 user-agent config seems broken"
### What is the current behavior?

Trying to change the user agent from either command line --user-agent= or from the default.conf file doesn't actually change the user-agent. It's always "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"
note that using --random-agent also doesn't seem to change anything. i would assume it would go

[2021-04-01 09:14] shelld3v commented on #778
Hi, the fix has been submitted in my PR #749. It will take several days more to get it merged, because @maurosoria is currently busy now. Thank you for your patient

[2021-04-02 02:41] lealcb opened #779 "Ever File in lib comes with UpperCase in the first letter"
With that comes some error like

  File "dirsearch.py", line 28, in <module>
    from lib.controller import Controller
  File "D:\dirsearch-master\lib\controller\__init__.py", line 1, in <module>
    from .controller import *  # noqa: F401
ModuleNotFoundError: No module named 'lib.controller.controller'

I just rename it all to lowerCase and fix the issue.

[2021-04-02 06:11] shelld3v commented on #779
Hi, what version are you using?

[2021-04-03 09:02] #467 closed

[2021-04-04 13:54] m4ll0k opened #780 "add .well-known/uas-traffic-management/utm.jwks"
add .well-known/uas-traffic-management/utm.jwks in dict

[2021-04-04 16:35] shelld3v commented on #780
Why don't you submit a PR?

[2021-04-04 16:47] #780 closed

[2021-04-06 01:52] benjgos opened #781 "exit on -max-time"
### What is the feature?

Would be great if dirsearch could exit after an x amount of minutes.

### What is the workflow?

if dirsearch hasn't exited by X it exits with a message stating exited due to max-time reached (or whatever)

### What is the use case?

there are web servers that have rate limiting set so dirsearch will scan a batch, pause for a few seconds, scan a batch, etc... on local net

[2021-04-06 02:10] benjgos opened #782 "endless loop?"
### What is the current behavior?

i'm seeing this happen when scanning a confluence server on a local network:

[code]

For context - a new run shows as:
[code]

Please let me know what additional info you need to look into this.

### What is the expected behavior?

dirsearch seems to recognize this as additional nested folders to test (seems infinite at the moment)
-R might mitigate this as a st

[2021-04-06 05:01] shelld3v commented on #781
Hi, that has already in my TODO list, and can easily be implemented with some lines of code. But I want to release dirsearch v0.4.2 first

[2021-04-06 06:13] shelld3v commented on #782
Hi @benjgos,

This is an expected behavior, that whenever an endpoint ends with `/`, returns a unique response, it will be added to the queue. We have nothing to do with this, but you can add that endpoint to `default.conf` (`exclude-subdirs = YOUR_PATH/`) to prevent it from being added to the recursion queue

[2021-04-06 10:14] benjgos commented on #781
excellent thanks. currently i'm doing it with the timeout command in bash, but it's not quite as graceful as it could be.

[2021-04-06 10:21] benjgos commented on #782
Thanks for your response.
Unfortunately that's not an option as i test too many separate servers and never know when i'm going to hit it. I guess i'll just have to set -R and an execution timeout and hope the / path is at the end of the findings so that i don't miss anything it would have done when it was finished with this path.

[2021-04-06 11:20] #550 closed

[2021-04-06 11:23] shelld3v commented on #759
Hi @f00d4w0rm4, can you remove the current dirsearch and then try gitting it again? I believe it can fix your issue

[2021-04-06 11:27] shelld3v commented on #781
This is our TODO list: https://github.com/maurosoria/dirsearch/issues/384

[2021-04-07 11:37] #766 closed

[2021-04-07 11:42] shelld3v commented on #776
Hi @L10nK1n6,

This is an old bug, please update your dirsearch

[2021-04-08 09:05] shelld3v commented on #756
@maurosoria can you close this?

[2021-04-09 22:59] OldMohamm opened #783 "Request timeout:"
### What is the current behavior?

  _|. _ _  _  _  _ _|_    v0.4.1
 (_||| _) (/_(_|| (_| )

Extensions: php, aspx, jsp, html, js | HTTP method: GET | Threads: 30 | Wordlist size: 10861

Error Log: C:\Users\asus\Desktop\dirsearch\logs\errors-21-04-10_01-53-51.log

Target: https://www.example.com/

Output File: C:\Users\asus\Desktop\dirsearch\reports\www.example.com\_21-04-10_01-54-13.txt

[01:54:1

[2021-04-10 05:01] shelld3v commented on #783
Hi, we have nothing to do with this, this is the server-side problem, the website server didn't respond in time. First, please check if you still can access the web page from your browser, if the webserver is up, then try running dirsearch again with a bigger timeout (using the `--timeout` flag)

Thanks,
Minh

[2021-04-10 05:02] shelld3v commented on #769
Hi @bootyhunt3r, how it's going?

[2021-04-10 05:03] shelld3v commented on #771
Hi @halfluke,

I checked back and the proxy feature is working well, can you try to git clone this again? Thank you!

[2021-04-10 05:06] shelld3v commented on #759
Can you give me the error traceback?

[2021-04-10 05:09] shelld3v commented on #777
Hi, sorry for the late reply, this has already on my TODO list, but the problem is that I am looking for a good public JS library allows me to create a beautiful page without too much coding

[2021-04-10 05:11] shelld3v commented on #755
Do you mind closing this if you don't have any further question?

[2021-04-10 05:11] #697 closed

[2021-04-10 14:42] OldMohamm commented on #783
Thanks

[2021-04-10 14:42] #783 closed

[2021-04-10 20:33] halfluke commented on #771
It looks good now. Did you fix it with a recent change in the code or .. no idea? :)

[2021-04-11 00:54] shelld3v commented on #771
I didn't do anything =) Can you close this issue?

[2021-04-11 05:15] halfluke commented on #771
so weird... now it behaves properly and if Burp is not started I simply get
Error with the proxy: http://127.0.0.1:8080
in all cases.
Same Kali machine as before. Oh well...

[2021-04-11 05:15] #771 closed

[2021-04-11 12:13] shelld3v commented on #782
Hi, can you close this? I will try to find a good solution for this but it's looked like we can't do it now:(

[2021-04-11 12:23] shelld3v commented on #263
Hi @mikely22, can you retest with the latest commit of dirsearch?

[2021-04-11 12:46] benjgos commented on #782
Possibly a future fix.

[2021-04-12 00:59] #267 closed

[2021-04-12 00:59] #778 closed

[2021-04-12 00:59] #781 closed

[2021-04-14 13:09] shelld3v commented on #489
Hello @Viss,

I just released a new feature that allows you to perform calibration on a specified page. This is not the best solution for your problem (the "calibration depth level" is the best feature to fix this problem, which will be implemented on dirsearch soon 👌), but still can be used to help you in this situation. The feature I talked about is `--exclude-content`, by adding this argument i

[2021-04-15 03:02] blinddn0va opened #792 "Potential bug when specifying a subdirectory with caps in it?"
### What is the current behavior?
Currently, when dirsearching "http://localhost:8080/WebGoat" the app will break (see below). But it will work with "http://localhost:8080/webgoat". Unfortunately for me WebGoat only works camelcase style. You cannot access the app with "webgoat". Only WebGoat.

### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...

[2021-04-15 04:52] shelld3v commented on #792
Hi, this will be fixed soon (after my PR gets merged)!

[2021-04-15 17:17] blinddn0va commented on #792
Well that was fast. You fixed it before I even reported it :)

[2021-04-16 12:52] alfonsocaponi opened #794 "--request-by-hostname bug"
I tested in the latest version of dirsearch with "--request-by-hostname" options:

**# python3.6 /dirsearch/dirsearch.py --url-list=list.txt -b**

Traceback (most recent call last):
  File "/dirsearch/dirsearch.py", line 47, in <module>
    main = Program()
  File "/dirsearch/dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File

[2021-04-16 12:53] alfonsocaponi commented on #755
Close it. Thank you

[2021-04-16 13:10] alfonsocaponi commented on #794
--proxy option with the same problem? :(

[2021-04-16 14:38] shelld3v commented on #755
Why didn't you close it?

[2021-04-16 14:39] shelld3v commented on #794
Hi, this is a bug and will be fixed after my PR gets merged. Now, you can only brute-force URLs that do not redirect you

[2021-04-17 15:13] barrett092 commented on #794
Yeah I get the same issue

[2021-04-18 03:18] gprime31 opened #795 "dirsearch 0.4.1 latest git pull crash"
[23:17:03] Starting:
Traceback (most recent call last):
  File "dirsearch.py", line 47, in <module>
    main = Program()
  File "dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "/opt/tools/dirsearch/lib/controller/controller.py", line 249, in __init__
    self.prepare()
  File "/opt/tools/dirsearch/lib/controller/controller

[2021-04-18 04:06] shelld3v commented on #795
Duplicate of #792

[2021-04-18 04:06] shelld3v commented on #795
Please close this

[2021-04-18 04:28] gprime31 commented on #792
It's not fixed

[2021-04-18 04:30] gprime31 commented on #795
Not going to fix?

[2021-04-18 04:30] #795 closed

[2021-04-18 04:42] shelld3v commented on #792
I sent the fix, waiting to be approved by @maurosoria

[2021-04-18 04:51] G0mini opened #797 "bug"
python3 dirsearch.py -u http://127.0.0.1:8800/ -w jsp_min.txt

Traceback (most recent call last):
  File "dirsearch.py", line 47, in <module>
    main = Program()
  File "dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "C:\dirsearch-0.4.1-alpha2\lib\controller\controller.py", line 249, in __init__
    self.prepare()
  File

[2021-04-18 04:54] #797 closed

[2021-04-18 04:57] gprime31 commented on #792
Ok, awesome.

[2021-04-18 07:51] Yashwanthd1998 commented on #729
still same issue

[2021-04-18 07:55] shelld3v commented on #729
Hi @Yashwanthd1998, this is a sooo old issue that has already been fixed in the latest version. Please re-install dirsearch

[2021-04-19 11:57] j7ur8 opened #799 "No module named 'urllib3', use docker run"
<img width="584" alt="image" src="https://user-images.githubusercontent.com/39992635/115232594-79053100-a149-11eb-9672-f25b7f6d5432.png">

[2021-04-19 14:15] shelld3v commented on #799
Hi, have you followed steps from https://github.com/maurosoria/dirsearch#support-docker

[2021-04-19 14:47] j7ur8 commented on #799
Sure, i have tried many times.  And i use Apple M1, i think this is not the reason.

[2021-04-20 09:13] shelld3v commented on #759
Hi, how are you doing with dirsearch? Have you fixed the issue yet?

[2021-04-20 11:44] gprime31 opened #800 "[Feature request] req/s counter"
Hi, first of all great tool !!!
could you put a request per second counter along side the % done and Error counters? because with 200 threads i'd like to know how many req/s are happening.
Thanks, keep up the great work!!!!

[2021-04-20 13:12] shelld3v commented on #800
Not a bad idea, I have already thought about it, but the progress bar will be longer and more complex, while I am trying to keep it simple. I will take a look at this to see if it's possible. Thank you for your contribution! Feel free to submit more ideas, I love them, and our tool needs them 👍

[2021-04-20 13:14] gprime31 commented on #800
No problem, keep up the amazing work!!!!

[2021-04-20 13:40] shelld3v commented on #800
Well, I did it. This is the output, what do you think?

[code]

[2021-04-20 13:40] gprime31 commented on #800
I like it!! thank you.

[2021-04-20 13:42] shelld3v commented on #800
I am still thinking more before making the decision

[2021-04-20 14:59] shelld3v commented on #546
Any update?

[2021-04-20 16:37] soufianetahiri commented on #546
Couldn't reproduce!
Thanks for keeping an eye on this !

[2021-04-20 16:37] #546 closed

[2021-04-21 00:13] #792 closed

[2021-04-21 00:13] #794 closed

[2021-04-21 02:04] shelld3v commented on #799
Can you try this: `pip uninstall urllib3 && pip install urllib3`

I also found this answer, don't know if it's helpful: https://stackoverflow.com/a/60037834/12238982

[2021-04-21 02:05] shelld3v commented on #776
Have you fixed this?

[2021-04-21 02:15] #756 closed

[2021-04-21 02:15] #772 closed

[2021-04-21 02:15] #776 closed

[2021-04-21 02:38] shelld3v commented on #198
Hi, this has been implemented with the flag: `--skip-on-status`. So please close this issue!

[2021-04-21 03:59] maurosoria commented on #800
Maybe is time to erase "Last request to:" ...

[2021-04-21 07:00] shelld3v commented on #800
But it looks good!

[2021-04-21 07:49] shelld3v commented on #34
Wait, that guy stole our tool name in PyPi, is that illegal?

[2021-04-21 07:56] shelld3v commented on #111
@zsahi maybe because all of them returned 404?

[2021-04-21 08:13] shelld3v commented on #172
Hi, this feature has been implemented for a while. Please close this if it has been done! Thank you

[2021-04-21 08:16] shelld3v commented on #676
From that link, you can fix this with `pip install urllib3[secure]`

[2021-04-21 08:54] shelld3v commented on #176
Hi, do you need anything else? Or should we close this?

[2021-04-21 09:26] blshkv commented on #176
Yes, setup.py is still pending

[2021-04-21 09:27] gprime31 commented on #800
Perhaps a flag then?? -req

[2021-04-21 10:19] shelld3v commented on #800
I think it's okay to add it to the progress bar

[2021-04-21 10:20] shelld3v commented on #176
I don't know much about `setup.py`! Feel free to submit a PR for it

[2021-04-21 11:06] shelld3v commented on #176
I was able to create `setup.py`. PR will be submitted soon!

[2021-04-21 11:27] c2xusnpq6 commented on #676
I'll take a look later, THX!

[2021-04-21 11:34] c2xusnpq6 commented on #676
[code]

[2021-04-21 12:30] shelld3v commented on #94
You can edit `default.conf`

[2021-04-21 14:58] gprime31 commented on #800
Awesome, can't wait to try it!!!

[2021-04-22 12:11] #86 closed

[2021-04-22 12:11] #800 closed

[2021-04-22 12:12] #176 closed

[2021-04-22 18:29] JierdanEntreri opened #806 "Error in scanner.py when searching some urls"
I don't want to label this as a bug because i'm not 100% sure its not something I'm doing that is causing the error, or if there is something wrong with my build.

OS:
PRETTY_NAME="Kali GNU/Linux Rolling"
NAME="Kali GNU/Linux"
ID=kali
VERSION="2021.1"
VERSION_ID="2021.1"
VERSION_CODENAME="kali-rolling"
ID_LIKE=debian
ANSI_COLOR="1;31"
HOME_URL="https://www.kali.org/"
SUPPORT_URL="https://forums.ka

[2021-04-22 19:49] JierdanEntreri commented on #806
issue resolved. When i first found the issue with v0.4.1 i decided to upgrade to the alpha2 by downloading the release and installing, which didnt resolve the issue, so I assumed it wasn't the version. After testing with no sucess i completely deleted my repo and reinstalled through command line, and everything is now working as intended.

[2021-04-22 19:49] #806 closed

[2021-04-23 03:05] ChinaBoyJerry opened #807 "base on window10,the dirsearch sacnning innerweb,and the explored the port,but show in the powershell,when the tips tell me the source code having error,about 'noqa' and 'urllib3',allright,I needing your consult me."
### What is the current behavior?

What actually happens?

### What is the expected behavior?

What it should be instead?

### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [ ] I tested in the latest version of dirsearch

[2021-04-23 03:06] #807 closed

[2021-04-25 13:31] shelld3v commented on #314
Hi, I decided to actually implement this:))))) But the workflow is gonna different: The user will be able to create a template, and whenever the response matches that regex, the user will be notified!! I am still fighting for a beautiful output with this feature, but will be soon! I had thought that the user can visit the link directly, but the fact that when you brute-force a huge list of website

[2021-04-26 05:15] DarkRed777 opened #812 "Verbose mode? (feature request)"
Hello Folks!
Lots of improvements had been made to dirsearch! Kudos for this Guys! I really enjoyed while playing with new version! (v0.4.1)

For me it seems only missing functionality is a: Verbosity.
I think that would be really nice to see such output (via verbose mode enabled of course) while applying forced browsing using dirsearch:
Especially  status-code, response size may be usefull (for i

[2021-04-26 06:05] hanchen666 opened #813 "Some URLs can be scanned and some will report errors"
![图片](https://user-images.githubusercontent.com/35289748/116035962-78fcb800-a698-11eb-9e11-b19882cc57fd.png)

[2021-04-26 06:07] maurosoria commented on #813
Hello @hanchen666 ,

Can you update to last version? There was a similar issue recently that was already patched. If the problem persist, please inform us.

Regards,
Mauro

[2021-04-26 06:12] hanchen666 commented on #813
I downloaded dirsearch-0.4.1-alpha, but the problem still exists
<img width="1011" alt="图片" src="https://user-images.githubusercontent.com/35289748/116036480-5ae38780-a699-11eb-86eb-57cf52391239.png">

[2021-04-26 06:14] maurosoria commented on #813
Download the last version from git:

https://github.com/maurosoria/dirsearch/archive/refs/heads/master.zip

[2021-04-26 06:18] hanchen666 commented on #813
Thank you. My problem is solved

[2021-04-26 06:18] #813 closed

[2021-04-26 06:20] maurosoria commented on #812
Hello @DarkRed777 ! How are you doing?

I always though that a debugging view would be helpful for development more than a "Feature".

What fields or elements do you whink are important for a verbose output?

[2021-04-26 08:08] DarkRed777 commented on #812
Hello Dear, Maurosoria !  Thank you very much for your reply! <3
Well, I agree with you regarding debugging purposes but it's also usefull while real pentests. IMHO adjustable verbosity gives a clear image of what's going on; **returned status codes, current URL, response size** should be enough i think.
I have lots of cases when i needed to see status code and response size for each request durin

[2021-04-26 08:19] DeC1pher opened #814 "HTTPS Scan SSL Warning"
### What is the current behavior?

While Scanning a https-Site I get following Error

[code]

### What is the expected behavior?

Running without errors.

Cheers

[2021-04-26 08:35] shelld3v commented on #814
Hi, have you installed dirsearch with the latest commit?

[2021-04-26 08:37] shelld3v commented on #812
Right now, dirsearch is printing status code, human-readable size, URL and redirect. What do you expect more?

[2021-04-26 08:38] DeC1pher commented on #814
Hello @shelld3v ,

yes, just cloned to another vm today.
`git pull` shows me up2date.

[2021-04-26 08:45] shelld3v commented on #814
Hi, thanks! I got it, do u mind give me a target for testing? So I can confirm the fix

[2021-04-26 08:48] DeC1pher commented on #814
Hello @shelld3v,

sounds great, unfortunately I have no special https target but you can see the issue on every request it doesn't matter which site.

[2021-04-26 08:53] Horridge commented on #814
Came to report the same issue using latest release, but it looks like you're already on it. Agree with the above that any target has the same result;
/home/USER/.local/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.facebook.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthe

[2021-04-26 08:56] DarkRed777 commented on #812
Hello shelld3v.
Well, i can't see them? (There is **no response size and status code in this stage**) (v (latest): v0.4.1)
Please note that: *This is from ongoing forced browsing:*: that's why i'm asking such a usefull feature --verbose flag.

1) Screenshot: https://i.ibb.co/n31nKBp/1.png
(https://ibb.co/CJ9MS6L)

Thanks in advance!

[2021-04-26 09:03] shelld3v commented on #812
LOL, probably this is the first time you use dirsearch. The reason that you haven't seen anything is that dirsearch hasn't found any interesting endpoints. Only the results are printed with status codes and sizes

Welcome to dirsearch!

[2021-04-26 09:09] DarkRed777 commented on #812
LMAO) Dear @shelld3v! dirsearch is my evert daily tool)
It seems you don't understand me why am i asking --verbose flag.
I need --verbose flag only for *ongoing forced browsing* to print *returned status codes, current URL, response size* for each *ongoing request* (it doesn't matter dirsearch found || not found anything).
Got it?

[2021-04-26 09:14] shelld3v commented on #812
You meant the `... - Last request to: ...`?

[2021-04-26 09:33] DarkRed777 commented on #812
Yes!
To make a clear please take a look to the following output: (*this is from wfuzz*)
That's why i'm looking --verbose flag)
Hope that makes sense.

$ python wfuzz.py --filter="(c!=404)" -c -z file,wordlist/general/megabeast.txt http://192.168.0.102/FUZZ
********************************************************
* Wfuzz 2.1.5 - The Web Bruteforcer                      *
***************************

[2021-04-26 09:50] shelld3v commented on #812
There are 3 reasons I can't agree with you:
- The progress bar runs too fast, even we print in out, it's almost impossible for the users to read it
- Adding such information will make the progress bar too long, and bugs will come in play
- I can't find the use cases for this

The output now is pretty good, right?
[code]

[2021-04-26 10:06] DarkRed777 commented on #812
Well,

*"The progress bar runs too fast, even we print in out, it's almost impossible for the users to read it"
**Agree, but we can pause and scroll up. (Assuming in verbose mode they will be print-out from up to down? (without clobbering))**

*Adding such information will make the progress bar too long, and bugs will come in play*
**Just printing them from up to down?**

*I can't find the use cas

[2021-04-26 10:21] DarkRed777 commented on #753
BTW, in such scenarios you may try HEAD HTTP verb (default is GET). That may help, give a try anyways.
--http-method=HEAD

[2021-04-26 11:36] shelld3v commented on #812
How do you pause?

I can't understand this. Can you give me an example of the output?

The fact that dirsearch can do this for us. It performs calibration whenever we start a scan

[2021-04-26 13:45] DarkRed777 commented on #812
1) **How do you pause?**
CTRL+C ?
Program may ask us:
**[e]xit / [c]ontinue  [Change verbosity level]: 0**

(If you familiar with "sqlmap" you may see it also supports changing verbosity level *on-fly*). So people can change verbosity level =0, 1, N... (onfly))

2) **I can't understand this. Can you give me an example of the output?**
As an example here is default output from wfuzz. Everyting prin

[2021-04-26 14:29] shelld3v commented on #812
calibration = adjusting filters to clean wildcard results

[2021-04-26 15:23] DarkRed777 commented on #812
Yep!)

Auto-callibration may suck.   (Sorry)
Use case:
Suppose you dirbusting real website. Dirsearch's callibration etc are automatically applied. Ok
Lovely Blue team notices forced browsing to the website and denies access to website || applies some ACL (via .htaccess).
Now website returns 403 status code to your every request.
Your dirbusting goes .... as nothing had happened. **Until now you b

[2021-04-26 16:42] soapffz commented on #814
Same situation as using the latest version
`python dirsearch.py -t 50 -u https://xxxx --random-agent -e * -f -x 400,404,500,503,514,564`

`C:\Miniconda\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'ip.ip.ip.ip'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usag

[2021-04-26 19:22] gprime31 commented on #814
easy fix:
https://devnote.in/insecurerequestwarning-unverified-https-request/
add to dirsearch.py:

from urllib3.exceptions import InsecureRequestWarning #added
import requests
import urllib3

requests.packages.urllib3.disable_warnings(category=InsecureRequestWarning) #added

save and enjoy no errors!!!!!

[2021-04-26 19:57] git-oaktree commented on #814
The above works. Submitted a Pull Request using gprim31's comments above. If you want to copy and paste the code, here is the code:

Begin under the author's name ( Mauro Soria) and end before the  Program Class declaration.

[2021-04-26 19:57] gprime31 commented on #814
![2021-04-26_15-57](https://user-images.githubusercontent.com/44535257/116142610-1b706780-a6a8-11eb-8af1-c5861881bdde.png)

[2021-04-26 19:57] gprime31 commented on #814
just copy this ^^^^

[2021-04-26 20:47] #814 closed

[2021-04-28 02:12] blshkv commented on #176
ok, I tested and it works fine. Thanks!

[2021-04-28 04:01] shelld3v commented on #176
Close this?

[2021-04-28 06:11] hanchen666 opened #817 "Some URLs of HTTPS report errors"
<img width="1045" alt="图片" src="https://user-images.githubusercontent.com/35289748/116355051-dffea600-a82b-11eb-909c-618a8ac2b4a1.png">

[2021-04-28 06:13] shelld3v commented on #817
Hi, this has been fixed in the latest commit!

[2021-04-28 06:22] hanchen666 commented on #817
Problem solved, thank you

[2021-04-28 06:34] shelld3v commented on #817
Close this?

[2021-04-28 06:40] hanchen666 commented on #817
yes

[2021-04-28 06:44] shelld3v commented on #817
lol there is a **Close** button

[2021-04-28 13:08] Themercee commented on #94
The default behavior is the problem I think. Some new user may be unaware of this and they may get missing results or thinking the tools does not works properly. Also, If I used `-u http://www.example.com`, I expect it to be run against `www.example.com`, not the IP address.

[2021-04-28 13:16] shelld3v commented on #94
I don't think so. Connect to the hostname or directly to the IP address are the same, the only differences are problems with certificate (solved by ignoring it) and the `Host` header (dirsearch solved this problem too).

Connect to hostname == get IP for the website from the DNS server then connect to it

[2021-04-28 14:43] Themercee commented on #94
Ok, when I created the ticket, the host header was not added and we were in fact missing results. If dirsearch add the Host header even if it requests the IP, then this is solved.

[2021-04-28 14:55] shelld3v commented on #94
Oh yeah! There used to be a bug with VHost. This bug that has been fixed, but used to be a reason that made a lot of our users left our tool (including top hackers). Sadly I fixed it too late:(

[2021-04-28 15:03] #94 closed

[2021-04-29 09:51] shelld3v commented on #676
Hi @c2xusnpq6, sorry for the late response.

Look at this: https://stackoverflow.com/a/38502727/12238982

I'm suspecting that the issue you facing does not relate to SSL/TLS. @c2xusnpq6 @oldlazycat If one of u can give me the target, I will be happy and try my best to solve your problems.

Thanks

[2021-04-29 09:52] shelld3v commented on #817
Close?

[2021-04-29 09:58] shelld3v commented on #812
I don't think so!

I don't think I'm going to implement this now, because of its rare use cases (really really rare). I will consider this in the future, but now we are working on so many enhancements that many users need.

[2021-04-29 10:03] shelld3v commented on #764
Yooo!

I am working on a PR, that allows you to create your own **signatures**. With a signature (YAML format), any response that matches the regex/text in the signature will be notified in the output. Is this a good replacement for your suggestion?

[2021-04-30 04:21] shelld3v commented on #736
You saved dirsearch inside the folder requires root permission so you must run with `sudo`. If you don't want to run as root, move dirsearch folder to somewhere else

[2021-04-30 04:25] shelld3v commented on #518
Hi, can you guys try re-installing dirsearch then run `pip3 install .`? (Next time, not `python3 dirsearch.py -u ...` but `dirsearch -u ...` anywhere)

[2021-04-30 04:29] shelld3v commented on #759
Please update your dirsearch with `git clone https://github.com/maurosoria/dirsearch`, and close this when fixed

[2021-04-30 04:48] qumusabel commented on #736
But why does it need to save it there? sqlmap doesn't do that, it logs everything to `.local/share/sqlmap/`. There should be at least an option to output to a different directory.

This is absolutely inconvenient. I want dirsearch in my PATH. And if I install it with pip it saves everything under `site-packages/logs` etc. which is just wrong.

[2021-04-30 05:19] shelld3v commented on #736
How did you install dirsearch?

You can try this: https://unix.stackexchange.com/questions/101073/how-to-change-permissions-from-root-user-to-all-users

[2021-04-30 05:35] qumusabel commented on #736
Via AUR on Arch. This puts it into root-owned directory and writing logs obviously fails. Note that sqlmap is installed in a similar way but works perfectly fine, because it saves everything to my home dir.

This is urelated (and also sounds like a really bad practice). `site-packages` is already in my home dir. But dirsearch outputs to `~/.../site-packages/logs` which is wrong.

[2021-04-30 05:51] shelld3v commented on #736
I mean, you installed via git or something? And did you just say that the dirsearch folder is located in the home directory?

I mean, if the PATH where dirsearch is located requires root permission, you can un-root it (with the link above).

Seems to be a bug! I will try if can fix this soon

[2021-04-30 06:07] qumusabel commented on #736
Ideally it should output to `~/.local/share/dirsearch/...`, and to get paths for other systems you can use [appdirs](/ActiveState/appdirs) which would give you the most appropriate path.
(example:
[code]
)

I mean, if the PATH where dirsearch is located requires root permission, you can un-root it (with the link above).

dirsearch itself was located in root-owned directory, and I'm fine with that,

[2021-05-03 04:43] #124 closed

[2021-05-03 04:43] #172 closed

[2021-05-03 04:43] #179 closed

[2021-05-03 04:44] #198 closed

[2021-05-03 04:44] #817 closed

[2021-05-03 04:46] shelld3v commented on #759
I am closing this because there isn't any update from you. Feel free to comment if the issue hasn't been solved

[2021-05-03 04:46] #759 closed

[2021-05-03 04:46] #208 closed

[2021-05-03 04:47] #263 closed

[2021-05-03 04:49] #755 closed

[2021-05-03 13:16] M4ng0sec opened #820 "win bug"
![image](https://user-images.githubusercontent.com/34777745/116880478-a7f4ca00-ac54-11eb-83cf-076bce00ab6d.png)

os：win server 2012 r2
python：3.8.1

[2021-05-03 14:20] shelld3v commented on #820
Hi, can you try re-installing dirsearch (https://github.com/maurosoria/dirsearch/archive/master.zip)? Seems like an old bug

[2021-05-03 14:28] M4ng0sec commented on #820
Reinstalled many times.

C:\dirsearchwin>python dirsearch.py --version
dirsearch v0.4.1

Whether it is git cloe or download, it is invalid.

Windows server 2012 r2 is not supported?

[2021-05-03 14:33] shelld3v commented on #820
Hi, can I know the target for testing? (Feel free to refuse)

[2021-05-03 14:44] M4ng0sec commented on #820
aHR0cHM6Ly9wLnNwYW0uc2hvdWppLnFoLWxiLmNvbS8=

[2021-05-03 14:47] shelld3v commented on #820
It works as expected

[code]

[2021-05-03 14:47] M4ng0sec commented on #820
The strange thing is that for the same test target, another windwos 2012 R2 has no BUG

[2021-05-03 14:51] M4ng0sec commented on #820
The test target needs to be decrypted and run on Windows 2012.

[2021-05-03 14:51] shelld3v commented on #820
From my view, this is not a bug with OS, but with the code. Are you sure you just re-installed dirsearch with the latest commit? If yes, can you please copy the content of `dirsearch/lib/core/scanner.py` and paste it here? (use ``` to quote it)

[2021-05-03 14:51] shelld3v commented on #820
I know ;)

[2021-05-03 14:55] M4ng0sec commented on #820
`# -*- coding: utf-8 -*-
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied

[2021-05-03 14:55] M4ng0sec commented on #820
[code]

[2021-05-03 15:01] M4ng0sec commented on #820
The same bug appeared on another host.

aHR0cHM6Ly8yMTguNjUuMjM2LjIwMzo5MDgx

[2021-05-03 15:02] M4ng0sec commented on #820
The same bug appeared on another host.

aHR0cHM6Ly8yMTguNjUuMjM2LjIwMzo5MDgx

[2021-05-03 15:13] shelld3v commented on #820
Hi, can you check if your internet connection is working?

[2021-05-03 15:17] shelld3v commented on #820
Oh I'm sorry, if you didn't have an internet connection, you couldn't post any comment.

I will work on this tomorrow! Sorry but I can't work right now

[2021-05-03 15:40] M4ng0sec commented on #820
Network connection is normal.

[2021-05-03 15:41] M4ng0sec commented on #820
I guess it is related to ssl encryption?

[2021-05-03 18:09] M4ng0sec commented on #820
It should be an ssl problem, can you give a function similar to wget(--no-check-certificate)?

[2021-05-04 12:17] shelld3v commented on #820
Hi, dirsearch doesn't check the certificate at all, it ignores that silly cert.

[2021-05-04 14:31] M4ng0sec commented on #820
Well, this error should be caused by some fixes in Windows 2012, which may change some TLS/SSL configurations. It seems that the only solution to the problem is to change the OS.

[2021-05-04 14:39] shelld3v commented on #820
I think so! Can you run dirsearch on other OS? If yes, then sorry, I think I don't I have time to look at this (I did some searchs but couldn't find anything), let just say **Windows 2012** is not in supported OS versions of dirsearch. If you really want to fix this, tell me, I will try my best!

[2021-05-04 19:57] wdahlenburg commented on #762
PR Merged. Closing

[2021-05-04 19:57] #762 closed

[2021-05-07 07:02] #152 closed

[2021-05-07 07:02] shelld3v commented on #219
Fixed

[2021-05-07 07:02] #219 closed

[2021-05-07 07:12] #779 closed

[2021-05-07 07:19] shelld3v commented on #662
Hi, fixed?

[2021-05-08 00:12] #231 closed

[2021-05-08 06:02] #777 closed

[2021-05-08 09:22] shelld3v commented on #753
I am closing this, feel free to ask for re-opening if you believe the issue is still there

[2021-05-08 13:34] shelld3v commented on #736
Hey @qumusabel, you can edit `default.conf` and set `save-logs-home` to `True`, as a temporary fix

[2021-05-08 13:51] qumusabel commented on #736
Ok, thanks.

[2021-05-10 10:13] shelld3v commented on #772
Hello @qszx, it was integrated 🎉

[2021-05-11 05:19] shelld3v commented on #736
Hi, fixed in the latest commit. Check `default.conf`, there are options for you

[2021-05-11 05:24] shelld3v commented on #160
Hi, in the latest commit of dirsearch, you can choose wherever the reports should be saved. Is that what you wanted?

[2021-05-11 05:30] shelld3v commented on #662
Can you give us a response?

[2021-05-11 08:12] Jack-ban opened #829 "--cookie options is not work"
### What is the current behavior?

I just want to use --cookie options

What actually happens?

baidu.com is example site.

[code]

### What is the expected behavior?

error

What it should be instead?

### Any additional information?
[code]
OS, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [ ] I tested in the latest version of dirsearch 0.4.1

[2021-05-11 08:34] shelld3v commented on #829
How did you install dirsearch? Via ZIP file or git?

[2021-05-11 08:44] shelld3v commented on #829
We started working on this

[2021-05-11 09:13] shelld3v commented on #829
Hi @Jack-ban, can you approve #831?

[2021-05-11 13:22] #45 closed

[2021-05-11 13:24] shelld3v opened #832 "Monitor the frequency of appearance of paths"
### What is the feature?

Monitor the frequency of appearance of paths for further actions with that metrics

### What is the use case?

Make a good dictionary based on the stat, ...

#### Checker:

- [x] This feature is in scope for the dirsearch purpose

[2021-05-11 14:06] qumusabel commented on #736
Thanks!

I think there's a problem, though. `default.conf` will be located in `site-packages`, right? So I would have to edit the python package itself. Could you please make it so that it would try a bunch of config paths (like `~/.config/dirsearch.conf`)? Also `setup.py` still puts `/logs` etc. right into `site-packages/`.

[2021-05-11 14:29] shelld3v commented on #736
[code]

Will be soon

Yeah, but you can set the location of logs to somewhere else

[2021-05-11 16:03] exploide commented on #160
If I understand correctly, I can only choose that in the `default.conf` file.

That doesn't solve the issue. Because when I need to edit that file, the git repository is dirty afterwards, which can prevent updating.

If you want to keep the behavior of writing log and report files within the repository folder by default, we need a clean way to change configuration. One possibility would be if dirs

[2021-05-12 22:48] dkasak commented on #160
But please, don't just those defaults; first try the `$XDG*` variables
and only use the default locations if those are unset.

[2021-05-13 13:52] qumusabel commented on #736
`db/` ends up as `site-packages/db` too, can you fix that? Sorry for late response

[2021-05-13 14:08] shelld3v commented on #736
This is a really big problem, not just `db` but also `lib`, `thirdparty`, `default.conf`, ... I will find a solution for this soon

[2021-05-13 16:49] qumusabel commented on #467
Isn't it a matter of enabling a checkbox in python installer?
![image](https://user-images.githubusercontent.com/18624304/118158159-da60ad00-b434-11eb-976f-2249f29dc4de.png)
(actually installed by default).
`/thirdparty` also mentioned in #736

[2021-05-14 02:15] p1ne4pple opened #836 "Option exit-on-error=False with https no work"
### What is the current behavior?

What actually happens?
Cannot connect to: www.xx.com:443

### What is the expected behavior?

What it should be instead?
skip this target

### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...?
[code]

#### Checker:
 - [ ✔ ] I tested in the latest version of dirsearch

[2021-05-14 04:36] shelld3v commented on #467
The reason why I said it was complex is that people have to run cmd in the correct folder (the one contains pip.exe)

[2021-05-14 04:40] shelld3v commented on #836
Hi, this has been fixed in the latest commit

[2021-05-14 04:48] #836 closed

[2021-05-14 05:25] shelld3v commented on #676
Hi @c2xusnpq6, I have delayed for so long, so made a fix locally. But I need to test this fix first, can you give a target that uses TLSv1?

[2021-05-14 07:38] shelld3v commented on #736
Hi @qumusabel, can you create a better `setup.py`?

[2021-05-14 07:42] qumusabel commented on #467
never had to do that, also you can add python & all the other stuff to PATH. I don't think you should bother shipping thirdparty modules just because someone can't click a checkbox.

[2021-05-14 08:26] shelld3v commented on #467
In Windows, yes. I know it's not a too hard thing to do, but want to make the installation easier for all users, including non-tech people

[2021-05-14 08:40] qumusabel commented on #736
Ok, I can try to.

I've looked at sqlmap's directory structure, and it looks like yours is inspired by it. However, they don't provide `setup.py` in their github repo. But in PyPI the package's structure is this:
[code]

And `setup.py` is quite simple:
[code]

So it definitely looks like they have a separate process to generate PyPI packages.
My ideas on how to implement this flow: make a `build.p

[2021-05-14 09:36] qumusabel commented on #736
So, I've tried to hack together something that would mimic the sqlmap's installation behavior. When running `setup.py` it would only install `'dirsearch': '../dirsearch'` (path is calculated on runtime). Then something like
[code]
should've done the trick, `find_packages('../dirsearch')` won't work either. So probably pre-install package directory structuring is the way to go.

(Also can't figure

[2021-05-14 09:37] shelld3v opened #837 "Bugs with recursion"
### What is the current behavior?

[code]

### What is the expected behavior?
[code]

### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [x] I tested in the latest version of dirsearch

[2021-05-14 15:00] shelld3v commented on #736
Nope, it was altdns

Feel free to submit a PR, I had tested for a better `setup.py` a lot but failed, so this is the result

[2021-05-14 16:24] qumusabel commented on #736
Oh, ok, sorry :)

Yeah, I'm starting to hate it now. I'm working on `install.py` that would create a working environment to correctly install dirsearch. Something like this:
[code]
and if it errors out we can just fall back to `setup.py` install. Then you can `cd` into that directory and do other packaging stuff. (maybe have an option to just create the environment). Also, sqlmap's `__init__.py` h

[2021-05-16 12:26] Ppsoft1991 opened #838 "can't run"
I installed requirements.txt and run python3 dirsearch.py

Traceback (most recent call last):
  File "dirsearch.py", line 27, in <module>
    from lib.core import ArgumentParser
  File "/root/dirsearch/lib/core/__init__.py", line 3, in <module>
    from .fuzzer import *  # noqa: F401
  File "/root/dirsearch/lib/core/fuzzer.py", line 22, in <module>
    from lib.connection.request_exception import

[2021-05-16 12:46] u21h2 commented on #838
I have met the same bug.

[2021-05-16 13:08] shelld3v commented on #838
Hi, I can't reproduce this:

[code]

[2021-05-16 13:16] shelld3v commented on #838
Can you edit the file `thirdparty/ntlm_auth/compute_response.py` and change from:

[code]
To:

[code]

And see if it works?

[2021-05-16 13:18] shelld3v commented on #838
Btw, try python 3.9, I don't know if python version is the root cause, but let give it a try

[2021-05-16 15:57] Ppsoft1991 commented on #838
In my laptop, I use ubuntu 1804,python 3.8,no such problem

[2021-05-16 16:04] Ppsoft1991 commented on #838
Thanks,It's a awsome project, When I use python3.8,it running.
![image](https://user-images.githubusercontent.com/18442117/118403932-6710a280-b6a3-11eb-9285-5a8b87755bdd.png)

[2021-05-16 16:04] #838 closed

[2021-05-16 16:55] shelld3v commented on #838
Cool, I will need to update the README

[2021-05-16 16:56] shelld3v commented on #838
Does python 3.7 work?

[2021-05-16 16:57] Ppsoft1991 commented on #838
no,I used python3.8

[2021-05-16 17:08] shelld3v commented on #838
Can you try with python3.7? I want to know the lowest requirement of python version for dirsearch

[2021-05-17 07:47] shelld3v commented on #29
Splitting wordlist entries by language is impossible, and even possible, not worth to implement

[2021-05-17 07:47] #29 closed

[2021-05-17 08:11] shelld3v commented on #518
Hi @gabrielcosi, some of our users reported that dirsearch only works with python3.8 or higher

[2021-05-17 09:19] shelld3v commented on #518
@gabrielcosi I am closing this, feel to ask for reopening

[2021-05-17 09:19] #518 closed

[2021-05-17 10:41] dipakpanchal456 opened #841 "403 Bypass"
### What is the feature?
403 Bypass Plesk-stat

What is it?

I recently found this bypass. I got this directory /plesk-stat  status code 301 (dirsearch)
but when I opened it showing 403 Forbidden.
Then I use dork. index of/plesk-stat

I found some directories. Listed Below.

/plesk-stat/anon_ftpstat/
/plesk-stat/ftpstat/
/webstat-ssl/
/webstat/

### What is the use case?
In some cases user not awa

[2021-05-17 11:40] shelld3v commented on #841
but when I opened it showing 403 Forbidden.

Chrome follows the redirect, but dirsearch doesn't. If you want, then use the `-F` flag

so decided to submit these directories names which you should include in your list for bypass 403 restriction.

There are really few servers are opening for directory listing, but you know how people still able to find deep files and dirs? There is a technique, that

[2021-05-17 12:11] #841 closed

[2021-05-17 15:06] shelld3v commented on #489
Hi @Viss, can you give me the source code of the

Hi, do you have any website like this for me to do testing?

[2021-05-17 15:37] dipakpanchal456 commented on #841
thank you for adding endpoints.

[2021-05-17 15:39] dipakpanchal456 commented on #841
Thanks, I'll check it out.

On Mon, May 17, 2021 at 5:41 PM Pham Sy Minh ***@***.***>
wrote:

[2021-05-18 15:23] shelld3v opened #843 "Able to be used as a Python package"
### What is the feature?

Use dirsearch like a package, CLI no longer important

### What is the use case?

Users can run dirsearch inside a script (this script can be used for running several hacking tools and stuff)

[2021-05-18 23:35] d3mondev commented on #838
FYI I've experienced the same issue. It works with Python 3.7, but it doesn't work with Python 3.6.

Ubuntu 18.04 LTS ships with Python 3.6 by default and since a few days ago Python needs to be upgraded to run dirsearch on that platform.

Reproducible in docker:

[code]

Thought you'd want to know!

[2021-05-19 02:16] shelld3v commented on #838
Thanks @d3mondev, that's what I wanted to know

[2021-05-19 04:25] shelld3v commented on #837
Fixed

[2021-05-19 04:25] #837 closed

[2021-05-19 12:17] dipakpanchal456 commented on #841
What is the meaning of PR?

On Wed, May 19, 2021 at 4:33 PM Pham Sy Minh ***@***.***>
wrote:

[2021-05-19 12:25] shelld3v commented on #841
Pull Request

[2021-05-19 14:30] shelld3v commented on #736
Hi @qumusabel, have you able to do it?

[2021-05-19 14:42] qumusabel commented on #736
Hi, I'm a bit busy rn, but slowly getting there

[2021-05-19 14:44] qumusabel commented on #736
Still not sure about `install.py`, thinking of a way to 'forward' setup.py to that new `setup.py` in separate directory.

[2021-05-20 06:45] dipakpanchal456 commented on #841
th3.d1p4k (https://instagram.com/th3.d1p4k)

[2021-05-22 08:03] #111 closed

[2021-05-22 08:04] #662 closed

[2021-05-23 09:30] LuoooB opened #854 "AttributeError: module 'thirdparty' has no attribute 'ntlm_auth'"
![image](https://user-images.githubusercontent.com/40429942/119255120-8439f980-bbec-11eb-97c9-a6341299501d.png)
git pull之后 发现执行报错，网上搜也找不到答案。大佬们看一下

[2021-05-23 09:40] shelld3v commented on #854
请将您的python更新到版本 >= 3.7

[2021-05-23 09:41] #854 closed

[2021-05-24 05:31] Ignitetch opened #855 "Please add as reference"
Please add this one also as reference on your reop :
https://secnhack.in/multiple-ways-to-find-hidden-directory-on-web-server/

[2021-05-24 06:05] shelld3v commented on #855
Hi, can you submit a pull request?

[2021-05-24 06:25] Ignitetch commented on #855
Sure !
I have done it.

[2021-05-24 06:35] shelld3v commented on #855
I haven't seen it yet: https://github.com/maurosoria/dirsearch/pulls

[2021-05-24 06:38] Ignitetch commented on #855
Could you check it once 👍🏻

[2021-05-24 06:47] Ignitetch commented on #855
Did you got it ?

[2021-05-24 06:50] #855 closed

[2021-05-25 12:13] il0v3y0uu opened #858 "AttributeError: module 'thirdparty' has no attribute 'ntlm_auth'"
I have installed the requirements and have followed the installation instructions, but I have a problem. Can you help me ?
![image](https://user-images.githubusercontent.com/45809257/119495987-36102c00-bd8d-11eb-9ee3-e1291861bc77.png)

[2021-05-25 13:28] xufengnian commented on #858
I have same question and I have solved it,because the python3 version is old
my python3 version is 3.6.3,I try to download python3 3.8.6 and pip 20.1 then install it,there is no error

[2021-05-25 15:59] shelld3v commented on #753
Hello @bootyhunt3r, I finally found the solution for this problem. The fix will be merged soon

[2021-05-25 16:09] shelld3v commented on #858
The answer from @xufengnian is the same as mine, please update your python version

[2021-05-25 16:09] #858 closed

[2021-05-26 10:43] il0v3y0uu commented on #858
![image](https://user-images.githubusercontent.com/45809257/119646748-b4ca9f00-be49-11eb-950d-a7e994f9bb3f.png)
I've upgraded my python, but it's still an error.

[2021-05-26 11:18] shelld3v commented on #858
Hi @il0v3y0uu, this is another issue.

Issue link: https://github.com/pyca/cryptography/issues/4403
Solution: `pip3 install -U cffi`

[2021-05-26 14:23] VitorOriel opened #863 "AttributeError exception when import 'ntlm_auth' on thirdparty"
### What is the current behavior?

When I tries to open the help menu, an exception is thrown.

### What is the expected behavior?

Opens the help menu.

### Any additional information?

* OS: Ubuntu 18.04.5 LTS
* Python version: 3.6.9
* screenshots:
![image](https://user-images.githubusercontent.com/43549176/119676118-fe989280-be13-11eb-8fde-8e5201208202.png)
* dirsearch command: `./dirsearch.py

[2021-05-26 14:26] shelld3v commented on #863
Hi, please upgrade your python to version 3.7 or greater

[2021-05-26 14:26] #863 closed

[2021-05-26 14:28] VitorOriel commented on #863
Thanks for the quickly answer!

[2021-05-27 05:33] #736 closed

[2021-05-28 08:06] alqomar opened #872 "use `-e ~` leak own username and OS type to target"
**Current Behavior**
`-e` treat `~` as a command instead of a character
example :
`python3 dirsearch.py -u https://example.com -e ~ -f -b`
In Linux executed by dirsearch as
`python3 dirsearch.py -u https://example.com -e /home/username -f -b`

**Expected Behavior**
In my opinion all parameter inside `-e` should be treated as string/character to prevent accidentally polluted target server with own

[2021-05-28 08:24] c2xusnpq6 commented on #676
I'm sorry, I forgot the target IP... maybe next time... you can close this issue😅thx

[2021-05-28 10:25] shelld3v commented on #872
Hi, we have nothing to do with this. Do you know why this happens? It's because in Linux terminal environment, some special characters such as `~`, `*`, ... are system env variables. If you enter directly them in your command (without any way to determine it's a string, like quoting), those characters will be resolved to unintended values (it's intended, but unintended for people who don't know ab

[2021-05-28 10:25] #872 closed

[2021-05-28 10:27] shelld3v commented on #676
No problem, I will keep this issue open until you find that IP

[2021-05-28 13:50] shelld3v opened #874 "Bug with --remove-extensions"
### What is the current behavior?

Recently, I discovered an issue with the `--remove-extensions` flag: using `--remove-extensions`, whenever a path is found as valid, a thread will be broken for no reason.

Reproduce:
- `./dirsearch.py -u example.com -t 1 --remove-extensions`
- `./dirsearch.py -u example.com -t 2 --remove-extensions`

[2021-05-29 16:11] alqomar commented on #872
Your solution make me realize that i didn't test `--suffixes ~`, only read the tips

That what make me confused, why `~` in `--suffixes ~` treated as char while in `-e ~` as a /home/username? It turned out that both treated `~` as a /home/username (in Linux).

You are right, i don't know about system env variables behaviour, how/why cli application can/can't manipulate that. Theres still some ques

[2021-05-29 16:32] shelld3v commented on #872
No problem

[2021-06-03 09:18] ltfafei opened #879 "Bug -o options"
python dirsearch.py -u http://url/ -o res.html

Traceback (most recent call last):
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python39\lib\threading.py", line 954, in _bootstrap_inner
                                                                   self.run()
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python39\lib\threading.py", line 892, in run
    self._targ

[2021-06-03 09:22] shelld3v commented on #879
Hi, can you post the FULL traceback?

[2021-06-04 12:44] shelld3v commented on #879
Hi @ltfafei, can you please post the full error message (嗨，你能把完整的错误信息贴出来吗)

[2021-06-04 16:29] qumusabel opened #881 "Something prints `dirsearch.Program object` repr in the end."
![image](https://user-images.githubusercontent.com/18624304/120833903-c6afee80-c57b-11eb-848c-d425b41b4650.png)
Can't figure out where this message comes from. Latest commit.

[2021-06-04 17:32] shelld3v commented on #881
How did you run it? Git, pip, kali package or what?

[2021-06-04 17:37] qumusabel commented on #881
git clone, then pip install

[2021-06-06 09:07] ikka7895 commented on #881
# If you want to edit dirsearch default configurations, you can
# edit values in this file. Everything after `#` is a comment
# and won't be applied

[mandatory]
default-extensions = php,aspx,jsp,html,js
force-extensions = False
# exclude-extensions = old,log

[general]
threads = 30
recursive = False
deep-recursive = False
force-recursive = False
recursion-depth = 0
exclude-subdirs = %%ff/
random-

[2021-06-06 09:08] qumusabel commented on #881
what?

[2021-06-06 09:39] ikka78 commented on #881
Bhai can u contact me please

[2021-06-07 06:23] LywLover opened #884 "302 redirects not automatically added to the recursive queue"
### What is the current behavior?

302 redirects not automatically added to the recursive queue
![image](https://user-images.githubusercontent.com/29304484/120967946-c6416e80-c79a-11eb-9786-71518cef5b10.png)

![image](https://user-images.githubusercontent.com/29304484/120968655-b4140000-c79b-11eb-9d92-48fa1f22b435.png)

### Any additional information?
I tried
python3 dirsearch.py -u example.com -r

[2021-06-07 07:38] shelld3v commented on #884
@LywLover Does the redirect (first pic) point to the same host with the same protocol? I mean, if `https://example.com/admin` sends you to `http://example.com/admin/`, it won't be added. And the redirect must follow a rule: `http://url/path1` must redirect to `http://url/path1/anythinghere` in order to be added to the queue, which is not followed by the second picture

[2021-06-07 07:40] shelld3v commented on #884
I'm closing this now, feel free to ask for reopening

[2021-06-07 07:40] #884 closed

[2021-06-07 22:03] #753 closed

[2021-06-08 04:25] shelld3v commented on #736
Hi @qumusabel, your hack in `setup.py` makes me stuck on uploading the project to [PyPi](https://pypi.org).

I executed this:

[code]

But I couldn't find the `dist/` folder anywhere

[2021-06-08 04:45] qumusabel commented on #736
It's all copied to /tmp, but in the end the temp folder is deleted. I think commenting the last line would help.

[2021-06-09 05:54] yhy0 opened #886 "os.environ['http_proxy']"
I now have a program in which a thread is opened to continuously change the value of os.environ['http_proxy'], and now dirsearch cannot pass the proxy through the variable os.environ['http_proxy'] I set

[2021-06-09 06:23] shelld3v commented on #886
Do you mean that you were having a dirsearch scan in progress and you changed the `http_proxy` variable but the proxy of the scan didn't change? I don't think I can do anything with this

[2021-06-09 06:25] yhy0 commented on #886
Yes, then how should I set up the proxy pool ？

[2021-06-09 06:27] shelld3v commented on #886
`--proxy` flag? Or `proxy` variable inside `default.conf`

[2021-06-09 06:29] shelld3v commented on #886
If you are scanning, the scan hasn't finished yet, you can't change the proxy. I am working on a feature that allows you to change all your settings of a scan while the scan's still in progress. Will be after the release of 0.4.2 😉

[2021-06-09 06:29] yhy0 commented on #886
No, no, I use the thread to constantly change the proxy, my proxy is always changing, using --proxy will only have one proxy

[2021-06-09 06:30] shelld3v commented on #886
Oh, you can try `--proxy-list`, or `proxy-list` variable in `default.conf`. It will randomize the proxy from a list of proxies

[2021-06-09 06:36] shelld3v commented on #886
Done yet?

[2021-06-09 06:36] yhy0 commented on #886
Because my proxy is obtained through an interface, each proxy will only exist for a few minutes, so I don’t have a proxy list. How should I use it in this case?

[2021-06-09 06:38] shelld3v commented on #886
That's really hard, try editing the `http_proxy` var in `.bashrc`, remember to `$ source .bashrc` after changing it

[2021-06-09 06:40] yhy0 commented on #886
Okay, thanks, I’m seeing if there are other solutions

[2021-06-09 06:43] shelld3v commented on #886
I'm not an expert tho, so Idk if there are any. But try making a script, that auto-executes those commands, so you won't have to keep texting manually the commands after each few minutes

[2021-06-09 06:44] shelld3v commented on #886
I'm closing this now, but we can keep on the discussion

[2021-06-09 06:44] #886 closed

[2021-06-09 06:47] shelld3v commented on #736
So what should I do now?

[2021-06-09 07:07] qumusabel commented on #736
When you run `setup.py` it prints where the temp folder is located (`/tmp/dirsearch-instal-xxxxxxxx/`). You can find `dist/` there.

[2021-06-09 07:12] shelld3v commented on #736
[code]

[2021-06-09 07:13] qumusabel commented on #736
Did you comment this line?
![image](https://user-images.githubusercontent.com/18624304/121309819-16940a00-c91c-11eb-9111-aad9f0660714.png)

[2021-06-09 07:40] shelld3v commented on #736
Published to Pypi, but another issue:

[code]

[2021-06-09 07:47] qumusabel commented on #736
Wait, your `site-packages` are wrong. Notice where `lib/` ended up.
I can't reproduce the problem, on my machine it was installed correctly.

`/home/user/.local/share/virtualenvs/tmp-XVr6zr33/lib/python3.9/site-packages/*dirsearch*/dirsearch.py`

[2021-06-09 08:11] shelld3v commented on #736
It works perfectly now

[2021-06-10 04:02] shelld3v opened #888 "Overwrite extensions"
Reference: https://github.com/ffuf/ffuf/issues/460

[2021-06-10 04:07] shelld3v commented on #879
Btw, `python3 dirsearch.py -u http://url/ -o res.html --format html`

[2021-06-11 18:30] Viss commented on #489
sorry for the horrible delay.
Here's a website that exhibits one version of this issue: hidratespark.com
It will return 200 ok responses for stuff that isnt there.
I'm pouring through old reports to try and find this exact issue, and I'll reply again when I have an example domain or two where it will produce this exact bug.

[2021-06-12 05:30] shelld3v commented on #489
I can't reproduce it:

[code]

[2021-06-12 09:46] ltfafei commented on #879
Oh, add --format html no problem. Thanks.

[2021-06-12 09:46] #879 closed

[2021-06-12 09:46] ltfafei commented on #879
Oh, add --format html no problem. Thanks.

[2021-06-12 13:22] shelld3v commented on #879
@ltfafei I still need the traceback, please!

[2021-06-12 16:54] Viss commented on #489
if you're testing with the new version, which has the fix I've asked for built in, its likely you arent able to reproduce it because the bug has been fixed. You might want to try with 0.4.0 to see if you can reproduce the bug, because thats the version that had the bug you're trying to reproduce.

[2021-06-13 05:14] shelld3v commented on #489
Thanks for your feedback, that's good news! I'm closing this now

[2021-06-13 05:14] #489 closed

[2021-06-16 09:09] dmknght opened #899 "add more check for writble logs and report dest part"
### What is the feature?

When program starts, it checks for writable `logs` and `reports` folder. At first, it tries location that user passes to arguments, then check writable root dir of project
https://github.com/maurosoria/dirsearch/blob/master/lib/controller/controller.py#L105
I'd suggest add `elif` lines like this
[code]
and
[code]
### What is the use case?

I'm doing packaging `dirsearch`

[2021-06-16 09:27] shelld3v commented on #899
Thanks, I will do it soon. Btw, why don't you edit `default.conf` to specify logs and reports location?

[2021-06-16 09:30] dmknght commented on #899
Well i don't know how to give the good answer for this. It is all about Debian's standard and i have to follow it. And the solution for the "Standards" is using directories at global paths instead of `$HOME`

[2021-06-16 09:41] shelld3v commented on #899
@dmknght I just realized something: the reason I check for `script_path` instead of the full path is that if you install dirsearch with pip `git clone https://github.com/maurosoria/dirsearch && cd dirsearch && pip3 install .`, `/logs` and `/reports` folders won't be created inside the PyPi package folder (`.local/lib/python3.9/site-packages`) where the dirsearch script is saved and run (why? https

[2021-06-16 09:44] dmknght commented on #899
I know because those are empty folders :D . Luckily i handled it by with Debian packaging :D Cheers!

Maybe add empty `__init__.py` could be solution? I think it does. Meanwhile i think add an other `elif` is a good solution for both cases 1. missing `logs` and `reports`) and 2. 2 folders were created with writable permission

[2021-06-16 09:55] shelld3v commented on #899
If you wish to know, we SHOULDN'T add those folders to the `site-packages` because any file/folder inside `site-packages` is recognized as a PyPi package (`import package`), which is unintended. My solution is that we will create another config file that will only be applied for people who install dirsearch with pip, and in that config we will specify locations for logs and reports

[2021-06-16 10:00] dmknght commented on #899
Oh good to know. I mean i am not very familiar with `PyPi` standard.

I mean when the project is installed, and maybe the `logs` and `reports` were created. And then the permission is not writable for some reasons -> it is worth to check the full path again. So in this case we'll have logic like this
1. Check arguments and config file
2. Check if `logs` and `reports` is created and writable
3. No

[2021-06-16 10:05] shelld3v commented on #899
Hmmmm, probably keep them in `site-packages`, but saved inside another folder like `.dirsearch`

[2021-06-20 15:17] shelld3v commented on #34
Done

[2021-06-20 15:17] #34 closed

[2021-06-24 05:52] zongdeiqianxing opened #903 "[bug] symbol missing"
When I call dirsearch in my script, there is often a ’/‘ symbol missing here

![image](https://user-images.githubusercontent.com/34082644/123209264-f014c800-d4f2-11eb-8aa8-7415a187a355.png)
![image](https://user-images.githubusercontent.com/34082644/123209460-34a06380-d4f3-11eb-9765-a020ba6d926d.png)

[2021-06-24 06:22] shelld3v commented on #903
Hi I can't reproduce the issue, can you please try updating dirsearch again with `git clone https://github.com/maurosoria/dirsearch` then tell me if the issue still exists? Thanks!

[2021-06-28 13:03] shelld3v commented on #903
The current version of dirsearch is 0.4.2, please update yours

[2021-07-01 10:32] 4nyw4y opened #909 "there is a bug when create directory"
_|. _ _  _  _  _ _|_    v0.4.2
 (_||| _) (/_(_|| (_| )

Extensions: php, html | HTTP method: GET | Threads: 30 | Wordlist size: 9388
Traceback (most recent call last):
  File "dirsearch.py", line 47, in <module>
    main = Program()
  File "dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "D:\dirsearch\lib\controller\control

[2021-07-02 03:00] my123px opened #910 "Threads limits in dirsearch v0.4.2"
In dirsearch v0.4.2, when I set the -t option, if I set a value greater than 30, dirsearch will only execute in 30 threads when it is executed. Does this version set a limit on the maximum number of threads? I did not find the relevant maximum value description in the -h description, this parameter can be used normally in the previous version.

![image](https://user-images.githubusercontent.com/33

[2021-07-02 05:33] shelld3v commented on #910
Hi @my123px, I can easily see there is a `-X` flag before it, and the `-X` switch is for excluding extensions. dirsearch actually thought `-t` is the value for the `-X` flag. So the solution is:
[code]

[2021-07-02 05:33] #910 closed

[2021-07-02 05:53] my123px commented on #910
The problem is solved, thank you very much~

[2021-07-05 06:27] shelld3v commented on #903
Closing due to inactivity

[2021-07-05 06:27] #903 closed

[2021-07-09 21:36] #909 closed

[2021-07-13 03:37] maurosoria commented on #874
Hello @shelld3v , this still as a bug?

[2021-07-13 03:39] #254 closed

[2021-07-13 03:40] #64 closed

[2021-07-13 05:37] shelld3v commented on #874
I believe so

[2021-07-13 13:52] shuraros2334 opened #922 "A lot of errors appear when scanning massively."
When I specify a dirsearch command like this: dirsearch -e ext -l example.txt,
then on host 3-4 I get the following errors:

Traceback (most recent call last):
  File "dirsearch.py", line 47, in <module>
    main = Program()
  File "dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "C:\Users\Taskino\Desktop\python\dirsearch-m

[2021-07-13 14:27] shelld3v commented on #922
Hi @shuraros2334, are you sure you are using the latest version?

[2021-07-13 14:34] shelld3v commented on #922
What do you mean? I want to ask about your dirsearch version, the latest is v0.4.2

[2021-07-13 14:38] shelld3v commented on #922
How did you confirm it? Please try this: `dirsearch --version`

[2021-07-13 14:41] shelld3v commented on #922
If it's possible, can you give me the target?

[2021-07-13 20:29] shuraros2334 commented on #922
python dirsearch.py --v
dirsearch v0.4.2

[2021-07-13 21:32] shuraros2334 commented on #922
New error:

Traceback (most recent call last):
  File "C:\Users\Taskino\Desktop\python\dirsearch-master\dirsearch.py", line 48, in <module>
    main = Program()
  File "C:\Users\Taskino\Desktop\python\dirsearch-master\dirsearch.py", line 44, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "C:\Users\Taskino\Desktop\python\dirsearch-master\lib\contr

[2021-07-14 04:05] shelld3v commented on #922
Hi, thanks for reporting, I will try to fix this asap

[2021-07-14 04:27] shelld3v commented on #922
Hi, can you find any host that causes the first issue that you can give me? I want to do some tests before merging, thank you!

[2021-07-16 04:47] hcjcn opened #925 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x93 in position 49: invalid start byte"
### What is the current behavior?
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x93 in position 49: invalid start byte
What actually happens?
An error occurred while scanning the website
### What is the expected behavior?
Target: http://10.79.7.248:9999/

[12:39:32] Starting:
Traceback (most recent call last):
  File "dirsearch.py", line 47, in <module>
    main = Program()
  File "dirsearc

[2021-07-23 10:52] AMJIYU opened #928 "AttributeError: 'NoneType' object has no attribute"
Traceback (most recent call last):
  File "/dirsearch/lib/controller/controller.py", line 239, in __init__
    self.requester.request("")
  File "/dirsearch/lib/connection/requester.py", line 254, in request
    raise RequestException({"message": error})
lib.connection.request_exception.RequestException: {'message': 'Cannot connect to: 112.48.128.2:80'}

During handling of the above exception, ano

[2021-07-23 11:55] shelld3v commented on #928
Duplicate of #922

[2021-07-23 11:55] #928 closed

[2021-07-23 11:55] shelld3v commented on #928
Will be fixed soon

[2021-07-24 08:57] No0ob1e opened #930 "dirsearch don't find extensions"
Passing "`[Tryhackme CC: Pen Testing](https://tryhackme.com/room/ccpentesting)`" room "final exam" I noticed that "dirsearch" can't find a "secret.txt" file compared to "gobuster"
I tried with "-e" flag, also add "txt" to config file but still no results.
Tried standard dictionary, also tried the same dictionary for "gobuster" and "dirsearch" but with "dirsearch" still no results

![Screenshot 202

[2021-07-24 09:02] shelld3v commented on #930
Hi @No0ob1e, you didn't use the same wordlist for both scans, what did you expect? Try running dirsearch again with this command and see the result:
[code]

[2021-07-24 09:02] #930 closed

[2021-07-25 09:23] No0ob1e commented on #930
Hi @shelld3v, as I mentioned earlier I also tried using the same wordlist for both of them, and the detection is even worse,

![Screenshot 2021-07-25 121706](https://user-images.githubusercontent.com/62214984/126894244-8ac83148-a593-4a2d-9ffa-8d7a10eb46c6.png)

[2021-07-25 09:50] shelld3v commented on #930
Hi @No0ob1e, please read the documentation carefully before using dirsearch: https://github.com/maurosoria/dirsearch#wordlists-important

The wordlist you used contains `secret`, so to find `secret.txt`, you need the extension `txt`. As the document part I linked above (please read it), you need the flag `-f`

[2021-07-27 07:44] shelld3v commented on #922
Hi, can you validate the fix? Thanks!

[2021-07-27 07:47] shelld3v commented on #922
Closing first, feel free to ask for re-opening if the bugs still exist

[2021-07-27 07:47] #922 closed

[2021-07-28 11:42] xNu7 opened #936 "Sorry, dirsearch requires Python 3.7 or higher"
I have a problem running dirsearch, python3 dirsearch.py ​​-u {url} -e {ext}, here the message Sorry, dirsearch requires Python 3.7 or higher appears. then i installed python3.7, this problem persists.

please help me,.

[2021-07-28 13:21] shelld3v commented on #936
I can't reproduce the issue or see any problem in the code here, can you re-check with `python3 --version`?

Thanks!

[2021-07-28 14:26] xNu7 commented on #936
Version python 3.6.9, how to replace this ?

[2021-07-28 14:44] shelld3v commented on #936
You can search for resources from the Internet. Here is one I found: https://dev.to/serhatteker/how-to-upgrade-to-python-3-7-on-ubuntu-18-04-18-10-5hab

Closing this now

[2021-07-28 14:44] #936 closed

[2021-07-28 17:18] maurosoria commented on #925
Hello @hcjcn,

Can you provide us with more information? like the html encoding and if you see any weird characters at  http://10.79.7.248:9999/.

Thanks for reporting!

[2021-07-29 04:05] shelld3v commented on #925
@maurosoria I have a linked PR to fix this issue. This bug is caused due to a character not in UTF-8 exists in the response body, that we decode it in **lib/core/scanner.py**

[2021-07-29 06:01] #925 closed

[2021-07-29 11:02] meichengg opened #939 "macos issue"
Hi, i just updated to this commit: 97fa0a0 and i got this issue as below. Please have a check.

![image](https://user-images.githubusercontent.com/25204246/127480937-60b523a4-7b22-4983-8c3e-26ec092431c4.png)

[2021-07-29 11:57] shelld3v commented on #939
Hi, sorry for the issue, it will be fixed soon. A temporary way to fix this is:

[code]

[2021-07-29 11:58] shelld3v commented on #939
Btw, I can see that you selected a really weird extension, can you recheck your command?

[2021-07-29 11:59] meichengg commented on #939
That doesn't affect the workflow, i used those for long time and all went smooth.

[2021-07-29 12:05] shelld3v commented on #939
It would affect the result if you used a dirsearch-style wordlist (`%EXT%` keyword) or did extension-forcing (`-f` flag). Doc here: https://github.com/maurosoria/dirsearch#wordlists-important

[2021-07-30 09:31] meichengg commented on #939
May i know why don't you merge it to master branch?

[2021-07-30 09:37] shelld3v commented on #939
It's because I don't have permission to do that. @maurosoria is the only person who can push commits to the master branch, even though I still can bypass it by merging pull requests targeting the branch `master`, but only after submitting a review to that PR, and Github doesn't allow you to review your own PR so I can't merge PRs created by myself ;(

[2021-07-30 09:40] shelld3v commented on #939
Note that review not by a project member can't help me to have permission to merge the PR too (project members are me and mauro), if you want to help me out, feel free to submit a PR for my branch and I will merge it :)

[2021-07-30 23:58] smichaelf12 opened #943 "Eror"
![Screenshot_20210731-004936374](https://user-images.githubusercontent.com/85350146/127721999-2b693c42-27f6-4455-b93b-b49bd233e243.jpg)
Help

[2021-07-31 08:38] shelld3v commented on #943
Hi, I saw you have installed dirsearch already, why don't just `python3 dirsearch.py -u your_target`?

[2021-07-31 09:31] smichaelf12 opened #944 "does termux support?"
Is it support for termux?

[2021-07-31 10:16] shelld3v commented on #944
I'm not sure but there was an issue in the past reported that dirsearch can't work with termux

[2021-07-31 10:16] #944 closed

[2021-07-31 14:52] #939 closed

[2021-08-01 07:06] #943 closed

[2021-08-02 06:49] Baikeryoyo opened #945 "Path detection"
When I have a path http://xxx.com/test/a/
Command: dirsearch.py -u http://xxx.com/test/a/
The detection result using dirsearch is http://xxx.com/ instead of http://xxx.com/test/a/
I want to probe the path under /test/a/

[2021-08-02 07:36] shelld3v commented on #945
Why do you think that? Any screenshot?

[2021-08-02 07:44] Baikeryoyo commented on #945
![image](https://user-images.githubusercontent.com/57838797/127822897-624fe4ab-8a46-4da3-9543-6ccb2b6c4ce0.png)
Here, my path is / # /, but actually it starts from XXX: 1890 /. I want to detect the path behind / # /

[2021-08-02 08:14] shelld3v commented on #945
Hi, dirsearch can't brute-force after `#`, and brute-forcing after `#` is also absolutely useless, because everything after `#` (also called "hash") is used for client-side only, can be captured by client-side javascript for purposes but has no impact on the server response. More information here: https://en.wikipedia.org/wiki/URI_fragment

[2021-08-02 08:14] #945 closed

[2021-08-02 11:29] Yami-Kira opened #946 "About --force-extensions"
Hey,
Have been using dirsearch for a while, noticed that even when providing extensions somehow as if I didn't (for normal wordlists without %EXT%), then had to use -f(--force-extensions), but then as if there is an extra extensions added , for example if a wordlist is 50 K word ... adding an extension like php   the programm wordlist should be like 100 K (like gobuster)  but no  it becomes 150 K)

[2021-08-02 11:40] shelld3v commented on #946
I wish I could change that noisy addition too, but have already asked/requested @maurosoria and received a refusion. Until now, the only way to do it is to use `--suffixes` instead of `-e`. Here is an example:

[code]

Notice the `,`, without adding that `,`, your result will be:

[code]

But not:

[code]

Feel free to convince him to change it :)

[2021-08-02 14:22] Yami-Kira commented on #946
It became even more wired, tried your solution which looked simple , but didn't work , at least for me
using   --suffixes, and yeah I assure you that I added ","  , tried : ....
--suffixes .php,     &     ,.php     &     .php, ,      &     .php,''     &      .php,' '       & .php,""
And even forms like:
--suffixes=.php,         &  --suffixes=".php,"        &  --suffixes="php,'' "

I do understand

[2021-08-02 14:46] shelld3v commented on #946
Hi @Yami-Kira, how did you know if the result wordlist doesn't contain both `endpoint` and `endpoint.ext`?

[2021-08-03 17:05] Yami-Kira commented on #946
@shelld3v
-Worldlist Size
and while it's running you see the actual words it's trying (I know sneaking fast, but no it was all extensions)
I even waited until it finishes but no, it doesn't come back to enumerate directories
AND of course no directories in the output, while there IS (normal scan before trying)

[2021-08-04 04:01] shelld3v commented on #946
Hello @Yami-Kira,

It looks like you are using an old version of dirsearch, please update it and so you won't even need the `,`. Btw, after updating it, tell me what do you think about our new progress bar;)

[2021-08-06 12:46] Yami-Kira commented on #946
@shelld3v
Wired !!!!!
I have always been using the latest version(0.4.2), installed via pip (python3 -m pip install dirsearch).
After your last replay saying to use the latest version frankly I said "WTF" I am already using it,  then said let's just use the GitHub version, and I did, and some how it worked , I even saw the new progress bar you talked about.

# You may want to recheck the pypi.org

[2021-08-06 12:56] shelld3v commented on #946
pypi.org creates releases by tag, and since I have already uploaded a release for dirsearch with tag `v0.4.2`, I can't re-upload it now. Now we will wait for `v0.4.3` :)

[2021-08-06 15:58] Yami-Kira commented on #946
@shelld3v
Good luck, and thanks a lot for replaying and solving the problem
And for dirsearch of course

[2021-08-06 15:58] #946 closed

[2021-08-09 07:24] jhalx opened #949 "Windows mkdir 如果目标非常规端口 在创建目录时会无法创建 因为带有特殊字符“：”"
![image](https://user-images.githubusercontent.com/70245898/128671920-a3450fc1-1bb4-47dd-b1e9-e03f8b588df1.png)
具体在
dirsearch-0.4.2-beta1\lib\utils\file_utils.py", line 130, in create_directory
os.makedirs(directory)

[2021-08-09 07:31] killpi commented on #949
你可以指定输出，-o 或 --outfile

[2021-08-09 07:35] jhalx commented on #949
这是一个挺不错的临时解决办法，
但是如果在指定大量任务的时候，会不会出现其他问题呢，因为我不同机器上安装的版本应该是不一样的，另一台机器似乎没有这种问题

[2021-08-09 13:40] ghost opened #950 "error while using -l option"
when i try to pass list of subdomains to the program like this.
dirsearch -l subdomains.txt

its is showing me a message like-
The file with URLs does not exist

[2021-08-09 14:07] shelld3v commented on #950
Can you try `dirsearch -l /path/to/subdomains.txt`?

[2021-08-10 11:31] bugknr commented on #950
yes i did and got the same result
dirsearch -l Desktop/woilaout/all_subdomains                                                                                                              148 ⨯ 1 ⚙
The file with URLs does not exist

[2021-08-10 12:58] shelld3v commented on #950
I mean full path, like `C:\Usr\...`

[2021-08-10 14:36] bugknr commented on #950
its working thanks mate
why i did not think about it.
i always use -o option with full path

[2021-08-10 15:08] shelld3v commented on #950
The reason is that your dirsearch is run inside the pip packages folder, so it won't open the file inside your current directory. Whenever I have time, I will fix this behavior!

[2021-08-17 23:09] Sicks3c opened #951 "Different output same version"
### What is the question?

I would like to know how the same version can have different output and how to control it
In fedora VPS I have this output which is better
![Here](https://i.imgur.com/qguRvM9.png)
and for Windows WSL I have this (Using python3.7 for both)
![Here](https://i.imgur.com/Ftv50Xk.png)

[2021-08-18 01:26] shelld3v commented on #951
Hi, are you sure both dirsearch commands are absolutely the same including the target URL? You can try reducing the threads number, servers sometimes work differently because of a lag from dirsearch heavy traffic

[2021-08-18 13:12] Sicks3c commented on #951
Hello @shelld3v

Tried with the same `Threads` the output is still different
`Firs box is VPS fedora`
`Second is WSL`

Regards

[2021-08-18 13:22] shelld3v commented on #951
@Sicks3c Try 3 threads only:)

[2021-08-18 13:28] Sicks3c commented on #951
It has the same behavior
![Here](https://i.imgur.com/gcECDQI.png)

[2021-08-18 13:54] shelld3v commented on #951
I can see both have the same results (from your screenshots)

[2021-08-18 13:57] Sicks3c commented on #951
True they have the same results but not the same Decoration
The second one has `[]` and Progress is shown in a bar but the other one doesn't have that

[2021-08-18 14:05] shelld3v commented on #951
@Sicks3c Ohh I misunderstood you! Well the progress bar was released recently in the git version, your first terminal is using the version from `pip`, which doesn't have that implementation yet. Try `git clone https://github.com/maurosoria/dirsearch.git`, and if you like the current short command (`dirsearch -u target ...`), you can run `pip3 install .` inside the dirsearch directory

Btw, which i

[2021-08-18 18:41] Sicks3c commented on #951
Oh I see the one with the progress one is the best :)
![This](https://camo.githubusercontent.com/06438cb72c37ab492ba3f9e777665b9cac90460bf0d6acf0af2b863412f6b9d3/68747470733a2f2f692e696d6775722e636f6d2f71677552764d392e706e67)
Yeah now from the git one it works fine <3

Thank you

[2021-08-19 05:34] #951 closed

[2021-08-20 01:03] cgarrovillo opened #953 "Brute force numbers"
### What is the question?
Is it possible to brute force numbers?

### Any additional information?

OS, dirsearch version, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [X] I read the documentation (README)

[2021-08-20 04:03] shelld3v commented on #953
Hi, it's not possible for dirsearch, there are tools out there that can finish this task for you (turbo intruder, ...). We are also considering this feature because some people have already requested it, but have not decided yet

[2021-08-20 14:49] cgarrovillo commented on #953
Thats alright, I just made a simple nodejs that wrote to a file stream in a for loop and used it as a wordlist. Thanks!

[2021-08-20 14:49] #953 closed

[2021-08-24 02:52] anbol opened #955 "It is recommended to add the function of obtaining website title"
### What is the feature?

What is it?

### What is the use case?

When and who will use this? Why this matters?

[2021-08-24 04:02] shelld3v commented on #955
Hi, thank you for your suggestion, this has been requested by a lot of people for a while, but printing out the title is just really annoying in the output. However, I will do a feature that allows people to write their own scripts and do whatever they want

[2021-08-24 04:03] shelld3v commented on #955
Duplicate of #764

[2021-08-24 04:03] #955 closed

[2021-08-25 08:08] Anon-Exploiter commented on #799
This can be closed based on https://github.com/maurosoria/dirsearch/pull/926

@j7ur8 please pull the latest Dockerfile and try again. It'll work fine.

[2021-08-25 08:17] shelld3v commented on #799
Thanks @Anon-Exploiter for reminding me of this!

[2021-08-25 08:17] #799 closed

[2021-09-01 01:50] wk0ng commented on #949
/lib/controller/controller.py第327行及335行后面给directory_path变量加一句

directory_path = directory_path.replace(':', '_')

[2021-09-04 10:22] InsaneMiner commented on #843
is some one working on this. If not i could give it a go

[2021-09-04 11:01] shelld3v commented on #843
Noone has started yet, chance chance for you;)

[2021-09-05 04:32] InsaneMiner commented on #843
cool. I will start working on it then

[2021-09-08 22:17] DanielAbsi opened #961 "Cannot use it"
After Installing the git on a linux I'm unable to run the project. I install the file and also the requirements file.
When I try to run the code this is what I get:

[code]

How could I fix it?

[2021-09-09 02:22] shelld3v commented on #961
@DanielAbsi are you using python 2? If not, can you try `pip install -r requirements.txt`?

[2021-09-09 02:25] shelld3v commented on #949
We have already replaced all invalid characters in the directory path in the latest version of dirsearch, please update it

[2021-09-09 02:25] #949 closed

[2021-09-10 07:20] newcodor opened #962 "can't create a folder under reports path on windows system"
python version: Python 3.7.6
os : windows server 2016

Because the ":" symbol in the url is invalid in the windows folder naming, the tool cannot create a folder under the reports path.

`Traceback (most recent call last):
  File "C:\tools\dirsearch\dirsearch.py", line 47, in <module>
    main = Program()
  File "C:\tools\dirsearch\dirsearch.py", line 43, in __init__
    self.controller = Controll

[2021-09-10 12:09] shelld3v commented on #962
Can you check if the issue exists in the latest commit of dirsearch? (you will have to install with git)

[2021-09-12 19:21] Sagarraaj opened #963 "Sagar"
### What is the question?

What do you like to ask about?

### Any additional information?

OS, dirsearch version, python version, screenshots, dirsearch command, console output, ...?

#### Checker:sagar
 - [wexg ] I read the documentation (REAd
 - jjhhkkiuuruxoyxufuci b k xh k k k k j

[2021-09-12 19:22] Sagarraaj commented on #963
ẞahsni

[2021-09-13 02:02] #963 closed

[2021-09-13 06:42] newcodor commented on #962
This issue is indeed fixed in the latest version.

[2021-09-13 06:46] newcodor commented on #962
This issue appeared in version 0.4.2-beta1, and was fixed in the latest version.

[2021-09-13 06:46] #962 closed

[2021-09-13 14:15] M1k0er opened #965 "Enhancing the coverage of the dictionary"
Can you generate a dictionary based on url characteristics, such as http://www.google.com, it can automatically generate:
[code]

[2021-09-13 14:20] shelld3v commented on #965
I don't think this should be done by dirsearch, as it doesn't fit the purpose of the tool. I believe there are some tools out there for this (I don't remember the name)

[2021-09-14 07:07] Abdullashafi opened #966 "What the good resourece learn the ethelical hicker"
### What is the question?

What do you like to ask about?

### Any additional information?

OS, dirsearch version, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [ ] I read the documentation (README)

[2021-09-14 07:26] #966 closed

[2021-09-14 10:04] jasonwchn opened #967 "how to load all extensions dict when scan start?"
Hello:

I'm using dirsearch on kali when I use paramrter "-e *".but I'v got a message.

The message is :
[code]
I want to load all extensions when I beggin scan,How to do it?

[2021-09-14 10:28] shelld3v commented on #967
@jasonwchn Try `-e "*"` instead of `-e *`

[2021-09-14 10:28] #967 closed

[2021-09-17 09:08] wudifengz opened #968 "can't create direcroty!!"
### What is the current behavior?

What actually happens?

### What is the expected behavior?

What it should be instead?

### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [x] I tested in the latest version of dirsearch

when I use it to scan a website with IP and PORT on windows OS. There is a Error:
NotADirectoryError: [W

[2021-09-17 09:35] shelld3v commented on #968
@wudifengz Please update your direarch to the latest version from git (`git clone https://github.com/maurosoria/dirsearch`). Thanks!

[2021-09-17 09:35] #968 closed

[2021-09-20 06:04] Yash07700 commented on #874
STILL IT IS A BUG

[2021-09-20 07:45] Youknow2509 opened #969 "error , I cann't use it"
Traceback (most recent call last):
  File "C:\Tool\dirsearch.py", line 27, in <module>
    from lib.core.argument_parser import ArgumentParser
  File "C:\Tool\lib\core\argument_parser.py", line 24, in <module>
    from lib.parse.headers import HeadersParser
  File "C:\Tool\lib\parse\headers.py", line 23, in <module>
    from lib.utils.fmt import lowercase
  File "C:\Tool\lib\utils\fmt.py", line 19

[2021-09-22 01:53] ChenYun4164 opened #970 "--raw not work"
### What is the current behavior?

What actually happens?

### What is the expected behavior?

What it should be instead?

### Any additional information?

OS, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [ ] I tested in the latest version of dirsearch

[2021-09-22 02:35] shelld3v commented on #970
@ChenYun4164 Hi can I view the file `zzz`?

[2021-09-22 02:36] shelld3v commented on #969
Try `pip3 install -r requirements.txt`

[2021-09-22 09:55] ChenYun4164 commented on #970
thanks for your reply~

![image](https://user-images.githubusercontent.com/45526365/134322952-ce53372a-b588-47e0-887d-9c874bb97320.png)

[2021-09-22 11:17] shelld3v commented on #970
Thank you for reporting this, your bug has been confirmed and will be fixed after #971

[2021-09-23 00:23] Youknow2509 commented on #969
I tried and it didn't work..........

[2021-09-23 02:36] shelld3v commented on #969
How did you run dirsearch (Docker, ...)? What python version did you use? What was the pip version (`pip --version`)?

[2021-09-23 02:42] Youknow2509 commented on #969
Mình ũng người việt nha ...

[2021-09-23 02:42] Youknow2509 commented on #969
![image](https://user-images.githubusercontent.com/88392742/134447511-4c54eb09-8d3b-40be-95c2-1755b243ada3.png)

[2021-09-23 12:46] Xitro01 opened #972 "Crashes when name or service not known."
### What is the current behavior?

When I scan a list of URL's and one of the URL's does not work/respond, it will crash dirsearch:
[code]

### What is the expected behavior?
It should simply skip the not working URL.

### Any additional information?
Running on: Kali Linux 2021.1 with dirsearch v0.4.2.

[2021-09-23 16:57] shelld3v commented on #972
Thank you for reporting, this will be fixed soon

[2021-09-23 17:01] shelld3v commented on #969
Đang chạy python 3 hay python 2? Chạy `pip install -r requirements.txt` thì nó hiển thị gì?

[2021-09-23 20:52] DanielAbsi commented on #961
I'm on python 3

[2021-09-24 01:28] Youknow2509 commented on #969
Đang chạy python 3. Chạy " pip install -r requirements.txt"  lỗi
Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

[2021-09-24 02:40] shelld3v commented on #969
Sao lại ko có requirements.txt? Phải chạy command đấy ở trong folder dirsearch đó. Nhưng trước hết phải sửa lỗi `Defaulting to user installation because normal site-packages is not writeable`, có thể sửa tạm thời bằng cách chạy lệnh với đặc quyền cao nhất (`Administrator` trong Windows)

[2021-09-24 07:21] Xitro01 commented on #972
I manually edited the commit that you made and this fixed the issue for me!

[2021-09-30 02:18] ClayStan opened #974 "what's the upstream and license of thirdparty/*.py"
I'm packing dirsearch into debian,
so i want to know the upstream and license of
https://github.com/maurosoria/dirsearch/blob/master/thirdparty/__init__.py
https://github.com/maurosoria/dirsearch/blob/master/thirdparty/socks.py
https://github.com/maurosoria/dirsearch/blob/master/thirdparty/sockshandler.py
https://github.com/maurosoria/dirsearch/tree/master/thirdparty/sqlmap

I guess thirdparty/__i

[2021-09-30 02:58] yangyang-zhang commented on #836
This problem still exists in version 0.4.2

sudo dirsearch -l domains.txt -w words.txt

[code]

[2021-09-30 03:07] shelld3v commented on #974
https://github.com/sqlmapproject/sqlmap
https://github.com/Anorov/PySocks

[2021-09-30 03:07] #974 closed

[2021-09-30 03:09] shelld3v commented on #836
@yangyang-zhang Please install with git for latest commits: `git clone https://github.com/maurosoria/dirsearch`

[2021-10-01 08:15] Youknow2509 commented on #969
chạy cái dirsearch.py xog lỗi như trên cùng mà .......

[2021-10-01 11:24] shelld3v commented on #969
Đầu tiên truy cập vào folder dirsearch trong cmd/powershell, rồi mới chạy `pip install -r requirements.txt`

[2021-10-18 15:49] helmutye0 opened #977 "dirsearch proxied through Burp Suite = intermittent success"
### What is the current behavior?

dirsearch proxied through Burp Suite running on localhost intermittently works with a certain command, but frequently fails with exact same command line with following message:

Error with the proxy: http://127.0.0.1:8080

Opening randomized requests from dirsearch visible in Burp Suite Proxy HTTP History, with no apparent issue

### What is the expected behavior

[2021-10-18 18:04] helmutye0 commented on #977
It appears this may be the case--I am able to proxy through Burp Suite without issue when targeting hosts that do not return HTTP 503 in response to dirsearch's randomized test requests. The only hosts that seem to encounter this issue are those who return HTTP 503 to dirsearch's initial randomized test requests.

Is there a method you can suggest for getting around this?

[2021-10-26 03:09] epochfairy opened #979 "目录名称无效"
1. pip install dirsearch
2. dirsearch -u http://114.29.6.6:8800-e *
3. error
Traceback (most recent call last):
  File "C:\Program Files\Python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Program Files\Python39\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\faytale\Desktop\autoScript\venv\Scripts\dir

[2021-10-26 10:55] #979 closed, assigned to nobody

[2021-11-04 14:14] drego85 opened #980 "Deep Recursive: doesn't work"
### What is the current behavior?

Today I tried the Deep Recursive feature and it doesn't seem to work anymore.

### What is the expected behavior?

Testing the feature on my website did not auto-scan the previous directory.

With the command:

`python3 dirsearch.py --deep-recursive -u https://phishing.army/download/`

It expects to automatically scan these two urls:

1. https://phishing.army/dow

[2021-11-04 14:37] drego85 commented on #980
🤦🏻‍♂️ I didn't understand anything! Sorry!

[2021-11-04 14:40] shelld3v commented on #980
You need me to explain it again? Or you get it now?

[2021-11-04 14:42] drego85 commented on #980
I understood @shelld3v ! Thanks ;)

[2021-11-04 14:43] drego85 opened #981 "Reverse Recursive Scan"
### What is the feature?

Following this [Issue](https://github.com/maurosoria/dirsearch/issues/980), I think it is useful to introduce a Reverse Recursive Scan!

### What is the use case?

If I scan this url: `https://www.example.org/downloads/documents/` dirsearch will automatically scan the previous directories. Example:

1. https://www.example.org/downloads/documents/
2. https://www.example.or

[2021-11-05 02:53] shelld3v commented on #981
It isn't a good or necessary feature, people can type
`dirsearch -u https://www.example.org/ --subdir /,downloads,downloads/documents`
which doesn't take too much time to do

[2021-11-05 02:54] shelld3v commented on #981
Therefore I'm closing this issue, thank you for your contribution and feel free to submit more ideas!

[2021-11-05 05:36] drego85 commented on #981
Really?

Three people have even put a like and is it necessary for you to close the idea/issue? 🤷‍♂️

I understand that you can manually indicate subdirectories, but automatically it would be more rapid!

/cc @maurosoria

[2021-11-05 06:45] shelld3v commented on #981
I want to keep dirsearch options unique, special and really useful, `--subdirs` was actually made to achieve something you said above. If one day I can enhance dirsearch to UI app, I would add your suggested feature, but since dirsearch is a command-line tool, I want to ignore small and alternative features, which mostly focus on comfort, to focus on bigger things, cause I don't like to see a mess

[2021-11-05 11:25] yunemse48 opened #982 "FileNotFound Error: Report Template Names Don't Match"
### What is the current behavior?

The program cannot find the report templates because the name being searched is different than the name of the actual file. That means the program is searching for the templates by "incorrect" names.

### What is the expected behavior?

The program should find and use the templates properly.

### Any additional information?
Dirsearch had been installed via `pip3

[2021-11-05 11:27] yunemse48 commented on #982
I've added the wrong screenshot, I'm closing the issue. The root of the problem might be different.

[2021-11-05 11:27] #982 closed

[2021-11-08 08:05] shelld3v commented on #977
I don't think dirsearch treats 503 status code as an *error* from the proxy, maybe some test requests were actually failed, and reducing the threads number might be the solution

[2021-11-10 07:10] CaijiOrz opened #984 "When site use WAF scan proc will stop at first"
When site use WAF, first request url like .0zeGnr69eweI will stop, and prompt "Cannot connect to:"

![image](https://user-images.githubusercontent.com/18412368/141065544-c6b39773-d607-4168-9ee7-f0d1e87fa50e.png)

Of course, I prefer it to continue to work, so i add this code it can continue to work

![image](https://user-images.githubusercontent.com/18412368/141066285-5f8e4c88-822b-4f5e-a679-c3b07

[2021-11-10 07:13] firstC99 opened #985 "When site use WAF scan proc will stop at "first path""
When site use WAF, first request url like .0zeGnr69eweI will stop, and prompt "Cannot connect to:"

![image](https://user-images.githubusercontent.com/18412368/141065544-c6b39773-d607-4168-9ee7-f0d1e87fa50e.png)

Of course, I prefer it to continue to work, so i add this code it can continue to work

![image](https://user-images.githubusercontent.com/18412368/141066285-5f8e4c88-822b-4f5e-a679-c3b07

[2021-11-10 07:14] #984 closed

[2021-11-10 07:16] CaijiOrz commented on #969
python -m pip install -r requirements.txt

[2021-11-12 07:12] yanghaoi opened #986 "Same pages back bugs"
When I scan a website,dirsearch output like this:
![image](https://user-images.githubusercontent.com/21354684/141425175-b21effab-6109-42d4-9a33-8d5d44b3ddea.png)

The website always return same pages .....

Can we check html file md5 hash if the website always response same pages counts > 5 ?

[2021-11-12 08:08] shelld3v commented on #986
@yanghaoi Hi, is it possible to disclose the target? Because checking html responses and filtering similar pages are something we have already done, so I might need to do more tests and investigations to point out the issue or improve our tool.
Also can you try to run the scan again with this command: `dirsearch.py -u <target> -t 10 --exclude-response php.bak`

[2021-11-14 17:12] V35HR4J opened #987 "Suppress InsecureRequestWarning"
HI!,
My target seems to have invalid certificate.
So i am facing this error.

/requests/packages/urllib3/connectionpool.py:834: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/security.html

So, is there any tag as solution to this ? or any recomondations to fix this?

Thanks for Grea

[2021-11-15 02:15] shelld3v commented on #987
Hi, what version are you using?

[2021-11-15 08:35] V35HR4J commented on #987
Hi!,
Just noticed that i was using older version.
Updated one seems fine.
Thanks again!

[2021-11-15 08:35] #987 closed

[2021-11-16 02:34] yanghaoi commented on #986
This target: https://meet.saicgmf.com/

[2021-11-17 02:27] shelld3v commented on #985
It's a too special behaviour, I don't think I will do anything about this, the server interrupts the request when it has the dot in the path, which I don't see any possible solution here. I will think more to see if I can do something to avoid this, but probably we will need a new feature, like allowing the user to deploy the script by themself

[2021-11-17 13:14] shelld3v commented on #986
Hi, you can try this: `./dirsearch.py -u https://meet.saicgmf.com/ --exclude-response '/php.old' -e php,html`

[2021-11-17 14:20] yanghaoi commented on #986
Thanks, It's working...  ^_^

[2021-11-18 03:26] Scivous opened #989 "运行过程中出现这个报错是什么原因？"
![image](https://user-images.githubusercontent.com/66907785/142346286-54b97d71-fee8-4fc3-a395-7686a6415050.png)

requirement都安了。

[2021-11-18 03:27] Scivous commented on #989
边扫边报错，
![image](https://user-images.githubusercontent.com/66907785/142346447-50788a4b-7d0f-48d7-a5bc-41472e968caa.png)

[2021-11-18 03:27] Scivous commented on #989
运行的命令是：python dirsearch.py -u https://www.baidu.com/ -e * -r --recursion-depth 3 --recursion-status 200-399 -o report.html

[2021-11-18 03:42] shelld3v commented on #989
您确定您使用的是最新版本吗? 尝试:
[code]

[2021-11-18 04:00] Scivous commented on #989
![image](https://user-images.githubusercontent.com/66907785/142349294-33e56d04-87cd-4b11-b9f0-0fd5600e2f5c.png)
还是不行
是最新版本。刚下的。

[2021-11-19 06:44] shelld3v commented on #989
您能否将错误消息复制并粘贴到此处 (包括“FileNotFoundError...”部分) ？没有图像

[2021-11-24 08:43] 0xalwayslucky opened #990 "Allow editing configuration in the middle of the scan"
### What is the feature?

Decide while scanning which directories should be added to the list of recursively brute forced directories

### Why?

Gives more control to the user and decide on the get-go whether a directory looks interesting to be brute forced or skipped.

Especially useful if you do not know beforehand which directories will likely be there, but can be useful at anytime the tool is

[2021-11-24 09:03] shelld3v commented on #990
There are several ways here:
- CTRL-C when it starts scanning the unwanted sub-directories
- Add well-known uninteresting sub-directories to `/default.conf` file (the `exclude-subdirs` part)

Allowing doing this interactively is always the best, but they are alternative solutions you can do while we implementing the feature

[2021-11-24 09:18] 0xalwayslucky commented on #990
Awesome thanks for implementing this! Did not know about the trick with CTRL-C yet :)

[2021-11-27 12:18] hu185396 opened #991 "AttributeError: 'Fuzzer' object has no attribute 'play_event'"
运行报错，运行命令：python dirsearch.py --url-list url.txt -i 200,300 --timeout 3 –random-agent --max-time=3 -F
![image](https://user-images.githubusercontent.com/50415778/143680992-5ae3475f-24f5-49c2-9127-bbf367ac6506.png)

[2021-11-27 12:37] hu185396 opened #992 "--max-time只对单个url生效"
--max-time参数，使用--url-list指定url列表时只能对第一个url有效，后续请求无法超时退出

[2021-11-27 13:31] shelld3v commented on #992
这不是实际问题，问题是如果您将 --max-time 设置得太小（如上一期中为 3 秒），则 dirsearch 不会退出。我正在关闭这个并保持你以前的问题打开

[2021-11-27 14:20] hu185396 commented on #992
我将--max-time设置为30，重新测试后发现，url列表只有第一条会在30秒后退出，后续的url会持续到结束，超过设置时间也不会自动退出
测试命令为python dirsearch.py --url-list url.txt -i 200,300 --timeout 1 –random-agent --max-time=30 -F
第一个url30秒后自动退出
![image](https://user-images.githubusercontent.com/50415778/143685283-6aab1891-3e3c-40a7-a7f5-bae0e3cc58f8.png)

第二个url开始后续都将运行所有扫描后才会退出，无法达到预期的30秒退出
![image](https://user-images.githubusercontent.com/50415778/14368

[2021-11-27 14:56] shelld3v commented on #992
It seems that I missed something

[2021-11-29 16:27] shuraros2334 opened #993 "When I use the HTTP proxy, if the HTTP proxy needs to enter the user password, how to set it in dirsearch"
When I use the HTTP proxy, if the HTTP proxy needs to enter the user password, how to set it in dirsearch

[2021-11-30 04:38] shelld3v commented on #993
You can something like try this: `./dirsearch.py ... --proxy http://<username>:<password>@localhost:8080`

[2021-11-30 04:38] #993 closed

[2021-12-02 07:37] B4RD4k opened #994 "Bug Report - 'utf-8' codec can't decode byte 0xa4 in position 1: invalid start byte` - Windows"
Hi,
I have started the dirsearch engine on some target and the response was the following:

`[09:35:58] Starting:
Traceback (most recent call last):
  File "C:\Users\noname\Desktop\Tools\dirsearch\dirsearch.py", line 48, in <module>
    main = Program()
  File "C:\Users\noname\Desktop\Tools\dirsearch\dirsearch.py", line 44, in __init__
    self.controller = Controller(self.script_path, self.argume

[2021-12-02 10:52] shelld3v commented on #994
Thanks, I have submitted the PR, the issue will be fixed soon 👍

[2021-12-02 20:12] shuraros2334 opened #996 "The server does not support HTTP / 2.0 and dirsearch cannot connect to it"
https://prnt.sc/21fy7x7 - HTTP/1.1 request and response

https://prnt.sc/21fyajc - HTTP/2.0 request and response

dirsearch sends the first request from http / 2.0 and since the server does not support this protocol and does not respond to it, dirsearch thinks that the server is down, but it is not

[2021-12-02 20:43] #994 closed

[2021-12-03 03:30] shelld3v commented on #996
Hi, I can't reproduce the issue, first I added `/21fy7x7` and `/21fyajc` to my wordlist, then I scanned https://prnt.sc and no error appeared:

[code]

[2021-12-03 20:58] Vtanneru commented on #991
There is no play_event() func defined in the fuzzer.py

[2021-12-04 03:53] shelld3v commented on #991
We do set it in line 155. This issue only happens when you set the max runtime too short, so basically it doesn't impact the user experience

[2021-12-05 12:16] decadecaomm opened #999 "Under single thread, some dictionary contents will still be skipped"
When I scan sensitive directories such as tomcat, Dirsearch will automatically skip dictionary traversal about it,How to solve this problem

？

[2021-12-05 13:40] shelld3v commented on #999
I don't get it, can you provide a screenshot with your expected behavior?

[2021-12-09 09:07] decadecaomm commented on #999
uhmm....The situation is a little special,I can't reveal too much,Can the tool traverse the directory by identifying middleware？

[2021-12-11 08:54] AlishahMughal123 opened #1001 "No distribution found"
![image](https://user-images.githubusercontent.com/52525188/145670674-2432906d-5293-4862-ac77-119c3e9cfcc7.png)

pip3 not working

[2021-12-11 09:18] shelld3v commented on #1001
You can try:
[code]
Or
[code]

[2021-12-11 09:40] AlishahMughal123 commented on #1001
Not working at all, You can check by yourself

[2021-12-11 11:45] shelld3v commented on #1001
I can't check it because it's not reproducible on my side, I just searched the solution on the Internet. This is not an issue with the tool. Can you give me the output of `curl https://bootstrap.pypa.io/get-pip.py | python3`?

[2021-12-11 15:59] nairanu9888 commented on #881
Hey! I would like to take up this issue and try to resolve this matter.

[2021-12-11 16:21] nairanu9888 commented on #384
Hey! can you provide me more information about "Option to save raw responses into a folder". I would like to work towards this feature.

[2021-12-12 07:00] shelld3v commented on #881
Hello @nairanu9888, thank you a lot for your help, feel free to submit a PR to fix this issue, I will approve and merge it

[2021-12-12 07:25] shelld3v commented on #384
Thanks for your interest, I am having 2 ideas for this feature:
- Let say dirsearch finds `/apple.php` and `/html/index.html`, I want it to save the content of `/apple.php` (from the server response) to `/example/apple.php`. With the second path, it creates a folder named `html` inside `/example` and create the file `index.html` with the content from the response (Note: `example/` is a random fold

[2021-12-12 07:27] shelld3v commented on #999
I don't really understand wdym by "identifying middleware"

[2021-12-12 15:59] nairanu9888 commented on #832
Hey !! Can you describe more about this feature?

[2021-12-12 23:13] nairanu9888 commented on #881
@qumusabel Can I know more about the issue? Does it still persist? How exactly you installed dirsearch? And could you share the command that you ran which caused this error? Such error is caused when we try to print the object of the class Program , which is totally indecipherable.

[2021-12-13 04:31] shelld3v commented on #832
Hi @nairanu9888, this is an advanced feature, I want dirsearch to save information of all scans and create a summary report for it, like how many paths have dirsearch found in all scans, how many times each path was found, on which root domain, what extensions were found on this root domain (`*.example.com`), ... Such things can be used for analysis and reference. I think this feature is kinda too

[2021-12-13 04:32] shelld3v commented on #832
Also @nairanu9888, can you join our slack: https://join.slack.com/t/dirsearch/shared_invite/zt-10fpu2k7k-IHbB8PN9G23pcwpoE4mapg

[2021-12-13 04:36] shelld3v commented on #881
@nairanu9888 I was able to reproduce his issue using those commands:
[code]

Then you can easily run `dirsearch -u <target>`

[2021-12-13 23:14] nairanu9888 commented on #832
Okay thankyou @shelld3v

[2021-12-14 16:43] nairanu9888 commented on #881
Okay! I tried out the same commands, unable to reproduce his issue. What about upgrading to the latest pip version?

[2021-12-14 20:02] qumusabel commented on #881
Did a clean install with venv and `pip install --no-cache-dir`, the issue is still there, both in PyPI and in the current commit.

[2021-12-14 20:44] cruizer468 opened #1004 "error to execute the file"
Why Is Not Working ?
i have the dirsearch command and the code not working
here's my screenshot
![why](https://user-images.githubusercontent.com/36890086/146076383-4ece7027-54fa-426c-b8e2-c39ae8e97cfe.JPG)

please tell me whats wrong
Thankyou

way.

[2021-12-14 21:11] Ivan0x17 commented on #1004
I the problem reguard the module Chardet
For resolve the problem install it using a command
pip install chardet
Or
Pip3 install chardet

[2021-12-14 21:28] cruizer468 commented on #1004
i have already install chardet
----
Requirement already satisfied: chardet in c:\users\wahyu\appdata\local\programs\python\python310\lib\site-packages (4.0.0)
thankyou for the answer but not worked

[2021-12-15 03:31] shelld3v commented on #1004
Hi @cruizer468, I can see that you installed `chardet` package in another drive (`C:/`) from the one you saved dirsearch (`D:/`), that maybe the cause of this issue

[2021-12-16 02:42] decadecaomm commented on #999
When I use tomcat, will dirsearch automatically identify the currently used framework？

[2021-12-16 03:12] shelld3v commented on #999
Did you mean "can dirsearch identify the technologies that the target uses"?

[2021-12-16 03:13] decadecaomm commented on #999
yes

[2021-12-16 03:18] shelld3v commented on #999
Currently, no, but we have that feature in the TODO list

[2021-12-16 03:21] decadecaomm commented on #999
Ok,let me see

[2021-12-21 16:02] Scivous opened #1006 "在-l urls.txt批量扫描过程中报错导致扫描中断"
在-l urls.txt批量扫描过程中报错导致扫描中断
执行的命令为：
python3 dirsearch.py -l urls.txt --format csv -o xxx.com.csv
前几个都执行的没问题。后面会报错，导致进程终止，无法扫描全部urls。
![Snipaste_2021-12-22_00-06-10](https://user-images.githubusercontent.com/66907785/146961497-a92546c8-ae64-4336-8716-885c27f0f053.png)

[2021-12-21 16:12] Scivous commented on #1006
单独运行该url也会报错，希望在批量扫描过程中，出现报错继续下一个，不要中断扫描进程。
![Snipaste_2021-12-22_00-09-31](https://user-images.githubusercontent.com/66907785/146962102-fb1f2ff7-958a-4cf4-8e7c-61fcaa1f1e7b.png)
When an error occurs, I hope to continue scanning the next one. Instead of directly interrupting the scanning process.

[2021-12-22 16:35] shelld3v commented on #1006
Hi this issue has been fixed already, please delete and then re-install your dirsearch with git: `git clone https://github.com/maurosoria/dirsearch`

[2021-12-22 16:35] #1006 closed

[2021-12-28 02:05] fayewong00 opened #1007 "batch process will use so many cpu and memory , the computer is stuck. can optimize the performance ,gobuster scan is use a litttle cpu and memory"
batch process will use so many cpu and memory , the computer is stuck. can optimize the performance ,gobuster scan is use a litttle cpu and memory.gobuster is use golang.

[2021-12-28 03:29] shelld3v commented on #1007
You can reduce the threads

[2021-12-28 03:33] fayewong00 commented on #1007
so many webs penetration testing ,batch

[2022-01-04 09:59] Ademking opened #1009 "Re-try request with different proxies when using a proxy list"
### What is the feature?

--exit-on-error=false

### What is the use case?

![image](https://user-images.githubusercontent.com/12462188/148041869-77ea8c2a-c941-4ae5-a993-8449911db9a4.png)

When using list of proxy, dirsearch will continue scanning without exit

[2022-01-07 05:03] purpleseq opened #1010 "Please someone solve my issue... i've got this error...how to solve it all to run the dirsearch"
[23:50:55] Starting:
Traceback (most recent call last):
  File "/usr/share/dirsearch/dirsearch.py", line 47, in <module>
    main = Program()
  File "/usr/share/dirsearch/dirsearch.py", line 43, in __init__
    self.controller = Controller(self.script_path, self.arguments, self.output)
  File "/usr/share/dirsearch/lib/controller/controller.py", line 242, in __init__
    self.prepare()
  File "/usr

[2022-01-07 12:13] shelld3v commented on #1010
Hi, please update your dirsearch!

[2022-01-07 12:13] #1010 closed

[2022-01-08 06:55] shelld3v commented on #1007
I don't understand what do you mean

[2022-01-08 06:57] shelld3v commented on #1004
Closing as it has been inactive for a while and I have shown the solution, feel free to ask for reopening

[2022-01-08 06:57] #1004 closed

[2022-01-08 06:58] #999 closed

[2022-01-08 06:59] shelld3v commented on #996
Closing as it has been inactive for more than 30 days

[2022-01-08 06:59] #996 closed

[2022-01-08 11:54] shelld3v commented on #965
Decided not to implement this feature

[2022-01-08 11:54] #965 closed

[2022-01-08 13:17] #164 closed

[2022-01-08 13:19] #150 closed

[2022-01-08 14:17] shelld3v commented on #992
修复已完成，将尽快合并，抱歉耽搁了

[2022-01-09 05:39] fayewong00 commented on #1007
With a small amount of testing, the tool is fine. But batch testing will consume a lot of computer resources, causing the computer to freeze. Usually batch testing is very much。

[2022-01-09 06:41] shelld3v commented on #1007
I will try to figure out how to improve dirsearch performance, but this seems to be a long-term issue, might take a lot of time and can not be fully fixed

[2022-01-09 06:53] fayewong00 commented on #1007
Thank you very much! Found in batch test process, occupy computer resources too much, so make a suggestion! I also know that this is a long and arduous task. If you have time, you can try to improve the performance. If you don't have time, you can do it temporarily. Multithreaded coroutine concurrency, occupying resources, Golang language shows natural superiority! Python is also great, but less p

[2022-01-13 04:16] Kamaitaching opened #1012 "There was a problem in the request to:"
There was a problem in the request to: *****
#### Checker:
 - [ ] I read the documentation (README)
![image](https://user-images.githubusercontent.com/50933835/149264958-3175a26a-1204-4e0e-9d86-9474e0e40d93.png)

[2022-01-13 07:34] #160 closed

[2022-01-13 07:34] #991 closed

[2022-01-13 07:34] #992 closed

[2022-01-13 07:34] #1009 closed

[2022-01-14 14:23] shelld3v commented on #1012
Hi, this is server-side issue, try increasing `--retries` and `--timeout`

[2022-01-14 16:30] #820 closed

[2022-01-15 03:34] wzwwzw36 opened #1016 "When calling dirsearch ‘The wordlist file does not exist’ error will be reported"
### What is the question?

When calling dirsearch ‘The wordlist file does not exist’ error will be reported

### Any additional information?
dirsearch version = 0.4.2
python version = 3.8

![image](https://user-images.githubusercontent.com/62459460/149607333-3976a54f-5cc8-468d-bc70-9bd09937c939.png)

![image](https://user-images.githubusercontent.com/62459460/149607349-133c8005-59c3-469b-956e-acb5

[2022-01-15 11:35] shelld3v commented on #1016
Hi, sorry for the issue, it was caused by a recent commit and was fixed by another commit after, please re-install the tool from github and it will be fixed

[2022-01-15 13:40] shelld3v commented on #812
Hi @DarkRed777, I decided to log all the requests (including uninteresting ones, as your suggestion) into a log file, in there you can find basic information of any request like status, method, length, ... This will be done after my PR gets merged, I hope you love it

[2022-01-16 05:03] mikelty commented on #1016
this issue still exists after i reinstalled it using setup.py.

[2022-01-16 05:43] shelld3v commented on #1016
Reinstalling here I mean to delete your dirsearch, download dirsearch from github.com again and then use it or run setup.py

[2022-01-16 06:17] wzwwzw36 commented on #1016
![image](https://user-images.githubusercontent.com/62459460/149649554-48eed831-cc4e-43b3-aa09-db4a1208c806.png)
I just redownloaded it, but it didn't work

[2022-01-16 11:32] S0ykot opened #1018 ""The wordlist does not exist" when I run dirsearch"
After running dirsearch, it shows me that "The wordlist does not exist". I am using the latest one.

![Screenshot_4](https://user-images.githubusercontent.com/10108591/149658108-2f6e2973-81dc-4266-9325-d13de34af142.png)

[2022-01-16 12:53] shelld3v commented on #1018
Duplicate of #1016

[2022-01-16 12:53] #1018 closed

[2022-01-17 07:04] shelld3v opened #1021 "New feature for dirsearch: screenshotting"
Do screenshot on found pages and save them, thumb up if you like this feature

[2022-01-17 11:16] Horridge opened #1023 "AttributeError: 'NoneType' object has no attribute 'strip' - Believed to be related to multi-level subdomain"
### What is the current behavior?
Receiving an exception error when attempting to use a multi-level subdomain (the URL in question also includes hyphens, if that's relevant to the issue), e.g. https://level-2.level-1.root-domain.net
An error is not being observed if I try https://level-1.root-domain.net

### What is the expected behavior?
It's expected that disearch would support multiple levels o

[2022-01-17 11:58] shelld3v commented on #1023
Hi, is it possible for me to get the target URL you tried?

[2022-01-17 20:50] #812 closed

[2022-01-17 20:51] #1016 closed

[2022-01-21 06:35] simonlee-hello commented on #1023
same problems too.

[2022-01-21 06:53] simonlee-hello commented on #1023
修改/lib/connection/requester.py文件第193行，将err_msg=None，改为err_msg=''即可

[2022-01-22 03:21] shelld3v commented on #782
You can prevent this problem now by specifying `--recursion-status`

[2022-01-22 03:21] #782 closed

[2022-01-22 13:43] #950 closed

[2022-01-23 05:10] #899 closed

[2022-01-23 05:27] maurosoria opened #1028 "We need testers and unit tests coders!"
hello folks ! How you doing?

We are looking for testers and unit test coders for this open source project.

We've get a hand in the past through "help wanted" tag, so now we are looking for:

* People who can write unit test skeletons and have some idea of TDD.
* People who can write unit test codes for classes. The good thing is this project is really tidy so shouldn't be that complex.
* People

[2022-01-23 06:04] shelld3v commented on #1023
Hi can you recheck the issue now?

[2022-01-23 08:37] jokerJQ commented on #1023
Hi, the problem is the URL. Maybe you can change the URL, or the website has WAF

[2022-01-23 10:02] shelld3v commented on #1023
@jokerJQ Do you have an example URL for this?

[2022-01-23 10:26] jokerJQ commented on #1023
![image](https://user-images.githubusercontent.com/59128258/150674211-908f679d-4e08-4770-8457-8d96d965e802.png)
”www.moonlab.com“ This website is on strong WAF ”安全狗“

[2022-01-23 11:49] shelld3v commented on #1023
It seems that the issue was fixed in the latest commit :D Please re-install your dirsearch
![Screenshot from 2022-01-23 18-48-13](https://user-images.githubusercontent.com/59408894/150676939-9d195037-ae82-41f5-af11-7788d799c1b3.png)

[2022-01-24 06:40] hu185396 opened #1031 "运行报错"
![image](https://user-images.githubusercontent.com/50415778/150734142-710a1840-2975-4e23-824c-201fa8187806.png)

[2022-01-24 06:43] shelld3v commented on #1031
Hi, can I know the URL?

[2022-01-24 07:04] shelld3v commented on #1031
Duplicate of #1023

[2022-01-24 07:04] #1031 closed

[2022-01-24 07:23] shelld3v commented on #1023
@Horridge @jokerJQ @simonlee-hello can you still reproduce this bug?

[2022-01-24 08:32] shmilylty opened #1032 "TypeError: can only concatenate str (not "NoneType") to str"
### error
[code]
#### Checker:
 - [x] I tested in the latest version of dirsearch

[2022-01-24 08:45] shelld3v commented on #1032
Can I have the URL?

[2022-01-24 11:31] shelld3v commented on #1032
Duplicate of #1023

[2022-01-24 11:31] #1032 closed

[2022-01-25 00:58] #969 closed

[2022-01-25 03:25] shelld3v commented on #969
Fixed!

[2022-01-25 15:48] m6sec opened #1034 "Regression: Default log file option causes crash"
### What is the current behavior?
The application is crashing when called like this:
`/home/kali/TOOLS/dirsearch/dirsearch.py -r -u https://example.com `

The error message is:
[code]
The default config (default.conf) sets options.log_file to 'logs/last_scan.log', which usually does not exist in whatever directory one is calling this application. Therefore when trying to validate the log file loca

[2022-01-26 05:41] #1034 closed

[2022-01-27 14:33] Teicu opened #1037 "how to exclude 35KB response"
Hello,

Often on some sites most responses is 35KB, can anyone tell me how to exclude this from scanning?

Thank you very much

<img width="581" alt="Screenshot 2022-01-27 at 16 32 29" src="https://user-images.githubusercontent.com/1572822/151379605-32405427-5646-4a69-a909-f40b198d675a.png">

[2022-01-27 15:27] shelld3v commented on #1037
You can try `--exclude-sizes 35KB`

[2022-01-27 15:27] #1037 closed

[2022-01-27 15:29] shelld3v commented on #1037
@Teicu Did this only happen to paths start with `_` or any path?

[2022-01-27 15:39] Teicu commented on #1037
to any paths, but it seems that --exclude-sizes 35KB works perfectly, thank you very much for your answer

[2022-01-27 17:16] #986 closed

[2022-01-29 14:44] #1021 closed

[2022-01-29 20:40] itsrvsingh opened #1040 "when i give subdomain file path its dosn't work"
python3 dirsearch.py -l alive.txt -r -w 2.txt -o dir.txt

Traceback (most recent call last):
  File "dirsearch.py", line 46, in <module>
    main = Program()
  File "dirsearch.py", line 31, in __init__
    options = Options()
  File "/home/hack3r/tools/dirsearch/lib/core/options.py", line 50, in __init__
    elif not len(self.url_list):
TypeError: object of type 'generator' has no len()

[2022-01-30 04:35] #120 closed

[2022-01-30 04:35] #1040 closed

[2022-01-30 04:40] itsrvsingh commented on #1040
But how can i fix this i don't have idea

[2022-01-30 08:05] shelld3v commented on #1040
@itsrvsingh Re-install dirsearch (from github)

[2022-01-30 08:18] itsrvsingh commented on #1040
ok thanks now its working properly

[2022-01-31 13:31] Jarvi3s opened #1042 "There is a problem when i run dirsearch"
I‘ve installed all requirements.

When i run dirsearch, there is a problem:

Traceback (most recent call last):
    File "dirsearch.py", line 46, in <module>
        main = Program()
    File "dirsearch.py", line 31, in __init__
       options = options()
    File "F:\learningmaterial\anheng\dirsearch-master\lib\core\options.py", line 109, in options
       opt.extensions = uniq([extension.lstrip(

[2022-01-31 20:06] #1042 closed, assigned to nobody

[2022-02-03 08:50] DarkRed777 commented on #812
Thank you very much and keep up bro! <3

Cheers!

[2022-02-03 21:11] GiuBravo opened #1044 "AttributeError: 'Requester' object has no attribute 'scheme'"
Traceback (most recent call last):
  File "dirsearch.py", line 46, in <module>
    main = Program()
  File "dirsearch.py", line 42, in __init__
    Controller(options, output)
  File "/root/opt/dirsearch/lib/controller/controller.py", line 86, in __init__
    self.run()
  File "/root/opt/dirsearch/lib/controller/controller.py", line 177, in run
    self.requester = Requester(
  File "/root/opt/dir

[2022-02-04 11:37] GiuBravo opened #1045 "File "/root/opt/dirsearch/lib/connection/requester.py", line 236 in request"
### What is the current behavior?

Fatal Python error: Cannot recover from stack overflow.
Python runtime state: initialized

Current thread 0x00007f51705b5740 (most recent call first):
  File "/usr/lib/python3.8/threading.py", line 233 in __init__
  File "/usr/lib/python3.8/queue.py", line 45 in __init__
  File "/root/opt/dirsearch/thirdparty/requests/packages/urllib3/connectionpool.py", line 198

[2022-02-04 11:41] shelld3v commented on #1045
Hi what was the command you used?

[2022-02-04 11:49] GiuBravo commented on #1045
Hello!
```python3 /root/opt/dirsearch/dirsearch.py -u https://---.---.126.98 -f -b -e php,jsp,pdf,txt -x 300-599 -r```
This URL is from my vpn

[2022-02-04 11:55] GiuBravo commented on #1045
I used http:// instead of https:// and its worked!

[2022-02-04 15:22] shelld3v commented on #1045
Hi do you have any other URL that has the same issue, I need a target to test my fix

[2022-02-04 15:37] shelld3v commented on #1045
Hi can you confirm if your console has `REQUESTS_CA_BUNDLE` variable set?

[2022-02-04 18:57] GiuBravo commented on #1045
The variable ```REQUESTS_CA_BUNDLE``` is empty.

"Hi do you have any other URL that has the same issue, I need a target to test my fix"
I don't finded another URL yet. Sorry.

[2022-02-04 19:03] GiuBravo commented on #1044
Command:

```python3 dirsearch.py -l urls -f -b -t 100 -e php,jsp,pdf,txt -x 300-599 -r```

This seems to be when using ```-l urls``` instead ```-u http://URL```

[2022-02-05 05:28] shelld3v commented on #1044
No it's because one of your URLs inside the file has an invalid URI scheme (`invalid://website.com`)

[2022-02-05 06:24] shelld3v commented on #1045
The variable is empty or it's not set? Also, the IP is private and can't be disclosed?

[2022-02-06 06:49] H1W0XXX opened #1047 "Cant use"
PS Z:\dirsearch-master> python dirsearch.py -u http://192.168.43.1 -e *
Traceback (most recent call last):
  File "dirsearch.py", line 46, in <module>
    main = Program()
  File "dirsearch.py", line 29, in __init__
    from lib.core.options import options
  File "Z:\dirsearch-master\lib\core\options.py", line 21, in <module>
    from lib.core.settings import SCRIPT_PATH, COMMON_EXTENSIONS, OUTPUT

[2022-02-11 23:12] m4ll0k opened #1050 "AttributeError: 'NoneType' object has no attribute 'completed'"
### What is the current behavior?

`cat httpurls.txt | dirsearch --stdin --random-agent -H 'Accept: */*' --full-url  --skip-on-status 429,403 -t 50  --exclude-sizes 0B -i 200 -w mywordlist.tx`

executing this command after a while .. causes me this error ...

[code]

#### Checker:
 - [ X] I tested in the latest version of dirsearch

[2022-02-15 10:15] Teicu commented on #86
Hi, and finally, what is the correct command to run a test on a site that is protected by basic auth? thank you

[2022-02-15 18:59] B4RD4k opened #1052 "AttributeError: 'NoneType' object has no attribute 'strip'"
Hello Team,
I'm using the current latest version of Dirsearch on a Win10 machine,
I have the AttributeError: 'NoneType' object has no attribute 'strip' error when trying to scan some endpoint using this command.

python dirsearch.py -u "http://IP" --full-url -i 200

pyhon == python3.8

Please Help

[2022-02-16 13:23] shelld3v commented on #1052
Please provide the full traceback

[2022-02-17 07:23] shelld3v commented on #1052
Duplicate of #1023

[2022-02-17 07:23] #1052 closed

[2022-02-17 16:10] s0i37 opened #1053 "force specify IP for SNI"
### What is the feature?

`dirsearch.py -u http://old.domain.com/ --ip '1.2.3.4'`   <- ok, will not resolve old.domain.com

`dirsearch.py -u https://old.domain.com/ --ip '1.2.3.4' -b`   <- will try to resolve old.domain.com

### What is the use case?

It needs for discovering old sites which domains was removed.

When and who will use this? Why this matters?

It is absolutely useless for CTF and v

[2022-02-19 15:27] shelld3v commented on #1053
I don't really understand what do you want here. If you want to brute force old.domain.com knowing their IP address already (maybe the DNS record is now removed but you saved its IP before), you can try `dirsearch.py -u http://old.domain.com/ --ip '1.2.3.4'`

[2022-02-22 16:58] s0i37 commented on #1053
`dirsearch.py -u http://old.domain.com/ --ip '1.2.3.4'`   - it is without SNI
but if I want with SNI I make:
`dirsearch.py -u https://old.domain.com/ --ip '1.2.3.4' -b`  - in this case dirseach make dns-request
For example ffuf does it right:
`ffuf -u "https://1.2.3.4:443/FUZZ" -sni "target.com"`

[2022-02-24 02:39] maurosoria commented on #1053
@s0i37 and @shelld3v how you doing?

I understand why this feature could be important (specially when the front-webserver requires SNI, and maybe you're trying to bruteforce another internal server)

I've looked if there is a way to do this with python-requests, but haven't found a way yet (I should read requests source code maybe...)

But mostly sure there is a way because requests is built on to

[2022-02-24 03:21] shelld3v commented on #1053
@maurosoria Actually #1046 will solve this

[2022-02-24 03:21] shelld3v commented on #1053
@maurosoria Actually #1046 will solve this

[2022-02-24 03:22] shelld3v commented on #1053
@maurosoria Actually #1046 will solve this

[2022-03-03 21:23] #1044 closed

[2022-03-03 21:23] #1050 closed

[2022-03-03 21:23] #1053 closed

[2022-03-03 21:23] #1047 closed

[2022-03-04 04:41] m82a3 opened #1054 "AttributeError: 'DynamicContentParser' object has no attribute 'differ'"
### What is the current behavior?

AttributeError: 'DynamicContentParser' object has no attribute 'differ'

### Any additional information?

The latest dirsearch

dirsearch -u https://www.baidu.com

OS, python version, screenshots, dirsearch command, console output, ...?

mac
python 3.8 3.9

[2022-03-05 10:51] alfonsocaponi opened #1057 "Exception in thread"
### What is the current behavior?
# /usr/bin/python3.9 /dirsearch/dirsearch.py --url="https://xxx" --suffixes=/ --threads=20 --quiet-mode --full-url --timeout=15 --wordlists="wordlist.txt" --include-status=200 --skip-on-status 429 --user-agent="Mozilla/5.0"
Exception in thread Thread-11:
Traceback (most recent call last):
  File "/usr/lib/python3.9/threading.py", line 973, in _bootstrap_inner

[2022-03-05 10:53] alfonsocaponi opened #1058 "--nolog options"
### What is the feature?
--nolog

### What is the use case?
Avoid writing a log without editing the configuration file.

[2022-03-05 13:11] hu185396 opened #1059 "ImportError: failed to find libmagic"
<img width="832" alt="image" src="https://user-images.githubusercontent.com/50415778/156884500-477d0f09-ecd2-4359-a81c-21a3ad2ef13f.png">

[2022-03-05 17:02] shelld3v commented on #1058
Hi, I have already changed to disable log by default already, but there is currently a bug so please wait until #1056 gets merged and update your dirsearch. Thanks!

[2022-03-05 17:02] #1058 closed

[2022-03-05 22:59] #1054 closed

[2022-03-05 22:59] #1057 closed

[2022-03-06 04:00] shelld3v commented on #1059
Fixed

[2022-03-06 04:00] #1059 closed

[2022-03-06 05:01] shelld3v commented on #1045
HI can you re-try now?

[2022-03-06 11:44] GiuBravo commented on #1045
Of corse

[2022-03-06 15:33] exploide opened #1060 "Do not install dependencies automatically"
### What is the current behavior?

Suddenly, dirsearch automatically installs the dependencies from `requirements.txt` via pip.

### What is the expected behavior?

This is unexpected behavior. Tools usually don't do this. And there is a reason for that. Administrators and users might want to handle software dependencies in an opinionated way.

Concerning the case here, people might want to instal

[2022-03-07 04:50] shelld3v commented on #1060
@exploide If the user installs it via Linux distribution's package, the dependencies will get installed automatically in the installation process. The virtualenv seems to be a legit case, maybe check if we can find `requirements.txt` first, ff not then asks the user for manual installation?

[2022-03-07 08:39] maurosoria commented on #1060
@shelld3v what @exploide is saying is true. Can we at least ask for confirmation to install the requirements?

[2022-03-07 12:16] GiuBravo commented on #1045
Now its works!
Thanks for the update!

[2022-03-07 15:03] shelld3v commented on #1045
No problem

[2022-03-07 15:03] #1045 closed

[2022-03-07 15:03] shelld3v commented on #1023
The bug has been fixed

[2022-03-07 15:03] #1023 closed

[2022-03-09 04:19] maurosoria commented on #1060
@exploide how you doing?

@shelld3v submitted a patch for asking before installing the dependencies.

Can you check it ?

[2022-03-09 18:49] exploide commented on #1060
I tested the patch and I think the approach is fine for me. :+1:

However, I discovered a bug with this. See the following output, where I say yes to dirsearch's automatic installation but nothing is installed via pip and the message comes again:

[code]

This happens if I already have all Python dependencies installed (system-wide) but in an unsuitable version.

In my example I have `python3-pypa

[2022-03-10 03:17] byesec commented on #1060
I also had the problem of autoinstall not responding.

`root@VM-20-17-ubuntu:~/pentest/dirsearch# pip3 install -r requirements.txt
Looking in indexes: http://mirrors.tencentyun.com/pypi/simple
Requirement already satisfied: PySocks>=1.7.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 1)) (1.7.1)
Requirement already satisfied: Jinja2>=3.0.0 in /usr/local/lib/python3.8/di

[2022-03-10 06:00] #1060 closed

[2022-03-10 09:48] mb-syss opened #1065 "DNS cache includes port information"
https://github.com/maurosoria/dirsearch/blob/24b7bc375a196de7e709edb0d16ed06fe198ef2e/lib/connection/dns.py#L25

will actually cache the port number specified (65535) and the connection will be made using that:

[code]

I suppose that will also cause issues if connections to multiple ports on one host should be made, as the cache is keyed by hostname only.

[2022-03-10 10:21] shelld3v commented on #1065
Thanks, it's really useful

[2022-03-10 14:26] mb-syss opened #1066 "Report written after each hit"
### What is the current behavior?

https://github.com/maurosoria/dirsearch/blob/24b7bc375a196de7e709edb0d16ed06fe198ef2e/lib/controller/controller.py#L431

triggers a write of the report file after each hit. On hosts with a lot of hits (typically some undetected wildcard condition) this becomes **very** expensive quickly.

### What is the expected behavior?

Report will be written only once, or ev

[2022-03-10 14:41] shelld3v commented on #1066
Hi, the purpose of the mentioned behavior is to allow users to have the report despite interrupting in the middle of the scan. The streaming idea has been thought about already but I haven't had time to do it yet

[2022-03-10 14:48] shelld3v commented on #1066
Actually I can implement a save in both the end of a scan and the case people interrupt the scan

[2022-03-11 06:47] DanBrown47 opened #1067 "TypeError on Finding redirection"
### What is the current behavior?
Dirsearch is giving type error on finding redirections.
[code]
Seems like It is trying to join the results to a DataStructure but is not able to be as it does not find it as a iterable

### What is the expected behavior?

It should not raise a Type Error and should keep the output clean

### Any additional information?

OS, python version, screenshots, dirsearch c

[2022-03-12 18:36] qutaibam0 opened #1068 "I'm Noob But Is that Error is common ?"
I'm trying to attack THM Machine and I keep getiing this error
- How can I solve it ?
┌──(kali㉿kali)-[~]
└─$ sudo dirsearch -u 10.10.131.204 -w /usr/share/wordlists/dirbuster/directory-list-lowercase-2.3-medium.txt

/usr/local/lib/python3.9/dist-packages/dirsearch-0.4.2-py3.9.egg/dirsearch/reports is a file, should be a directory

[2022-03-15 03:51] shelld3v commented on #1068
@qutaibam0 Hi please try another install option, you can find it from [here](https://github.com/maurosoria/dirsearch#installation--usage)

[2022-03-15 08:28] brucelsone opened #1069 "运行报错"
### What is the question?

对部分网站进行目录扫描直接报错，无法进行扫描。
### Any additional information?

- macOS Big Sur
- dirsearch v0.4.2
- python 3.9.9
- cmd: dirsearch -u http://www.site.com
- screenshot:
![image](https://user-images.githubusercontent.com/101378596/158336015-d825d501-285e-4535-b069-dd9c823d8ceb.png)

#### Checker:
 - [x] I read the documentation (README)

[2022-03-18 20:07] Viss opened #1070 "--exclude-sizes appears to not have any effect"
Ubuntu 21.04, fresh install from github march 18th 2022

Hitting a webapp that doesn't really do 404s, it takes every path that doesnt exist and forces that onto the main landing index, which is 28KB or 29KB in size.

Attempting to use --exlude-sizes=29KB,28KB does not remove them from the output. I have also tried changing the syntax around a bit to make sure that wasnt it:
--exclude-sizes=29kb
-

[2022-03-19 16:39] VitorOriel opened #1072 "Bad exception handling when set skip on status option"
### What is the current behavior?
The program isn't handling the exception correctly from SkipTargetInterrupt. When detects a 200 status code, it continues the bruteforce on the same target.

### What is the expected behavior?
The program should skip the current target when code 200 is detected.

### Any additional information?
**OS**: Ubuntu 21.04 64-bit
**Python version**: 3.9.5
**Dirsearch comm

[2022-03-19 19:15] splitline opened #1073 "`RestrictedUnpickler` is Bypassable"
### TL;DR
The implementation of `RestrictedUnpickler` in here is bypassable.
https://github.com/maurosoria/dirsearch/blob/24b7bc375a196de7e709edb0d16ed06fe198ef2e/lib/utils/common.py#L86-L99

### How to Bypass (PoC)

Basically, it allows 3 kinds of (module, name) combination:

1. `module` is one of the `ALLOWED_PICKLE_MODULES`
2. `module` is `builtins`, and the name is not `exec` nor `eval` (`UNSA

[2022-03-20 05:33] shelld3v commented on #1073
Hello @splitline, thanks a lot for reporting this, it's a really great and smart finding. I had thought about the `__import__` builtin before but wasn't be able to reproduce the behavior, now I can. So, you think we should make a whitelist of allowed `{module}.{name}`?

[2022-03-20 06:09] splitline commented on #1073
Hi @shelld3v, yes I think we should do that.
Python pickle is unreasonable(?) flexible, you can take it as a subset programming language of Python, which can import and call any function, also can reuse the return value of those functions.

[2022-03-21 04:12] fon11731 opened #1074 "Missing required dependencies to run"
Missing required dependencies to run.
Do you want dirsearch to automatically install them? [Y/n] Y
Installing required dependencies...
Failed to install dirsearch dependencies, try doing it manually.
bot how?

[2022-03-21 04:12] fon11731 commented on #1074
in kali

[2022-03-21 14:53] shelld3v commented on #1074
Please re-pull the code from the official git repository of dirsearch, we fixed this before

[2022-03-21 14:53] #1074 closed

[2022-03-22 10:10] Teicu opened #1075 "socks5"
Hello,

any idea why it doesn't works socks 5?  I use _**--proxy=socks5://localhost:8085**_

I get always _**There was a problem in the request to: https://site.com/**_

Thank you

[2022-03-22 12:33] shelld3v commented on #1075
Can you give me your dirsearch version?

[2022-03-22 12:35] Teicu commented on #1075
yes, of course:

 _~ % cd dirsearch
dirsearch % ./dirsearch.py --version
dirsearch v0.4.2.1_

Thanks

[2022-03-23 02:42] shelld3v commented on #1075
Please update your tool

[2022-03-23 02:42] #1075 closed

[2022-03-25 08:45] dksslq opened #1076 "add tz.php to dictionary"

[2022-03-29 03:45] #1076 closed

[2022-03-29 03:49] duyu-duyu opened #1077 "Invalid URL"
![image](https://user-images.githubusercontent.com/64543263/160529491-d94bad63-8954-41aa-bff6-6e328d442e0a.png)

smoething happened

but i don't know

[2022-03-29 04:21] shelld3v commented on #1077
Try `./dirsearch.py -u http://192.168.31.253/admin --log dirsearch.log` and check the full error message inside `dirsearch.log`

[2022-04-02 05:51] littleheary opened #1080 "启动报错"
Traceback (most recent call last):
  File "dirsearch.py", line 67, in <module>
    main()
  File "dirsearch.py", line 54, in main
    from lib.controller.controller import Controller
  File "\dirsearch\lib\controller\__init__.py", line 1, in <module>
    from lib.controller.controller import Controller  # noqa: F401
  File "\dirsearch\lib\controller\controller.py", line 25, in <module>
    from li

[2022-04-05 10:41] Teicu opened #1081 "Authorization: Bearer"
Hello,

Is it possible to scan a website using Authorization Bearer authentication? Maybe using _--header=Authorization: Bearer etc_ ?

Thank you

[2022-04-05 11:39] #1081 closed

[2022-04-05 12:16] Teicu commented on #1081
works fine, thank you very much!

[2022-04-06 02:54] #1065 closed

[2022-04-06 02:54] #1070 closed

[2022-04-06 02:54] #1072 closed

[2022-04-06 03:05] #1073 closed

[2022-04-06 03:07] shelld3v commented on #1069
It's the issue with the servers, not dirsearch. Try replacing `http` with `https`, it might work

[2022-04-06 03:07] #1069 closed

[2022-04-06 03:07] #1067 closed

[2022-04-06 03:27] brucelsone commented on #1069
I've tried use the `https` to replace `http`, but still not working with my situation.
![image](https://user-images.githubusercontent.com/101378596/161889972-c158fa09-2865-4dc1-a01e-b7c7e4c42863.png)

[2022-04-06 04:16] shelld3v commented on #1069
Then the server is probably taken down

[2022-04-08 02:32] hu185396 opened #1082 "Unexpected SSL error, probably the server is broken or try updating your OpenSSL"
<img width="898" alt="image" src="https://user-images.githubusercontent.com/50415778/162351678-f3d17219-7793-4721-91b3-91045d339655.png">

[2022-04-10 06:39] #1066 closed

[2022-04-10 15:40] #1080 closed

[2022-04-11 13:57] #888 closed

[2022-04-12 23:00] DonatoReis opened #1086 "False positive url packs - help"
### What is the question?

Hi

I'm having a hard time running dirsearch in several subdomains in my script, it appears this error below in the image.

but it also appears a lot of false positives in the urls
example: status code 301 => redirect

Please if anyone can help me solve the issue, I'm very urgent

### Any additional information?

--version Dirsearch
v0.4.2.4
--version Python
3.9.12

comm

[2022-04-13 03:22] cyberindia1 opened #1087 "When starting dirsearch it print warning. How to disable it"
### What is the question?

When running dirsearch it shows me warning.

### Any additional information?
 Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

#### Checker:
 - [ ] I read the documentation (README)

[2022-04-13 03:38] shelld3v commented on #1087
Can you run `./dirsearch.py --version` and give me the result?

[2022-04-13 05:27] cyberindia1 commented on #1087
┌──(kali㉿kali)-[~/dirsearch]
└─$ ./dirsearch.py --version
dirsearch v0.4.2.4

[2022-04-13 13:19] shelld3v commented on #1087
Can I know the command you ran? I can't reproduce your issue with the same host

[2022-04-13 13:21] cyberindia1 commented on #1087
python3 diresearch.py -u https://www.example.com -e php,html, -i 200

[2022-04-13 14:04] cyberindia1 commented on #1087
please delete website name contractor.de

[2022-04-13 14:18] shelld3v commented on #1087
Sorry, I have deleted it now, tho I'm still unable to reproduce the issue, do you know any host you can disclose that has the same behavior?

[2022-04-13 14:52] cyberindia1 commented on #1087
└─$ python3 dirsearch.py -u https://cyberindia.co/ -i 200 -e php,html,js

  _|. _ _  _  _  _ _|_    v0.4.2.4
 (_||| _) (/_(_|| (_| )

Extensions: php, html, js | HTTP method: GET | Threads: 25 | Wordlist size: 10293

Output File: /home/kali/dirsearch/reports/cyberindia.co/__22-04-13_10-51-44.txt

Target: https://cyberindia.co/
/home/kali/.local/lib/python3.9/site-packages/urllib3/connectionpool.py