[2022-04-13 14:57] shelld3v commented on #1087
On my machine it's different

[code]

I'm investigating more

[2022-04-13 20:29] DonatoReis commented on #1086
can i test it now?  @shelld3v

[2022-04-14 02:54] shelld3v commented on #1086
The fix hasn't been merged yet, please test it when your issue is closed

[2022-04-14 16:05] #1086 closed

[2022-04-14 16:12] shelld3v commented on #1087
Hi @cyberindia1, what tool did you use to run dirsearch? The one that generated your HTML report

[2022-04-14 16:58] DonatoReis commented on #1086
it's still giving me an error when running @shelld3v @maurosoria

<a href="https://ibb.co/92LZKYX"><img src="https://i.ibb.co/P4nDXCp/Sem-t-tulo.png" alt="Sem-t-tulo" border="0"></a>
<a href="https://ibb.co/jD1SdSG"><img src="https://i.ibb.co/M73mbmp/reporterr.png" alt="reporterr" border="0"></a>

[2022-04-14 17:09] shelld3v commented on #1086
Hi @DonatoReis, try reducing the threads number, you might have been blocked for sending too many requests

[2022-04-14 21:14] DonatoReis commented on #1086
is there any way to increase the speed without being blocked? @shelld3v

[2022-04-15 02:22] cyberindia1 commented on #1087
I am not using any other tools It's default output that dirsearch provide. I am using dirasearch for content discovery

[2022-04-15 03:19] shelld3v commented on #1086
Actually, there is a way, you can use multiple proxies to send requests (`--proxy-list`), but I don't advise you to do that because if the server doesn't want to receive too many requests it usually means the server can't handle too many requests, do it might just break the server

[2022-04-15 11:47] redsigma opened #1089 "Get all files by extension no matter what filename it has"
### What is the feature?

I want to make a wordlist where i can search for all files of a specific extension. I don't know the name of these files.

I don't know if i am doing something wrong with my wordlist but i checked the manpage and the issues on this repository and i could not find any meaningful help

My word list looks like this:
[code]

For some reason it succesfully finds file that call

[2022-04-15 14:17] p3stR commented on #1077
I have the same error. It started without any obvious reason. I downloaded separately the latest version and I am still getting the same error.
On the logs I see that the url target cannot be parsed.

`[22-04-15 10:16:54][ERROR] GET http://127.0.0.1/
    Failed to parse: http://127.0.0.1/
`

[2022-04-15 14:36] shelld3v commented on #1077
Hi @p3stR, what is your command?

[2022-04-15 14:44] shelld3v commented on #1089
Hi, I don't understand what you are trying to say here, can you explain it clearer, with your current situation and what you expect to get?

[2022-04-15 15:30] p3stR commented on #1077
I tried several arguments without luck.

Even this simple commands has the same error:

`╰─○ dirsearch --version
dirsearch v0.4.2

╰─○ dirsearch -u http://127.0.0.1
Target: http://127.0.0.1/
Invalid URL: http://127.0.0.1:80/

╰─○ python3 /opt/GITs/dirsearch/dirsearch.py --version
dirsearch v0.4.2.4

╰─○ python3 /opt/GITs/dirsearch/dirsearch.py -u http://127.0.0.1 --log dirsearch.log
Target: http:/

[2022-04-15 16:30] redsigma commented on #1089
I have a directory with 2 files.
[code]

I want to make a wordlist which shows me those 2 files. I only know the extensions of the files and not their names.

[2022-04-16 04:20] 0xhunster opened #1091 "Max sub-directories for recursion"
when I set --max-recursion-depth 1 or -R 1 it works fine :)
[code]

but when I set  --max-recursion-depth 2 or -R 2 didn't works it anymore.

[code]

[2022-04-16 04:23] shelld3v commented on #1091
It did work, didn't it?

[code]

[2022-04-16 04:49] 0xhunster commented on #1091
yes, work. But it should be scanned only 2. but not work.

`
[10:12:52] Starting: wp-admin/
[10:13:23] Starting: wp-admin/css/
`

[2022-04-16 12:02] shelld3v commented on #1091
Hi @0xhunster, I think you misunderstood the feature, "max recursion depth" is the maximum path depth to perform recursion. For example, if dirsearch finds `/api/v2/`, the path depth is 2 (`/api` and `/v2`), so if you set the maximum recursion depth to 1, it won't brute-force it.

[2022-04-16 13:10] 0xhunster commented on #1091
oh, ok thanks for clearing this. Any way to scan only 2 recursive then stop. I mean, `Added to the queue:` jobs work only two times.
[code]

[2022-04-16 13:40] shelld3v commented on #1091
Well, maybe I will add that feature, but I need to know the purpose/usage of this feature first. What are the use cases, who will use it?

[2022-04-16 14:10] 0xhunster commented on #1091
It's very important because nowadays we are doing a lot of automation. so, when we will do automation with dirsearch with recursion function, then dirseach will work with recursion, but when dirsearch found a directory then added to the queue, but if directory found more than 20. Then it will very time to get the result. So, If we set the jobs queue, it will be got the result in less time. I hope

[2022-04-18 13:16] shelld3v commented on #1077
@p3stR Can you try `python3 -m pip install --upgrade urllib3` ?

[2022-04-18 13:23] shelld3v commented on #1091
@0xhunster I think when a hacker scans a target, they must expect to find all the possible paths, missing any path can lead to missing a vulnerability. **dirsearch** allows you to save the progress and continue later, so no need to ignore the results just for time complexity

[2022-04-20 07:29] normface commented on #79
Learn how to work Out-Of-Memory Killer. It's simple Linux Kernel, kill randomly hunter of big memory process.

[2022-04-20 13:31] shelld3v commented on #1089
So for example you have a wordlist like this:

[code]

And you want to get only paths that have `.html` extension (in this case `.html` and `a.html`)? Why don't you use regex? Something like `[.]html$`

[2022-04-20 15:58] redsigma commented on #1089
Yes i want to get `.html` and `a.html` files. I have a page where there are multiple `.html` and `.pdf` files and also subfolders with these files, however not all subfolders have these files and instead of manually checking each folder and subfolder i am using this tool.

I emptied my dictionary file and added only  the following
[code]
However there is no output . Log file is empty, and there is

[2022-04-21 03:19] shelld3v commented on #1089
I think it should be:

[code]

[2022-04-21 05:19] redsigma commented on #1089
Ah my bad. I made sure to copy paste that this time, but the output is still the same like in the above picture.

I am not sure if regex works or maybe it's a problem with case sensitivity. The filenames have mixed uppercase and lower case characters and sometimes characters such as `-` or `_`

[2022-04-25 11:39] DonatoReis opened #1096 "Difference between binary ??"
### What is the question?

What is the difference between dirsearch from the binary and dirsearch.py from inside the folder?

### Any additional information?

Because I have issues with the binary, like a lot of shell overflow

#### Verifier:
     - [ ] Read the documentation (README)

@maurosoria @shelld3v

[2022-04-25 19:47] DonatoReis opened #1097 "bash: warning: shell level (1000) too large, resetting to 1"
### What is the current behavior?

shell error: too large shell warning

### What is the expected behavior?

the behavior should be informative but I can't even see the version

### Any additional information?

<a href="https://imgbb.com/"><img src="https://i.ibb.co/2qY9MPC/Sem-t-tulo.png" alt="Sem-t-tulo" border="0"></a>

#### Verifier:
   - [ ] tested on latest version of dirsearch
@maurosoria

[2022-04-27 02:10] TAKAHASHI7 opened #1098 "扫描https站点的时候无法进行，是什么原因？"
### What is the question?
扫描https站点的时候无法进行，是什么原因？
What do you like to ask about?
![image](https://user-images.githubusercontent.com/67530991/165424410-b70ff1aa-6131-4908-937b-8e7b794f04ff.png)

### Any additional information?

OS, dirsearch version, python version, screenshots, dirsearch command, console output, ...?

#### Checker:
 - [ ] I read the documentation (README)

[2022-04-27 08:16] p3stR commented on #1077
@shelld3v Sorry for the late reply. It seems that I already have the latest urllib3 version.

` python3 -m pip install --upgrade urllib3
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: urllib3 in /usr/lib/python3/dist-packages (1.26.9)
`

[2022-04-28 15:53] shelld3v commented on #1097
Hi I think it's not a problem with dirsearch, I can't reproduce it, you should look up on google first

[2022-04-28 15:54] shelld3v commented on #1096
Can you explain more about "dirsearch from the binary"?

[2022-04-28 15:55] shelld3v commented on #1097
You might check your "dirsearch" alias command

[2022-05-01 06:08] shelld3v commented on #1077
@p3stR Can you try `sudo python3 -m pip install --upgrade urllib3`? Also, how did you install dirsearch?

[2022-05-02 06:58] shelld3v commented on #1089
What bash command (or any way you tried) did you use to filter?

[2022-05-02 07:06] redsigma commented on #1089
As stated in the description i have run the following docker image:
[code]

I am running this from a windows machine, but i dont think this matters. The `dictionary` file is mounted from my host machine and i checked that it works by adding a hardcoded filename in it.

The dictionary file which i am using is the following
[code]

[2022-05-05 13:48] p3stR commented on #1077
@shelld3v I tried with sudo too but the requirement is the same and already satisfied so nothing changed.
I have two installations, one from the kali repository (v0.4.2) and one with git clone (v0.4.2.4)

[2022-05-06 15:46] yhojann-cl opened #1103 "Error using python 3.10 on Ubuntu 22.04 LTS"
When run application:

[code]

In Python 3.9 `collections` is `collections.abc`.

[2022-05-06 16:16] shelld3v commented on #1103
Please re-install your dirsearch for the lastest version

[2022-05-08 12:58] kaking4 opened #1105 "Added to the queue: xxx/ error"
What actually happens?
when i use     -r    ,it can make some wrong dir .One character is missing when recursively scanning
![image](https://user-images.githubusercontent.com/64488830/167297130-c0a9b54b-2e30-4d66-9461-eeefd7633442.png)

OS, python version, screenshots, dirsearch command, console output, ...?
dirsearch v0.4.2.4

[2022-05-08 13:49] shelld3v commented on #1105
What is your command?

[2022-05-08 15:32] kaking4 commented on #1105
python3 dirsearch.py -u https://xxxx.com -r

[2022-05-11 01:32] YutakaTan opened #1106 "Just Dont Know What happend"
C:\Users\76892\Desktop\mytool\dirsearch-master>python dirsearch.py -u lib.blcu.edu.cn -s 3

Traceback (most recent call last):
  File "C:\Users\76892\Desktop\mytool\dirsearch-master\dirsearch.py", line 67, in <module>
    main()
  File "C:\Users\76892\Desktop\mytool\dirsearch-master\dirsearch.py", line 63, in main
    Controller(options, output)
  File "C:\Users\76892\Desktop\mytool\dirsearch-mast

[2022-05-11 02:31] shelld3v commented on #1106
Command-line flag for request delay his now only `--delay`, `-s` is for another thing. Use `-h` to view all flags

[2022-05-11 02:31] #1106 closed

[2022-05-16 08:53] mrknow001 opened #1110 "The output is null"
When -l and -o are used together, there is a certain probability that the output file will be empty.

[2022-05-16 13:20] shelld3v commented on #1110
Do you know the required condition for that? So I can reproduce and fix it

[2022-05-17 01:25] mrknow001 commented on #1110
I have tested using two urls and this problem also happened, it seems to be random, if you want to fix this bug you can only use DEBUG, sorry I can't provide more information.

[2022-05-17 10:29] akashrpatil opened #1111 "Traceback Error"
Getting this error while runing the dirsearch:

[code]

[2022-05-17 13:43] shelld3v commented on #1111
Please update your dirsearch to the latest version

[2022-05-17 20:01] anasbousselham commented on #1110
I have the same issue with -o flag and  --format=json

[2022-05-19 18:54] akashrpatil commented on #1111
I have updated the dirsearch to the latest version but still showing the same error.

[2022-05-19 19:09] ad0nis opened #1115 "'utf-8' codec can't decode byte 0xe5 in position 33: invalid continuation byte"
### What is the current behavior?

dirsearch from kali repos on kali 2022.1 crashed due to issue with decoding a byte in the server's response.

Traceback (most recent call last):
  File "/home/kali/.local/bin/dirsearch", line 8, in <module>
    sys.exit(Program())
  File "/home/kali/.local/lib/python3.9/site-packages/dirsearch/dirsearch.py", line 43, in __init__
    self.controller = Controller(s

[2022-05-20 01:50] shelld3v commented on #1115
Hi, installing via Kali repo is most likely deprecated, please use git to install for the latest updates of the tool

[2022-05-20 01:50] #1115 closed

[2022-05-20 02:32] shelld3v commented on #1111
What installation method did you use? The latest version of dirsearch doesn't have `thirdparty/` folder anymore

[2022-05-20 17:02] #1111 closed

[2022-05-22 19:39] OmarJAhmad commented on #1115
thanks m8

[2022-05-23 19:01] saamnguyen opened #1117 "how to fix "Missing required dependencies to run."?"
Missing required dependencies to run.
Do you want dirsearch to automatically install them? [Y/n] y
Installing required dependencies...
Failed to install dirsearch dependencies, try doing it manually.

[2022-05-24 11:52] zhibx opened #1118 "cannot import name 'cached_property' from 'functools'"
If you use python3.7.0 get this error【cannot import name 'cached_property' from 'functools'】.

can try to use python3.8.* fix it.

[2022-05-24 13:54] zhibx commented on #1117
Solution：python pip install -r requirements.txt

If you use python3.7.0 get this error【cannot import name 'cached_property' from 'functools'】.

can try to use python3.8.* fix it.

[2022-05-25 10:38] drego85 opened #1119 "If I disable the automatic saving of the report I get an error"
### What is the current behavior?

Inside the configuration file I set this value:
`autosave-report = False`

When I run Dirsearch at the end, while saving the log fle, I get this error:

[code]

### What is the expected behavior?

When finished, it should not generate this error and not save any reports.

### Any additional information?

* MacOS
* Python 3.10.0
* Latest commits of dirsearch

####

[2022-05-26 09:49] nikkolee opened #1120 "cannot run dirsearch, error with "AttributeError""
The error shows in below when I run dirsearch

nikkolee@SHAOFFLAP358:/usr/local/bin$ dirsearch
Traceback (most recent call last):
  File "/usr/local/bin/dirsearch", line 33, in <module>
    sys.exit(load_entry_point('dirsearch==0.4.2.4', 'console_scripts', 'dirsearch')())
  File "/usr/local/bin/dirsearch", line 25, in importlib_load_entry_point
    return next(matches).load()
  File "/usr/lib/pyth

[2022-05-26 15:50] shelld3v commented on #1120
Hi, can you try to install dirsearch with git instead of kali repo? It will give you the latest version

[2022-05-31 02:43] #1105 closed

[2022-05-31 04:13] shelld3v commented on #1089
That should not be what is in the dictionary, dirsearch doesn't support wordlist with regex inside it (maybe something similar in the future?).

Sorry for the late reply anyway!

[2022-05-31 07:51] ldz0 commented on #1082
+1

[2022-06-02 09:59] shelld3v commented on #1117
Thanks @zhibx

[2022-06-03 03:15] shelld3v commented on #1118
I have changed `cached_property` to `property` in the latest version. Closing now

[2022-06-03 03:15] #1118 closed

[2022-06-03 03:16] #1117 closed

[2022-06-08 13:15] deseactor opened #1122 "Bug in --exclude-sizes argument"
If set --exclude-sizes with "B" example: `--exclude-sizes=35B` Dirsearch ignore this and show responses with 35 bytes in this situation.
I found out why this happens and fixed it but I'm not good in Github to push code.

So in file `lib/utils/common.py` function `human_size` where in loop  list with measurement values `["B ", "KB", "MB", "GB"]`. In value B extra space, which somehow broking and ig

[2022-06-08 13:43] Arne-He opened #1123 "The last result is not included in the output"
### What is the current behavior?

When running python3 dirsearch.py --url=\<url\> the endmost search result is missing in the output file. However, on the command line the output is correct.

### What is the expected behavior?

All search results should be included in the output file. The results in the output file should be equal with the command line results.

#### Checker:
 - [ x] I tested in

[2022-06-09 21:01] #1122 closed

[2022-06-11 06:56] #1119 closed

[2022-06-11 06:58] #1097 closed

[2022-06-11 11:50] irshadshalu commented on #1111
@shelld3v  I have the same issue.

the installation method used is through PyPi, the version with the error is 0.4.2 (which also seems to be the latest in "releases").

[2022-06-11 11:53] irshadshalu opened #1125 "The latest released version is almost a year old."
### What is the current behavior?

The version of libsearch on PyPi is at least an year old which is missing a lot of recent bug fixes and improvements from last 1 year.

### What is the expected behavior?

The latest stable code should be released in PyPi

### Any additional information?

This is throwing an error when used with Python 3.10

#### Checker:
 - [x] I tested in the latest version of

[2022-06-11 14:37] shelld3v commented on #1111
Can you try to install with git? It's the best option, I will update the PyPi package soon

[2022-06-11 14:38] shelld3v commented on #1125
It's not a bug, I will update it when dirsearch makes a new release

[2022-06-11 14:38] #1125 closed

[2022-06-12 06:47] irshadshalu commented on #1111
@shelld3v  I was trying to use it as a module as part of another script

[2022-06-12 09:48] shelld3v commented on #1120
Old bug, please re-pull the repo, closing now

[2022-06-12 09:48] #1120 closed

[2022-06-12 09:51] shelld3v commented on #1110
Can you re-try now? I made a refactor for reporting function so don't know if it still exists

[2022-06-12 09:51] #1096 closed

[2022-06-12 09:56] shelld3v commented on #1103
Old bug, closing rn

[2022-06-12 09:56] #1103 closed

[2022-06-12 10:56] shelld3v commented on #977
Confirmed from my side that 503 status code isn't treated as an error

[2022-06-12 10:56] #977 closed

[2022-06-13 12:22] mrknow001 commented on #1110
![图片](https://user-images.githubusercontent.com/46807619/173352093-42f8b166-b180-4e3f-95ed-2a8841852e2a.png)

[2022-06-13 14:08] shelld3v commented on #1110
@mrknow001 Thank you for the screenshot, I have recognized the issue, will work on it right now

[2022-06-13 14:40] irshadshalu commented on #1111
@shelld3v

I have ownership of the script. The problem here is that the latest version in Pypi is more than a year old and a new version with the latest changes on Git needs to be released.

It is ok now as I have moved on to use git installation.

[2022-06-14 07:52] #1110 closed

[2022-06-23 08:28] 866666 opened #1130 "AttributeError: module 'dirsearch.dirsearch' has no attribute 'Program'"
Traceback (most recent call last):
  File "C:\Users\shang\anaconda3\envs\py38\Scripts\dirsearch-script.py", line 33, in <module>
    sys.exit(load_entry_point('dirsearch==0.4.2.6', 'console_scripts', 'dirsearch')())
  File "C:\Users\shang\anaconda3\envs\py38\Scripts\dirsearch-script.py", line 25, in importlib_load_entry_point
    return next(matches).load()
  File "C:\Users\shang\anaconda3\envs\py

[2022-06-23 08:47] 189169 commented on #1130
in python 3.8
pip3 install dirsearch
sucess

[2022-06-24 16:32] kishu62000-H opened #1131 "Unable to install rust"
Could not find a version that satisfies the requirement Rust>=1.41.0 (from versions: 0.1.0, 0.1.1)
ERROR: No matching distribution found for Rust>=1.41.0
![Screenshot_2022-06-24-22-01-42-553_com termux](https://user-images.githubusercontent.com/107880439/175581167-b8b9211f-1230-4fd1-a43d-21a134032739.jpg)

[2022-06-30 08:21] shelld3v commented on #1130
It seems like an old issue, can you try uninstalling dirsearch with pip and re-installing it with git or zip file?

[2022-07-07 10:42] JeakinsCheung opened #1134 "Flashback occurs after using dirsearch"
What is the reason for the error when using dirseach

The cmd window will flash back after starting the scan
![image](https://user-images.githubusercontent.com/57223351/177755144-09965605-2f55-4b9b-86ec-a2d1f7a8132b.png)

[2022-07-07 15:06] shelld3v commented on #1134
The error message is in chinese, so it's not a dirsearch error neither I can understand it

[2022-07-07 15:06] #1134 closed

[2022-07-15 14:22] hsagnik opened #1135 "Not validating installed dependencies though installed"
### What is the current behavior?
Suddenly, dirsearch automatically installs the dependencies from `requirements.txt` via pip.

### What is the expected behavior?
Though the previous https://github.com/maurosoria/dirsearch/pull/1063 fix is good but not enough because it still asks to install the dependencies even after installing once again. The tool is not validating the installed dependencies ho

[2022-07-18 11:02] iseries opened #1137 "New Flag: exclude-sizes-by-limit"
### What is the feature?
It would be great to have a flag that works similar to `--exclude-sizes` but specifying a limit instead of defined bytes. E.g. if more than 10 requests return the same number of bytes, skip subsequent requests with the same sizes for the current target. e.g. `--exclude-sizes-by-limit 10`.

### What is the use case?
Sometimes a host response with header 200 instead of 404.

[2022-07-20 20:23] deargle commented on #1130
It's coming from here: https://github.com/maurosoria/dirsearch/blob/master/setup.py#L30

Happens when trying to run from the easy_install-created entry-script

[2022-07-26 21:59] maurosoria commented on #1135
I've experienced the same issue. @shelld3v any clue?

[2022-07-26 22:01] maurosoria commented on #1135
BTW, @hsagnik  I recommend you use the docker build instead of installing it manually. At least for the moment, until Python 3.9 implementation gets mainstream in linux distros.

[2022-07-27 07:01] zhibx opened #1139 "Cannot set timeout for each URL when batch import with parameter -L"
### What is the feature?

Cannot set timeout for each URL when batch import with parameter -L

### What is the use case?

If the --max-time timeout parameter and the -l batch parameter are used together, it will cause the first RUL scan to time out and other URLs will not be scanned.

![微信截图_20220727150118](https://user-images.githubusercontent.com/82183981/181182620-b91e2735-c853-4486-98a1-2431e5

[2022-07-27 07:49] shelld3v commented on #1139
This is intended and that's how the feature works. I will consider adding something like `--max-target-time` for your usage. Thank you for your idea!

[2022-07-27 07:54] shelld3v commented on #1123
Hi @Arne-He, thank you for your report, can you give me your dirsearch command?

[2022-07-27 07:55] shelld3v commented on #1130
@deargle do you know how to fix it?

[2022-07-27 08:02] shelld3v commented on #1135
@hsagnik Sorry I'm trying to understand your statement here. So the problem here is that you had installed the dependencies but dirsearch reported it as missing, right? I might need some info about your system and environment if you don't mind

[2022-07-27 08:04] shelld3v commented on #1137
It's a known issue and I have actually considered a bigger workaround for this

[2022-07-27 08:20] Arne-He commented on #1123
For testing purposes I am running a local webserver. in its root directory I created the files `0.html`, `1.html` and `2.html `.
My wordlist contains the following content:

[code]

When running

`dirsearch.py --format plain -o out.txt -w wordlist.txt -u localhost`

a random one of these html files is missing in the output file.

[2022-07-27 08:35] hsagnik commented on #1135
Absolutely @shelld3v moreover it is asking again and again for the same even the dependencies are installed already. Sure, I am happy to help you further.

[2022-07-27 08:59] shelld3v commented on #1135
Thank you for your information @hsagnik. I'm thinking about 2 solutions: improving the dependencies check or allowing users to run dirsearch with missing dependencies (save the option in the future). I'm approaching the first one, so I will need your system and environment information, later if we fail, I will have to do the second option

[2022-07-27 10:28] hsagnik commented on #1135
Here is the information on the systems I tested:

- [X] Ubuntu 22.04 LTS x86_64
- [X] Ubuntu 20.04 LTS x86_64
- [X] Kubuntu 22.04 LTS x86_64

The installed version of python:
- 3.10.4
- 3.8.5
- 3.10.4

[2022-07-27 15:32] deargle commented on #1130
Negative, I was just adding crumbs. I would have to dig into easy_install probably.

[2022-07-27 17:50] #1123 closed

[2022-07-27 17:51] #204 closed

[2022-07-28 03:31] zhibx opened #1142 "ConnectionResetError(10054, '远 程主机强迫关闭了一个现有的连接。', None, 10054, None))"):1/1 Thread-21"
### What is the current behavior?

您好！
我在使用中遇到这个错误，请问这是什么原因造成的呢？盼望您的回复！
[code]

### Any additional information?
win server2019
python3.8.8

#### Checker:
 - [x] I tested in the latest version of dirsearch

[2022-07-28 08:15] shelld3v commented on #1131
Hi, it's not an issue with dirsearch, please consider running the tool from a computer

[2022-07-28 08:15] #1131 closed

[2022-07-28 08:16] shelld3v commented on #1098
It's either the server was down or you used an old version of dirsearch

[2022-07-28 08:16] #1098 closed

[2022-07-28 08:17] shelld3v commented on #1098
要么是服务器已关闭，要么您使用的是旧版本的 dirsearch

[2022-07-28 08:18] shelld3v commented on #989
现在问题解决了吗？ （使用最新版本）

[2022-07-28 08:38] #1130 closed

[2022-07-28 08:43] shelld3v commented on #1077
Hello @p3stR, have you been able to fix this yet?

[2022-07-28 08:46] shelld3v commented on #1077
I think the only thing that can cause this issue is an invalid **invisible** character. You should try to type it manually instead of copying it from somewhere else (if you did)

[2022-07-28 08:50] shelld3v commented on #1142
错误信息搞砸了。您可以尝试使用 `-q` 重新运行命令吗？

[2022-07-28 09:08] shelld3v commented on #1120
UPDATE: it's not an old bug, but it was fixed

[2022-07-28 09:09] shelld3v commented on #1130
Duplicate of #1120

[2022-07-28 12:04] shelld3v commented on #1082
It's a server problem, unless you can give me the target to test, I'm closing this now

[2022-07-28 12:04] #1082 closed

[2022-07-28 22:52] its0x08 opened #1144 "`NoneType` object is not iterable"
### What is the current behavior?

There is a `TypeError`.

What actually happens?

It doesn't run. It exits because of the error.

### What is the expected behavior?
To not exit and show the usage message instead.

OS, python version, screenshots, dirsearch command, console output, ...?
[code]
#### Checker:
 - [x] I tested in the latest version of dirsearch

[2022-07-28 22:55] its0x08 commented on #1144
I bypassed (temporary fixed) it by replacing  this
[code]
with
[code]

[2022-07-28 23:05] its0x08 commented on #1144
Never mind! **The fix I proposed doesn't work!!**
It was showing the above error if no argument is supplied to the command.
So I rolled back my local changes and its working fine except for that one error if nothing is supplied..

[2022-07-29 00:55] zhibx commented on #1142
Please check the attachment.

[__22-07-29_08-52-20.txt](https://github.com/maurosoria/dirsearch/files/9215121/__22-07-29_08-52-20.txt)

[2022-07-29 04:15] shelld3v commented on #1142
It's a server issue, we can do nothing. Though I will fix it to clean the error in the output

[2022-07-29 04:21] shelld3v commented on #1142
I have confirmed that you are using an old version. Closing as per

[2022-07-29 04:21] #1142 closed

[2022-07-29 09:47] zhibx commented on #1142
Thank you for all your assistance. I have tested in the new version and the same bug still occurs occasionally. I think it may be caused by my server.

[2022-07-29 10:20] shelld3v commented on #1142
It was caused by your server but did the error message got messed up like in the previous version? Or was it a clean short message?

[2022-07-29 10:41] zhibx commented on #1142
yes,the error message got messed up like in the previous version

[2022-07-29 10:45] shelld3v commented on #1142
@zhibx Can you give me the error output you got, as well as the output of `./dirsearch.py --version`?

[2022-07-29 10:50] zhibx commented on #1142
C:\Users\Administrator\Desktop\dirsearch-master>python dirsearch.py --version
dirsearch v0.4.2.7
[error.txt](https://github.com/maurosoria/dirsearch/files/9219259/error.txt)

[2022-07-29 10:51] zhibx commented on #1142
he got new error when i run dirsearch

[code]

[2022-07-29 11:16] shelld3v commented on #1142
@zhibx it's because you didn't select the target, I have made a PR to recover the old error message too

[2022-07-29 11:23] zhibx commented on #1142
received with thanks.

[2022-07-29 17:15] shelld3v commented on #1137
Duplicate of #228

[2022-07-29 17:15] #1137 closed

[2022-07-29 23:40] diego23123 opened #1149 "Permission error for output file."
### Why am I getting permission issue for output file while running under a user?

I tried to run dirsearch under a user and tried to store the output in a file, but it says permission denied, may I know how to fix that?

When I run it using sudo it works fine.

Versions: linux, dirsearch v0.4.2

### Command:
dirsearch -u 192.168.1.171 -e php -o dirsearch1.txt

#### Checker:
 - [x] I read the docu

[2022-07-30 01:13] shelld3v commented on #1149
Try `sudo chmod 775 '[your output directory]'`

[2022-07-30 01:13] #1149 closed

[2022-07-30 08:51] #1144 closed

[2022-07-30 09:46] shelld3v opened #1150 "Allow HTTP protocol version setup"
### What is the feature?

Allow users to specify the HTTP protocol version (from both the command-line and raw request)

### What is the use case?

Some servers behave differently with different HTTP versions, this might be useful. Or maybe the reason to implement it is just as simple as making the settings more controllable for users

[2022-07-30 11:18] Kaz721 opened #1152 "filter extensions for crawling"
would love if you guys add a filter feature for crawling
ex : filtering js files

[2022-07-30 14:47] shelld3v commented on #1152
`--exclude-extensions" should have worked for this, I'm switching this to a bug

[2022-07-31 07:28] #1152 closed

[2022-07-31 13:28] shelld3v commented on #1087
@cyberindia1 Can you try again now? Have you fixed it?

[2022-08-01 02:52] 7Mitu opened #1161 "“--suffixes” seems doesn't work."
![bugdir](https://user-images.githubusercontent.com/30004765/182062873-7db85294-7645-438d-babb-f77e73bd4316.png)

[2022-08-01 13:37] shelld3v commented on #1161
That's not how `--suffixes` works, `--suffixes` just helps you append the suffixes to the end of entries in your wordlist. Do those paths exist or not? In this case, no, it has nothing to do with the feature itself. Please read carefully the README!

[2022-08-01 13:37] #1161 closed

[2022-08-03 08:06] 7Mitu commented on #1161
I thought it was overwriting.My fault.
If I want to scan only changed entries, what should I do?
Pls tell me ,thx.

[2022-08-03 13:12] shelld3v commented on #1161
I think the behavior has been changed in my recent updates, try updating your tool!

[2022-08-04 09:47] Teicu commented on #1117
Hi, still not works

_Missing required dependencies to run.
Do you want dirsearch to automatically install them? [Y/n] y
Installing required dependencies...
Failed to install dirsearch dependencies, try doing it manually.
xd@Pentest dirsearch % git pull
Already up to date._

pip3 install -r requirements.txt

_Installing collected packages: urllib3, soupsieve, PySocks, pyparsing, pycparser, ntlm_au

[2022-08-04 11:35] shelld3v commented on #1117
Enter `n`

[2022-08-08 02:47] Tsunamori opened #1168 "Unexpected SSL error"
### What is the current behavior?

Hi I'll just paste my command and response here. Feel free to test around the target for more info I assume it should be fine.
[code]

### What is the expected behavior?

After some searching around I think it should auto connect the host to bypass the SSL err?

### Any additional information?

working on kali, python3.9.2, and the dirsearch is up to date.

####

[2022-08-08 03:49] shelld3v commented on #1168
Run `python3 dirsearch.py ... --log log.log` and check `log.log`

[2022-08-08 03:53] shelld3v commented on #1168
I ran it successfully:

[code]

[2022-08-08 09:30] Tsunamori commented on #1168
Thanks for the quick response!
I got the log print - with the SSL error - and checked into it.
The first several lines are like this:
[code]
I haven't got a clear clue about how to fix it safely and completely, but it looks like the problem is not from the dirsearch code.
Here's my temporary solution for anyone who got same error there: **echo "CipherString=DEFAULT@SECLEVEL=1" >> /etc/ssl/openssl.

[2022-08-09 13:53] #1168 closed

[2022-08-14 04:22] #228 closed

[2022-08-16 06:52] 7Mitu opened #1169 "High CPU usage when reading dictionary"
![dirsearch](https://user-images.githubusercontent.com/30004765/184815975-30bd1767-9e6c-4b24-b24d-1e260f37447a.png)

[2022-08-16 10:42] maurosoria commented on #1169
Please setup the SWAP file https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-20-04-es

[2022-08-17 19:06] #1169 closed

[2022-08-21 09:40] shelld3v commented on #314
Hi @futex, dirsearch now has the `--crawl` option, do you think it replaced what you wanted to do?

[2022-08-22 08:41] futex commented on #314
Hi @shelld3v the option is great, but it didn't detect the directory listing on my tests.

[2022-08-22 11:29] shelld3v commented on #314
What is the purpose of detecting directory listing? Isn't it to discover new paths and dirsearch `--crawl` option can do it for you?

[2022-08-23 02:21] HyWell opened #1173 "exclude_status_codes not work"
### What is the current behavior?
exclude_status_codes not work
What actually happens?
exclude_status_codes not work
### What is the expected behavior?
exclude_status_codes work
What it should be instead?
exclude_status_codes work
### Any additional information?
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/21263451/186054770-73eec458-6fbc-42d7-8588-ae1ba5a5dca9.png"

[2022-08-25 12:54] #1173 closed

[2022-08-25 12:55] maurosoria commented on #1173
Hello @HyWell , I've merge a @shelld3v's fix. Can you update and tell us how it works?

[2022-08-26 01:30] HyWell commented on #1173
not work
<img width="466" alt="image" src="https://user-images.githubusercontent.com/21263451/186796989-90507bda-9579-4d5b-bebe-7da45573f1f9.png">
<img width="1131" alt="image" src="https://user-images.githubusercontent.com/21263451/186797092-b4047104-73ea-4061-8f72-7e08debd7ec6.png">

`
dirsearch/lib/core/fuzzer.py", line 203, in is_excluded
resp.status in self.blacklists
AttributeError: 'Fuzzer'

[2022-08-26 03:12] shelld3v opened #1183 "AttributeError: 'Fuzzer' object has no attribute 'blacklists'"
<img width="466" alt="image" src="https://user-images.githubusercontent.com/21263451/186796989-90507bda-9579-4d5b-bebe-7da45573f1f9.png">
<img width="1131" alt="image" src="https://user-images.githubusercontent.com/21263451/186797092-b4047104-73ea-4061-8f72-7e08debd7ec6.png">

[code]

_Originally posted by @HyWell in https://github.com/maurosoria/dirsearch/issues/1173#issuecomment-1227915938_

[2022-08-26 03:13] shelld3v commented on #1173
Thanks for reporting, that's another issue, I opened #1183 for it

[2022-08-26 19:20] kpomeroy1979 commented on #1183
I'm experiencing the exact same issue. When I use dirsearch.py with the --proxy option.

[2022-08-27 17:12] B4RD4k commented on #1183
Also happening at my end

Please fix it

[2022-08-27 17:39] kpomeroy1979 commented on #1183
I put the exact command you should run to apply the temporary fix.

Sent from my iPhone

[2022-08-27 20:21] qianque commented on #1183
i have this error too,please fix it

[2022-08-28 02:46] shelld3v commented on #1183
The fix is waiting for approval, you can check out @kpomeroy1979 suggestion for an immediate fix

[2022-09-01 03:26] hu185396 opened #1186 "Missing required dependencies to run"
每次运行都会提示Missing required dependencies to run.Do you want dirsearch to automatically install them?
实际已经安装requirements.txt中的包
![image](https://user-images.githubusercontent.com/50415778/187825361-176d06ab-1dee-4bda-89b4-59ba95494a76.png)

[2022-09-02 07:15] #1183 closed

[2022-09-02 07:15] shelld3v commented on #1186
Duplicate of #1135

[2022-09-02 07:15] #1186 closed

[2022-09-02 15:42] shelld3v opened #1187 "Keyboard interruption doesn't stop threads that were caused by crawling"
### What is the current behavior?

In `/lib/core/fuzzer.py`, [new crawls (`Fuzzer.scan` session) are started in `Fuzzer.scan`](https://github.com/maurosoria/dirsearch/blob/a0c5f5dc2c2116a24178aa98e8d55602f47754ff/lib/core/fuzzer.py#L186), but [`play_event` is only checked in `Fuzzer.thread_proc`](https://github.com/maurosoria/dirsearch/blob/a0c5f5dc2c2116a24178aa98e8d55602f47754ff/lib/core/fuzzer.

[2022-09-05 13:21] AzhariRamadhan opened #1190 "Cannot run dirsearch in macbook pro m1 terminal"
azhariramadhan@MacBook-Pro-Azhari dirsearch % python3 dirsearch.py --url https://evil.com/

  _|. _ _  _  _  _ _|_    v0.4.2.8
 (_||| _) (/_(_|| (_| )

Extensions: php, aspx, jsp, html, js | HTTP method: GET | Threads: 25
Wordlist size: 11458

Output File: /Users/azhariramadhan/dirsearch/reports/https_evilcom/__22-09-05_20-18-02.txt

Target: https://evil.com/

[20:18:02] Starting:

Task Completed

[2022-09-05 18:50] euzada opened #1191 "Installed in Termux but no output"
Hi, I installed dirsearch latest version successfully with no error. All requirements are met. When I run a test using the following example, it shows tasks completed but with no output. No error, no output regardless of the url scanned or parameters used.

`python3 dirsearch.py -u http://target_urrl.com -e php`
I can easily provide screenshot if required. Any suggestions or help will be greatly a

[2022-09-06 01:38] SaltNego opened #1192 "求教为什么我更新到最新版本后，扫描时无任何回显，所有网站都一样"
### What is the question?
求教为什么我更新到最新版本后，扫描时无任何回显，所有网站都一样
What do you like to ask about?
![image](https://user-images.githubusercontent.com/19511250/188528858-156bd944-44f6-4a8d-940e-d0aee757b1ac.png)

[2022-09-06 03:29] shelld3v commented on #1191
Duplicate of #1190

[2022-09-06 03:29] #1191 closed

[2022-09-06 03:30] shelld3v commented on #1192
Duplicate of #1190

[2022-09-06 03:30] #1192 closed

[2022-09-06 13:19] euzada commented on #1190
Hi I test it again on Windows terminal (Ubuntu) and got the same bug: no result in terminal.

So, I test it again using --log option to see the output results in a separate file, it works. I have all the results including all the GET with 200, 301, 404, ... status. I believe the issue is the terminal should show the 200 status directly filtered but this is not the case.
[results.txt](https://githu

[2022-09-06 13:27] AzhariRamadhan commented on #1190
@euzada not solve, no result in report, still empty

[2022-09-06 14:38] shelld3v commented on #1190
Hi, the bugs haven't been fixed yet, please be patient

[2022-09-06 18:44] #1190 closed

[2022-09-06 18:50] euzada commented on #1190
I didn't say it is solved. I said the log file will have all the results but the output in terminal still has issues.

[2022-09-06 19:29] euzada commented on #1190
It's working now. thank you.

[2022-09-07 02:18] Prady18 opened #1194 "$pythan is not working error"
### What is the current behavior?

What actually happens?

### What is the expected behavior?

What it should be instead?

### Any additional information?

Screenshots, dirsearch log, dirsearch version, used command, ...?

[2022-09-07 03:41] shelld3v commented on #1194
Can you give me more details? Screenshots?

[2022-09-11 04:49] Prady18 commented on #1194
Please can you teach me ethical hacking।
   Please 😔

[2022-09-11 04:50] #1194 closed

[2022-09-11 04:51] Prady18 opened #1196 "can you teach me ethical hacking। Please"
##can you teach me ethical hacking।
   Please..?

[2022-09-12 09:28] p3stR commented on #1077
Hi @shelld3v, I was getting the same error even if I was typing it manually. I have installed a new kali VM and I don't face the issue now but I was not able to fix it or find a workaround in the previous installation.

[2022-09-13 02:02] Peter128 opened #1198 "ModuleNotFoundError: No module named 'lib.core'"
下载dirsearsch后解压针对 requirements.txt里面的包进行安装后。执行python dirsearch.py 报错：
![image](https://user-images.githubusercontent.com/12481595/189790827-31b91cb0-e25f-48ca-849f-05a5a66e9856.png)
网上找了很多方法试了都没有用。是那里还需要设定么？python版本：3.10.6

[2022-09-14 03:58] shelld3v commented on #1198
Try: `pip uninstall lib`

[2022-09-14 12:54] #1196 closed

[2022-09-19 08:47] Peter128 commented on #1198
卸载之后又报错：'ModuleNotFoundError: No module named 'lib'

[2022-09-19 12:12] adfoster-r7 commented on #676
I ran into this issue against an older iis server; you can replicate the issue locally by setting up a tls1 server:

[code]

Verify `curl` works with the explicit tls1 flag:
[code]

Example of the dirsearch error when scanning the tls1 server:
[code]

Work around patch I applied locally to make it work (on a slightly older dirsearch version):

[code]

[2022-09-19 14:49] shelld3v commented on #676
@adfoster-r7 Thanks for your effort, I have actually made the same fix locally already but haven't pushed it to the code yet because I didn't have any target to test, now I can:)

[2022-09-19 22:28] hasanimad opened #1201 "error when url not working"
dirsearch version 0.4.2.

when encountering a non-working url, it gives this error

`Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/dirsearch/lib/connection/requester.py", line 83, in __init__
    self.ip = socket.gethostbyname(self.host)
socket.gaierror: [Errno -2] Name or service not known

During handling of the above exception, another exception occurred:

Traceback

[2022-09-20 11:20] Prady18 commented on #1201
[]()~~ustha full install ing~~

[2022-09-20 11:22] Prady18 commented on #1077
Restar and full installation okay

[2022-09-22 03:29] Prady18 commented on #1201
What happened

[2022-09-23 01:01] soldierbro opened #1202 "There was a problem in the requests to : http://……"
### What is the current behavior?

v0.4.2.8版本，有的url不能扫描，提示There was a problem in the requests to : http://……
同一个url在v0.3.9可以正常扫描

![微信图片_20220923090022](https://user-images.githubusercontent.com/26686160/191875590-a2772f92-ef5c-4167-a3fd-d458f7529666.png)
![微信图片_20220923090311](https://user-images.githubusercontent.com/26686160/191875594-5bb670bc-e4a9-4f2d-8a38-f7a90460bdb9.png)

[2022-09-25 04:18] shelld3v commented on #1202
您可以尝试运行相同的命令，但使用 `--log debug.log` 并检查 `debug.log`？

[2022-09-25 04:20] shelld3v commented on #1201
It's an old bug, it will be fixed once dirsearch v0.4.3 is released on PyPi, sorry for the inconvenience!

[2022-09-25 04:20] #1201 closed

[2022-09-25 16:15] 4b3j commented on #1198
For `pip3 install lib` or `pip install lib`

[2022-09-25 16:58] shelld3v commented on #1198
That won't fix the issue, instead it will cause another issue

[2022-09-26 08:04] 4b3j commented on #1198
What issue is caused when you install the `lib` library

[2022-09-26 08:06] 4b3j commented on #1198
If the issue keep happening, you can try uninstalling python and all packages. Then do a reinstall, what os are you running on?
Did you run `pip install -r requirements.txt`

[2022-10-01 14:10] shelld3v opened #1204 "Allow editing path format for auto-save output files"
Follow up https://github.com/maurosoria/dirsearch/pull/1197#issuecomment-1264375480

[2022-10-02 06:27] shelld3v commented on #676
@adfoster-r7 Do you know how to host a TLSv1.2-only server?

[2022-10-02 16:09] adfoster-r7 commented on #676
Should be the same as the steps above but just with the `-tls1_2` flag:

[code]

Verifying:

[code]

Or with sslscan:

[code]

[2022-10-03 12:56] shelld3v commented on #736
Hi @qumusabel, I can't upload dirsearch to PyPi now, nothing was created under `/tmp` 🤔

[2022-10-03 13:24] qumusabel commented on #736
Hi. I don't know what went wrong...  I can't investigate it right now, sorry. (Maybe checking dist commands are not in sys.argv before shutil.rmtree will help?)

[2022-10-03 13:36] shelld3v commented on #736
@qumusabel Sorry for the ping, I solved the issue, couldn't find the output path anywhere in the progress log but found it via `grep`

[2022-10-03 15:54] shelld3v opened #1206 "Web crawling does not work"
Reported by @wdahlenburg

[code]

[2022-10-03 16:59] shelld3v opened #1209 "Recursively scan directories that were found via web crawling"
### What is the feature?

We should add directories/sub-directories that are contained in paths, found via crawling to the recursion queue no matter whether those paths are wildcard or not. Maybe an optional argument?

### What is the use case?

Sometimes we find files (paths to files) in the response that are no longer there, maybe they were deleted, but the folders/directories still exist and mi

[2022-10-04 05:42] #1206 closed

[2022-10-05 14:13] its0x08 opened #1210 "Exception handler needed for `KeyboardInterrupt` while installing requirements."
### What is the current behavior?

When the tool offers to auto install the requirements and the user presses Ctrl+C it throws the exception.

### What is the expected behavior?
Probably it's better to parse Ctrl+C as a no and not throw the error but show a quit message instead.

Screenshots, dirsearch log, dirsearch version, used command, ...?

[code]

[2022-10-05 23:42] #1210 closed

[2022-10-06 12:43] Prady18 commented on #1209
Okay just try 👽👽

[2022-10-06 20:38] shamrocksu88 opened #1212 "OSError: Too many open files"
### What is the current behavior?

Errors out during the scan with error - OSError: [Errno 24] Too many open files when ran with domain list as param.

 python3 dirsearch.py -l domains.txt

Tried with various thread values as well but still the same error.

### What is the expected behavior?

Should not error out instead directory scan should complete.

### Any additional information?

Version: di

[2022-10-08 12:06] shelld3v commented on #676
@adfoster-r7 Can you check if the issue is still reproducible with dirsearch v0.4.3?

[2022-10-09 13:05] Shadow1221a opened #1214 "Wordlist size increment"
Word list size increment to fetch more hidden files using path traversal

[2022-10-09 14:03] shelld3v commented on #1214
Can you give me example?

[2022-10-11 06:11] Shadow1221a commented on #1214
CONSUMER_KEY
CONSUMER_SECRET
plugins
filesystem

i used this consumer_key in my recon process it helped me

[2022-10-12 03:04] Studentz80 opened #1215 "Couldn't create report folder at reports/"
Hi, I ran dirsearch and this error pops out

![image](https://user-images.githubusercontent.com/76755784/195240405-7c5bbe8c-af1f-4cab-baba-e075ae18e920.png)

The reports folder does exist btw

Is there any way we can resolve this? Any help is appreaciated. Thanks

[2022-10-14 08:28] shiva-kurapati commented on #736
Hi, I ran dirsearch and this error pops out
![195240405-7c5bbe8c-af1f-4cab-baba-e075ae18e920](https://user-images.githubusercontent.com/77544957/195800132-d5383ff2-cba2-423c-910d-72007a80f436.png)

how can i resolve this error

[2022-10-14 13:00] shelld3v opened #1217 "Flexible locations for dirsearch configuration file"
### What is the feature?

At the moment to use `config.ini` you have to save the file inside dirsearch directory or use the `--config` flag. The tool should be able to automatically find the file (look at some specific directories like `.config/dirsearch`, ...) or there should be an environment variable to locate the file

### What is the use case?

People who often update dirsearch don't have to

[2022-10-18 18:32] eth0-re opened #1219 "Crawling Doesn't Happen Against Root Directory"
Absolutely loving the new crawling behaviour! Especially with Spidy no longer working on Python 3.10!

Just found an issue where the base path is not included as a source for the crawler. I've created a hacky workaround, but I expect there's a much more semantically correct method

### What is the current behavior?
When scanning using the `--crawl`, only directories that were hit during a normal b

[2022-10-19 11:52] shelld3v commented on #1219
Seems to be a great idea, dirsearch should crawl the base path too, thanks for your suggestion!

[2022-10-21 16:15] shelld3v opened #1220 "Threads are broken after keyboard interruptions"
### What is the current behavior?

A really weird bug: When you use CTRL+C to pause and then continue, after x number of times, with x as the number of threads, dirsearch will finish

### Any additional information?

[code]

[2022-10-22 16:17] Kaz721 opened #1221 "Wordlist by directory"
while doing some enumeration i felt kinda switching between wordlists isn't comfortable so i thought about suggesting you guys support directory as the input for wordlists, like  `-w Wordlists/` which will will select all files in the folder

Thanks

[2022-10-23 08:53] #874 closed

[2022-10-24 14:29] shelld3v commented on #1215
It doesn't seem to be an issue from dirsearch. Try creating `reports/` manually

[2022-10-24 14:29] #1215 closed

[2022-10-25 11:04] netwons opened #1224 "error in run dirsearch"
**code**:python3 dirsearch.py -u https://securemail.bbb.com/help/ -w ~/ffuf/SecLists/Discovery/Web-Content/raft-large-directories.txt
[code]

[2022-10-25 11:55] shelld3v commented on #1224
`./dirsearch.py --version` output?

[2022-10-25 11:56] shelld3v commented on #1212
`python3 dirsearch.py --version` output?

[2022-10-25 14:02] cl0se2U opened #1225 "Skip HTTPS certificate validation"
Hoped that the next version can be implemented to skip https certificate verification function

[2022-10-25 14:21] shelld3v commented on #1225
Can you give me an example? Cause dirsearch always skips HTTPS certificate validation

[2022-10-26 06:36] cl0se2U commented on #1225
Sometimes we need to scan for sites with the expired ssl, but a direct request will return a certificate error, in which case we may need to skip the authentication.Just like this:

醉月居士
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "maurosoria/dir

[2022-10-26 06:42] cl0se2U commented on #1225
The pictrue is lost....

[2022-10-26 11:51] shelld3v commented on #1225
@cl0se2U Can you resend the image? I can't see anything

[2022-10-26 12:25] cl0se2U commented on #1225
![image](https://user-images.githubusercontent.com/83335402/198025475-431e5ebb-6330-4dd9-9c98-9779562f007a.png)

[2022-10-26 13:44] shelld3v commented on #1225
I believe we have already done that, can you give me an example target?

[2022-10-27 06:12] cl0se2U commented on #1225
All right, I try to reinstall the libs and it fixed. But sometimes I scaned some sites with the ssl missed, dirsearch will return the error, maybe i will try to reinstall the lib to fix it next time.

[2022-10-27 14:39] shelld3v commented on #1214
@Shadow1221a You want to add those words to the wordlist or what?

[2022-10-28 15:44] #1225 closed

[2022-10-29 19:54] netwons commented on #1224
@shelld3v
dirsearch v0.4.3

[2022-10-30 15:43] shelld3v opened #1229 "Wordlist from STDIN"
### What is the feature?

Read the title

Usage: `dirsearch -w - ...`

### What is the use case?

This allows users to flexibly modify the wordlist (cutting, altering paths, ...) before using it for dirsearch

[2022-10-31 04:04] shelld3v opened #1230 "Option to disable CLI output"
### What is the feature?

Option to disable the command-line output, users can only get the results through report files

[2022-10-31 04:22] shelld3v opened #1231 "List in config file"
### What is the feature?

Allow properties in the configuration file to have a list as the value

### What is the use case?

Some dirsearch options support multiple values, like HTTP headers, but you can't do it from the config file

[2022-10-31 15:22] shelld3v opened #1233 "Start time in output file is incorrect"
### What is the current behavior?

When generating the report template, we run `time.ctime()` to get the start time; however, we re-generate the template every time we receive a new result, therefore the information about the start time is refreshed continuously and inaccurate

### What is the expected behavior?

Save the start time in a variable and keep reusing it, or maybe refactor the reportin

[2022-11-02 11:13] Shadow1221a commented on #1214
@shelld3v yes

[2022-11-02 12:42] shelld3v commented on #1214
You can always open a PR for it (edit `db/dicc.txt`, that's the default wordlist, make sure you keep it sorted)

[2022-11-02 12:42] #1214 closed

[2022-11-03 03:59] #881 closed

[2022-11-03 04:02] #832 closed

[2022-11-03 04:04] #985 closed

[2022-11-03 04:06] #1001 closed

[2022-11-03 04:06] shelld3v commented on #1001
Closed because it was not an issue with dirsearch itself

[2022-11-03 04:09] #989 closed

[2022-11-04 03:32] jinzezhi opened #1235 "安装依赖库时报错"
![image](https://user-images.githubusercontent.com/93123422/199879336-f771871a-3419-46bd-88b9-6255aff1c0d0.png)
安装依赖库时报这个错误，然后再使用pip就不能用了 一直报错如下图
![image](https://user-images.githubusercontent.com/93123422/199879425-9ada9bdf-95f2-41cb-8137-44837e8657f6.png)

[2022-11-04 03:40] shelld3v commented on #1235
Check this: https://github.com/pyca/pyopenssl/issues/1154

This comment recommended a solution: https://github.com/pyca/pyopenssl/issues/1154#issuecomment-1269882738

[2022-11-05 16:33] shelld3v commented on #1224
It was not an issue from dirsearch but the server refused your connections, probably because of the massive number of requests, try lowering the threads. Though dirsearch should have handled those tracebacks, so I will keep this open

[2022-11-05 18:16] shelld3v commented on #1087
@cyberindia1 Can you give me the output of `pip show requests` and `pip show urllib3`?

[2022-11-05 19:41] lachokds opened #1238 "Pausing a scan with ctrl+c causes error"
### What is the current behavior?

When running `dirsearch.py` on a target, if I try to pause the execution by typing `ctrl+c`, the program halts without letting me answer the `quit/continue/next/skip` prompt.

This is followed immediately by the traceback of the error.

### What is the expected behavior?

I suppose I should be able to choose whether to quit/continue/move to the next target/skip t

[2022-11-07 04:12] #1077 closed

[2022-11-07 17:42] shelld3v commented on #1068
@qutaibam0 Can you give me the output of `cat /usr/local/lib/python3.9/dist-packages/dirsearch-0.4.2-py3.9.egg/dirsearch/reports`?

[2022-11-08 07:54] nbxiglk0 opened #1242 "When scanning a large number of websites, how can I automatically filter out some similar responses?"
### What is the question?
Hi,
I would like to ask how to filter out some similar responses when scanning some websites in bulk, I have encountered this situation where all paths return the same status code whether they exist or not, for example 200 or all response will 302 to a same url), and the response packet size also has some slight differences depending on the requested path (often because t

[2022-11-08 08:56] #1087 closed

[2022-11-08 08:56] cyberindia1 commented on #1087
It's fixed now

[2022-11-08 12:05] shelld3v commented on #1087
How did you fix it?

[2022-11-09 08:42] nbxiglk0 commented on #1242
Hi,thanks for your advance,I tried this command and it seemed to work.
but I ran into another situation where only a few sites in a URL list would have a rate limit, and these sites would start out fine, and then after a while the rate limit would cause all subsequent URL requests to the site to return a similar response (like 403), at which point I had to manually cancel the command and add the s

[2022-11-09 15:43] nbxiglk0 commented on #1242
Thank you for your contribution and look forward to the release of new features

[2022-11-09 15:44] #1242 closed

[2022-11-11 21:44] #1217 closed

[2022-11-11 21:45] #1221 closed

[2022-11-11 21:46] #1220 closed

[2022-11-12 02:28] #1231 closed

[2022-11-13 05:20] shelld3v commented on #1198
Doesn't seem to be an issue with dirsearch, closing this

[2022-11-13 05:20] #1198 closed

[2022-11-13 06:12] #1238 closed

[2022-11-13 08:58] shelld3v opened #1243 "Time value in MySQL and PostgreSQL reports is incorrect"
### What is the current behavior?

The `time` column in MySQL and PostgreSQL reports is incorrect. Similar root cause to #1233

[2022-11-18 08:12] pwnb0y opened #1246 "At first, it should check whether the pip is installed or not before doing the automated installation of dirsearch dependencies"
### What is the current behavior?
  The current behavior is to throw an exception if any fault is found on the install_dependencies() function

### What is the expected behavior?
 It should check whether the pip is installed or not before doing the automated installation of dirsearch dependencies.
If the pip is not installed then install the pip first or suggest the user install it.

[2022-11-18 08:14] pwnb0y commented on #1246
If it is the stuff that can be implemented in dirsearch then please let me know I want to work on it.

[2022-11-18 12:19] shelld3v commented on #1246
Great catch, and yes you can work on it if you want, I really appreciate that

[2022-11-20 16:11] pwnb0y commented on #1246
Thanks @shelld3v I will do my best 😊

[2022-11-29 20:34] halfluke opened #1249 "Minor spelling error in Accept-Encoding header / headers not capitalized"
### What is the current behavior?

What actually happens?

lib/core/settings.py has the following:
DEFAULT_HEADERS = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36",
    "accept": "*/*",
    "accept-rncoding": "*",
    "keep-alive": "timeout=15, max=1000",
    "cache-control": "max-age=0",
}
Nothing special, b

[2022-11-30 02:50] shelld3v commented on #1249
Nice catch!

[2022-11-30 02:51] shelld3v commented on #1249
It works as intended and has been proven not to cause any issue